; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket
add:
; --- meme
{
	"classname" "prop_dynamic"
	"origin" "-8667 -14072 -512"
	"angles" "0 -21 0"
	"model" "models/infected/boomer_l4d1.mdl"
	"solid" "6"
	"disableshadows" "1"
	"DefaultAnim" "BoomerVar_squat_idle"
}
{
	"classname" "weapon_spawn"
	"origin" "-8647 -14080 -485"
	"angles" "0 -27 0"
	"weapon_selection" "weapon_pistol"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- TLS removals
add:
{
	"model" "*36"
	"spawnflags" "1"
	"origin" "-8022 -15149 337"
	"filtername" "filter_survivor"
	"classname" "trigger_once"
	; --- Clip behind starting saferoom
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip00,Kill,,1,-1"
	; --- Clips between cliff before bridge
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip02,Kill,,1,-1"
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip03,Kill,,1,-1"
	"OnTrigger" "anv_mapfixes_meticulous_stuckspot,Kill,,1,-1"
	; --- Clips behind rocks by trailer
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip04,Kill,,1,-1"
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip05,Kill,,1,-1"
	"OnTrigger" "anv_mapfixes_meticulous_slidespot,Kill,,1,-1"
	; --- Clips on roofs in train depot
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip06,Kill,,1,-1"
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip01,Kill,,1,-1"
	; --- Clips above the end saferoom
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip07,Kill,,1,-1"
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip08,Kill,,1,-1"
	"OnTrigger" "anv_mapfixes_meticulous_funcinfclip09,Kill,,1,-1"
}
}
; --- infected ladder to climb above into the rocks without surfing up a hill
add:
{
	"model" "*17"
	"normal.z" "0.57"
	"normal.y" "0.80"
	"normal.x" "-0.17"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2279.66 -5954.44 5513.21"
	"angles" "0.00 12.00 35.00"
}
; --- extra infected ladders to get out of pit in beginning
{
	"model" "*17"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1011.42 -4570.71 -712.46"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*14"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "57.95 643.85 -566.35"
	"angles" "0.00 0.00 0.00"
}
; --- rocks for above ladders to meet up with
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-8140 -13965 -310"
	"angles" "-95 0 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-8989 -13540 -302"
	"angles" "-95 0 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
; --- prevent survivors getting stuck in large ditch near starting area for warmup memes
{
	"solid" "6"
	"origin" "-8200 -13380 -515"
	"angles" "-67.5 70 0"
	"model" "models/props_foliage/old_tree01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
; --- block part of death jockey at first death charge out of saferoom, will also make death charge harder
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-9399 -14018 735"
	"angles" "180 45 235"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
; --- restrict jockey movement around death jockey pre-bridge
{
	"solid" "6"
	"origin" "-10711 -12313 458"
	"angles" "0 205 10"
	"model" "models/props_foliage/fallentree_dry01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
; --- Ladder out of pit under bridge
{
	"model" "*16"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1.00 -2742.50 9.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*16"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1.00 -2742.50 -503.00"
	"angles" "0.00 0.00 0.00"
}
; --- post-bridge death jockey (leaving the other side still jockeyable, since it is an uncommon place to be anyway)
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-10957 -11055 357"
	"angles" "-89 168 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
; --- invis wall on side of rock to force survivors to get ledged onto bridge
{
	"origin" "-11000 -10993 382"
	"mins" "-10 -148 -1000"
	"maxs" "10 0 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- make a tree set solid between ammo building and bridge
{
	"solid" "6"
	"origin" "-11284 -10824 388"
	"angles" "0 57 0"
	"model" "models/props_foliage/trees_cluster01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
	"rendermode" "10"
}
; --- invis blocks for above tree set
{
	"origin" "-11284 -10824 388"
	"mins" "-6 -4 -0"
	"maxs" "6 4 220"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Slightly improve collision view on rock to right of bridge
{
	"solid" "0"
	"disableshadows" "1"
	"origin" "-10280 -10662 788"
	"angles" "-15 135 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "0"
	"disableshadows" "1"
	"origin" "-10338 -10736 797"
	"angles" "-15 135 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "0"
	"disableshadows" "1"
	"origin" "-10376 -10796 806"
	"angles" "-15 135 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "0"
	"disableshadows" "1"
	"origin" "-10446 -10896 822"
	"angles" "-15 135 -90"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"classname" "prop_dynamic"
}
; --- AC unit on ammo building roof for extra spawn cover
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/acunit2.mdl"
	"solid" "6"
	"origin" "-11291 -9969 596"
}
; --- add a tree near ammo building for extra spawns/tank LOS blocking
{
	"solid" "6"
	"origin" "-10540 -9888 416"
	"angles" "0 90 0"
	"model" "models/props_foliage/old_tree01.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
; --- Block surivors from being punched into tree beside house
{
	"origin" "-11306 -10432 440"
	"mins" "-50 -48 0"
	"maxs" "0 0 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- fix stuck spot near ammo building between trees and a rock
{
	"origin" "-11248 -9506 436"
	"mins" "-42 -0.1 -0.1"
	"maxs" "0.1 40 25"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- clipping for TLS rock ladder
{
	"origin" "-10100 -9092 432"
	"mins" "-50 0 -0"
	"maxs" "0 160 17"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-10106 -9090 449"
	"mins" "-50 0 -0"
	"maxs" "0 156 17"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-10112 -9088 466"
	"mins" "-50 0 -0"
	"maxs" "0 152 17"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- extra ladder up an electric pole
{
	"model" "*32"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-15138.33 -2871.41 230.44"
	"angles" "0.00 90.00 0.00"
}
; --- Ladder on tunnel top to help getting onto roof
{
	"model" "*37"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-412.00 -906.00 29.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ammo pile outside saferoom
{
	"classname" "weapon_ammo_spawn"
	"origin" "-6552 -7944 384"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- ladder onto top of end saferoom
{
	"model" "*31"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "495.00 912.00 270.00"
	"angles" "0.00 0.00 0.00"
}
; --- Block survivors from entering saferoom until tank dies
;{
;	"classname" "prop_dynamic"
;	"angles" "0 0 0"
;	"disableshadows" "0"
;	"model" "models/props_placeable/striped_barricade.mdl"
;	"solid" "0"
;	"origin" "-6544 -7277.9 348"
;	"targetname" "tankwall"
;	"rendermode" "1"
;	"renderamt" "125"
;	"fademindist" "200"
;	"fademaxdist" "300"
;}
;{
;	"classname" "prop_dynamic"
;	"angles" "0 0 0"
;	"disableshadows" "0"
;	"model" "models/props_placeable/striped_barricade.mdl"
;	"solid" "0"
;	"origin" "-6544 -7277.9 408"
;	"targetname" "tankwall"
;	"rendermode" "1"
;	"renderamt" "125"
;	"fademindist" "200"
;	"fademaxdist" "300"
;}
;{
;	"origin" "-6544 -7280 348"
;	"mins" "-40 0 0"
;	"maxs" "40 1 128"
;	"initialstate" "1"
;	"BlockType" "1"
;	"classname" "env_physics_blocker"
;	"targetname" "tankwall"
;}
; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================
add:
; --- Shotgun spawn outside the trailer
{
	"classname" "weapon_spawn"
	"origin" "-11134 -9755 451"
	"angles" "1.35386 278.973 -91.1904"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- SMG spawn in the trailer
{
	"classname" "weapon_spawn"
	"origin" "-11267 -9790 479"
	"angles" "0 270 -90"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
modify:
; --- Make ammo pile in trailer always spawn
{
	match:
	{
		"hammerid" "229334"
	}
	insert:
	{
		"spawnflags" "2"
	}
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================
; --- Make 2 cars by the trailer unhittable, like in L4D1
filter:
{
	"targetname" "InstanceAuto1-car_physics"
}
{
	"parentname" "InstanceAuto1-car_physics"
}
{
	"targetname" "InstanceAuto2-car_physics"
}
{
	"parentname" "InstanceAuto2-car_physics"
}
add:
; --- Spawn cars in exact positions from L4D1
{
	"classname" "prop_dynamic"
	"origin" "-11128 -10420 428"
	"angles" "3.4996 10.9559 -1.0017"
	"model" "models/props_vehicles/cara_84sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendercolor" "142 96 45"
}
{
	"classname" "prop_dynamic"
	"origin" "-11128 -10420 428"
	"angles" "3.4996 10.9559 -1.0017"
	"model" "models/props_vehicles/cara_84sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-10815 -10079 413"
	"angles" "-2.8472 67.4044 1.0068"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-10815 -10079 413"
	"angles" "-2.8472 67.4044 1.0068"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================
add:
; --- Prevent infected from going out of bounds around the edges of the map
{
	"classname" "env_physics_blocker"
	"origin" "-12173 -14739 -28"
	"angles" "0 15 0"
	"mins" "-50 -1225 -90"
	"maxs" "50 1225 90"
	"boxmins" "-50 -1225 -90"
	"boxmaxs" "50 1225 90"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-12915 -12256 -31"
	"angles" "0 30 0"
	"mins" "-58 -113 -90"
	"maxs" "58 113 90"
	"boxmins" "-58 -113 -90"
	"boxmaxs" "58 113 90"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-13270 -11326 -28"
	"angles" "0 15 0"
	"mins" "-50 -851 -90"
	"maxs" "50 851 90"
	"boxmins" "-50 -851 -90"
	"boxmaxs" "50 851 90"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Prevent infected from going out of bounds behind tree cards near the end of the map
{
	"classname" "env_physics_blocker"
	"origin" "-8450 -10408 996"
	"mins" "-194 -20 -484"
	"maxs" "194 20 484"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "-8030 -10442 996"
	"angles" "0 -10 0"
	"mins" "-230 -18 -484"
	"maxs" "230 18 484"
	"boxmins" "-230 -18 -484"
	"boxmaxs" "230 18 484"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================
add:
; --- Tree clusters by the saferoom to nerf death charge potential
{
	"classname" "prop_dynamic"
	"origin" "-9326 -14230 605"
	"angles" "0 90 0"
	"model" "models/props_foliage/trees_cluster02.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Rocks by the end saferoom for spawns
{
	"classname" "prop_dynamic"
	"origin" "-6039 -9609 545"
	"angles" "-8.47683 312.545 62.582"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-6124 -8291 444"
	"angles" "-7.8343 22.6319 84.0655"
	"model" "models/props_wasteland/rock_moss04.mdl"
	"solid" "6"
	"disableshadows" "1"
}

; =====================================================
; ==             LADDER / ELEVATOR NERF              ==
; ==   Nerf ladder & elevator attacks for infected   ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================
modify:
; --- Reduced density of fog in first half of map to match fog in second half of map, to improve visibility
{
	match:
	{
		"targetname" "exteriorfogcontroller"
	}
	replace:
	{
		"fogend" "2200"
	}
}
