; =====================================================
; ========= Get rid of Tower Footlocker AK47s =========
; =====================================================
modify:
{
	match:
	{
		"hammerid" "2263638"
	}
	{
	delete:
	{
		"OnPressed" "case_footlockerPickRandom0.11"
	}
	insert:
	{
		"OnPressed" "f_locker_ak1Kill0.1-1"
		"OnPressed" "f_locker_ak2Kill0.1-1"
	}
}

; --- Make item spawns consistent (4 pills)
filter:
{
	"classname" "weapon_item_spawn"
}
{
	"classname" "weapon_first_aid_kit_spawn"
}
add:
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
	"origin" "-4342 3597 899.99"
	"angles" "90 255 0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
	"origin" "-4343 3670 900.128"
	"angles" "90 150 0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
	"origin" "-4345 3635 900.079"
	"angles" "90 315 0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
	"origin" "-4342 3610 899.723"
	"angles" "90 105 0"
}
