filter:
{
	"classname" "prop_health_cabinet"
}
modify:
{
	match:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	replace:
	{
		"classname" "weapon_pain_pills_spawn"
	}
}
; --- saferoom balance
; --- add QoL ladder onto top of saferoom
add:
{
	"model" "*112"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-498.00 944.00 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- a ? block to spawn from
;{
;	"classname" "func_brush"
;	"model" "*208"
;	"spawnflags" "2"
;	"Solidity" "2"
;	"angles" "90 90 0"
;	"origin" "1600 -2192 -0.1"
;}
add:
;{
;	"origin" "0 0 0"
;	"targetname" "doge1"
;	"model" "maps/c1_mario1_3.bsp"
;	"StartDisabled" "1"
;	"spawnflags" "2"
;	"Solidity" "2"
;	"classname" "func_brush"
;}
; --- fix ledge hang on hunting rifle platform
{
	"model" "*190"
	"spawnflags" "1"
	"angles" "0 90 0"
	"origin" "-558 -1856 448"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
{
	"model" "*190"
	"spawnflags" "1"
	"angles" "0 90 0"
	"origin" "-850 -1856 448"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
{
	"model" "*190"
	"spawnflags" "1"
	"angles" "0 90 0"
	"origin" "-558 -1792 448"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
{
	"model" "*190"
	"spawnflags" "1"
	"angles" "0 90 0"
	"origin" "-850 -1792 448"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
{
	"model" "*190"
	"spawnflags" "1"
	"origin" "-704 -1664 448"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
; --- fix ledge hang on a ladder
{
	"model" "*100"
	"spawnflags" "1"
	"origin" "544 -1788 458"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
; --- ammo
{
	"classname" "weapon_ammo_spawn"
	"origin" "438 -1337 0"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- fix ledge hang on moving platforms
{
	"model" "*182"
	"spawnflags" "1"
	"origin" "1095 -2200 302"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
{
	"model" "*182"
	"spawnflags" "1"
	"origin" "1195 -2200 400"
	"classname" "trigger_multiple"
	"OnStartTouch" "!activatorDisableLedgeHang0-1"
	"OnEndTouch" "!activatorEnableLedgeHang0-1"
}
; --- signify ladder
{
	"classname" "func_brush"
	"model" "*5"
	"spawnflags" "2"
	"Solidity" "2"
	"angles" "90 90 0"
	"rendercolor" "10 10 10"
	"origin" "1728 -2192 -0.1"
}
{
	"classname" "func_brush"
	"model" "*5"
	"spawnflags" "2"
	"Solidity" "2"
	"angles" "90 0 0"
	"rendercolor" "10 10 10"
	"origin" "1680 -2143.9 0"
}
{
	"classname" "func_brush"
	"model" "*5"
	"spawnflags" "2"
	"Solidity" "2"
	"angles" "90 90 0"
	"rendercolor" "10 10 10"
	"origin" "1600 -2192 -0.1"
}
; --- railings to prevent death jockey
{
	"classname" "prop_dynamic"
	"origin" "1570 -2114 128"
	"angles" "0 270 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_corner.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1664 -2114 128"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_128.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1758 -2114 128"
	"angles" "0 180 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_corner.mdl"
	"disableshadows" "1"
}
; --- add some extra anti-death charge
; --- ladder in way
filter:
{
	"hammerid" "124555"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "1664 -4098 0"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_128.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1536 -4098 0"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_128.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1344 -4098 0"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_128.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1216 -4098 0"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_128.mdl"
	"disableshadows" "1"
}
modify:
{
	match:
	{
		"model" "*177"
	}
	insert:
	{
		"origin" "-6.00 0.00 0.00"
	}
}
add:
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -130.00 223.92"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*74"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -130.00 223.92"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -259.00 383.92"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*74"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -259.00 383.92"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*77"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-225.05 -254.03 384.02"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*77"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-673.05 -254.03 384.02"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*77"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4867.05 -8161.03 384.02"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*74"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3435.17 -11662.03 -125.96"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*74"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2087.17 -11662.03 -125.96"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-238.13 280.61 -110.72"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*132"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5855.50 -6943.50 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- help tanks get out of castle
{
	"model" "*73"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "157.00 -702.00 -160.50"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*73"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "157.00 -605.00 -64.00"
	"angles" "0.00 0.00 0.00"
}
; --- remove lava jumping
filter:
{
	"hammerid" "22258"
}
add:
{
	"classname" "func_brush"
	"model" "*5"
	"spawnflags" "2"
	"Solidity" "2"
	"angles" "0 90 0"
	"origin" "1311.9 -6400 -144.1"
}
{
	"classname" "func_brush"
	"model" "*5"
	"spawnflags" "2"
	"Solidity" "2"
	"angles" "0 90 0"
	"origin" "1248.1 -6400 -144.1"
}
{
	"classname" "func_brush"
	"model" "*5"
	"spawnflags" "2"
	"Solidity" "2"
	"angles" "0 90 0"
	"origin" "1311.9 -6656 -144.1"
}
{
	"classname" "func_brush"
	"model" "*5"
	"spawnflags" "2"
	"Solidity" "2"
	"angles" "0 90 0"
	"origin" "1248.1 -6656 -144.1"
}
