modify:
{
	match:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	replace:
	{
		"classname" "weapon_pain_pills_spawn"

	}
}
filter:
{
	"hammerid" "231632"
}
{
	"hammerid" "231628"
}
{
	"hammerid" "231626"
}
; --- make it harder to bug elevator in warmup
modify:
{
	match:
	{
		"hammerid" "27066"
	}
	replace:
	{
		"origin" "1020 -5596 448"

	}
}
add:
; --- teleport SI in elevator to bottom
{
	"model" "*14"
	"spawnflags" "1"
	"origin" "980 -5596 448"
	"classname" "trigger_teleport"
	"filtername" "filter_infected"
	"target" "bottom"
}
{
	"origin" "980 -5596 449"
	"targetname" "filter_infected"
	"Negated" "Allow entities that match criteria"
	"filterteam" "3"
	"classname" "filter_activator_team"
}
; --- help Survivors get out of pit
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_equipment/metalladder002.mdl"
	"solid" "6"
	"origin" "2416 -5760 -750"
}
{
	"model" "*67"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "0"
	"classname" "func_simpleladder"
	"origin" "-160.00 -412.00 -110.50"
	"angles" "0.00 0.00 0.00"
}
; --- ladder in closet
{
	"model" "*48"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3010.00 -10301.00 0.00"
	"angles" "0.00 180.00 0.00"
}