modify:
{
	match:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	replace:
	{
		"classname" "weapon_pain_pills_spawn"

	}
}
filter:
{
	"hammerid" "2565811"
}
{
	"hammerid" "2565830"
}
{
	"hammerid" "2566147"
}
add:
;{
;	"origin" "0 0 0"
;	"targetname" "doge1"
;	"model" "maps/c1_mario1_1.bsp"
;	"StartDisabled" "0"
;	"spawnflags" "2"
;	"Solidity" "2"
;	"classname" "func_brush"
;}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1200 -1214 24.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1200 -1342 24.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1200 -1470 24.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1164 -1214 -19.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1164 -1342 -19.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1164 -1470 -19.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1236 -1214 -19.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1236 -1342 -19.5"
}
{
	"classname" "func_brush"
	"model" "*180"
	"StartDisabled" "0"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1236 -1470 -19.5"
}
{
	"model" "*9"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-977.00 -92.00 127.52"
	"angles" "0.00 0.00 0.00"
}
add:
; --- spawn at first pipe pile
{
	"classname" "prop_dynamic"
	"angles" "270 0 0"
	"disableshadows" "1"
	"model" "models/props/pipe112a.mdl"
	"solid" "6"
	"origin" "-256 -1480 56"
}
{
	"model" "*154"
	"classname" "func_illusionary"
	"origin" "337.68 -1524.38 899.43"
	"angles" "156.00 0.00 270.00"
}
{
	"origin" "-256 -1480 66"
	"mins" "-8 -8 -64"
	"maxs" "8 8 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"model" "*125"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-990.00 -688.00 -72.00"
	"angles" "0.00 0.00 0.00"
}
; --- block survivors from first pipe pile
{
	"origin" "-38 -1382 121"
	"mins" "0 0 0"
	"maxs" "170 500 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"model" "*124"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "709.00 -2714.00 -22.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*124"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2.00 -145.00 -22.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*124"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "507.00 -96.00 -7.99"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*124"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "331.00 937.00 -18.00"
	"angles" "0.00 0.00 0.00"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "105 -144 0"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
modify:
{
	match:
	{
		"hammerid" "127201"
	}
	insert:
	{
		"origin" "-1.00 0.00 0.00"
	}
}
{
	match:
	{
		"model" "*7"
	}
	insert:
	{
		"origin" "0.00 0.00 6.00"
	}
}
; --- big ladder balance
filter:
{
	"targetname" "versus_geometry"
}
add:
;{
;	"classname" "prop_dynamic"
;	"angles" "0 0 0"
;	"disableshadows" "1"
;	"model" "models/props/mario_pipe.mdl"
;	"solid" "6"
;	"origin" "98 356 -440"
;}
{
	"classname" "prop_dynamic"
	"angles" "0 -90 00"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset32d_256a.mdl"
	"solid" "6"
	"origin" "354 448 -400"
}
{
	"classname" "prop_dynamic"
	"origin" "349 307 -398"
	"angles" "0 -90 0"
	"solid" "6"
	"disableshadows" "1"
	"model" "models/props_lab/powerbox01a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "352 556 0"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_mill/mill_railing_64.mdl"
	"disableshadows" "1"
}
; --- low grav area balance
add:
{
	"model" "*94"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1465.00 2400.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*93"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1465.00 1951.99 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"classname" "func_brush"
	"model" "*180"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-1200 960 60"
}
{
	"classname" "func_brush"
	"model" "*180"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-2214 960 60"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2784.00 120.15 261.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*9"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3940.00 1039.85 320.00"
	"angles" "0.00 90.00 0.00"
}
; --- Pillar on top
{
	"classname" "func_brush"
	"model" "*218"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-2656 1088 416"
}
{
	"classname" "func_brush"
	"model" "*218"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-2656 1088 480"
}
{
	"classname" "func_brush"
	"model" "*218"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-2656 1088 544"
}
{
	"classname" "func_brush"
	"model" "*218"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-2656 1088 608"
}
; --- one way at end of low grav
{
	"classname" "func_brush"
	"model" "*180"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-3000.5 960 56"
}
{
	"classname" "func_brush"
	"model" "*180"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-3000.5 1088 56"
}
{
	"classname" "func_brush"
	"model" "*180"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-3000.5 1216 56"
}
{
	"model" "*73"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2412.99 916.00 -92.49"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*73"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2412.99 624.00 -92.49"
	"angles" "0.00 0.00 0.00"
}
; --- attempt to fix SI sometimes retaining low gravity
{
	"model" "*149"
	"spawnflags" "1"
	"origin" "-4700 1088 288"
	"gravity" "1"
	"filtername" "filter_survivor"
	"classname" "trigger_gravity"
}
; --- pipe event balance
modify:
{
	match:
	{
		"hammerid" "163121"
	}
	replace:
	{
		"damage" "100"
	}
}
add:
{
	"model" "*93"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2948.96 -57.05 -191.99"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*73"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "289.00 -190.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "190.00 73.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5875.42 -4640.36 0.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "288.40 -193.20 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*73"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "625.66 736.44 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"origin" "-6144 1302 119"
	"mins" "0 -1300 -100"
	"maxs" "9 0 1000"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- end spawn ladder
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5476.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5444.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5412.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5380.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5348.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5316.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5284.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5252.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5220.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5188.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5156.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5124.00 199.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3960.15 5092.00 199.00"
	"angles" "0.00 90.00 0.00"
}
; --- end spawn
{
	"classname" "func_brush"
	"model" "*180"
	"spawnflags" "2"
	"Solidity" "2"
	"origin" "-5048 -496 60"	
	"angles" "0 180 0"
}
; --- symmetrical end ladder
{
	"model" "*146"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-9856.00 -3206.00 0.00"
	"angles" "0.00 180.00 0.00"
}