; --- Fix Checkpoint Navs causing small spits
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "@director,RunScriptFile,nav_fixes/c6m3_port_navfixes,8,-1"
	"OnMapSpawn" "@director,RunScriptFile,nav_fixes/c6m3_port_navfixes,25,-1"
}
; --- Add CI spawns to beginning
filter:
{
	"model" "*120"
	"OnTrigger" "relay_quiet_scriptTrigger0-1"
}
modify:
; --- Make saferoom spawn with guaranteed both guns
{
	match:
	{
		"hammerid" "21252"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
{
	match:
	{
		"hammerid" "21242"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
add:
; --- Fix stair that can't be walked up at beginning
{
	"classname" "env_physics_blocker"
	"origin" "-1632 -958 -32"
	"mins" "0 -2 -8"
	"maxs" "96 0 0"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Ladders above saferoom
{
	"model" "*115"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1684.00 501.00 82.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*40"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-216.00 253.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*17"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-748.00 -415.00 -28.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto van above saferoom
{
	"model" "*40"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1180.00 -2268.00 -20.00"
	"angles" "0.00 270.00 0.00"
}
; --- Clipping to let SI walk onto survivors from van above saferoom
{
	"classname" "env_physics_blocker"
	"origin" "-1948 -402 90"
	"mins" "0 -110 -26"
	"maxs" "10 0.1 0"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Ladders of symmetry over white walls near sacrifice PonR
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2275.00 2848.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*71"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2275.00 3232.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*81"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-208.00 4019.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*82"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "235.00 4019.00 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladders onto Sacrifice PonR building
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1489.00 2449.00 0.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2513.00 1671.00 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Fix a ladder that you fall off on at the top
modify:
{
	match:
	{
		"model" "*29"
	}
	insert:
	{
		"origin" "-0.10 0.00 0.00"
	}
}
add:
; --- Extra ladders near destroyed wall
{
	"model" "*12"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-988.00 1870.99 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- Around grey brick building at destroyed wall
{
	"model" "*20"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1280.00 3461.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*38"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-198.00 302.00 -16.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*38"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-570.00 3373.00 -16.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*38"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-570.00 3646.00 -16.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladders onto roof near far sacrifice generator
{
	"model" "*12"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2529.00 353.50 -192.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*28"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "507.00 592.00 -69.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladders over bushes
{
	"model" "*84"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "386.00 -1484.00 -173.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*19"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2737.00 -1149.99 127.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3456.00 -2123.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*50"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3968.00 -2123.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*53"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4168.00 -1280.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*54"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4161.00 -206.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*29"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1020.50 -38.00 -208.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladders onto tall bushes from below
{
	"model" "*12"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1753.00 -1821.00 -130.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*12"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2000.00 -1821.00 -130.00"
	"angles" "0.00 0.00 0.00"
}
; --- Survivor ladder onto dumpster
{
	"classname" "prop_dynamic"
	"origin" "1841 163 -129"
	"angles" "0 0 0"
	"model" "models/props_vehicles/train_ladder.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"model" "*1"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "0"
	"classname" "func_simpleladder"
	"origin" "220.00 -591.00 -4.00"
	"angles" "0.00 0.00 0.00"
}
