; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; by Wicket
add:
; --- Add ladders to spawn 
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "12922.00 8271.00 -96.00"
	"angles" "0.00 630.00 0.00"
}
{
	"model" "*248"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1952.00 589.00 -63.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*251"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 365.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Add clipping to fence ramp at saferoom
{
	"classname" "env_physics_blocker"
	"origin" "13896 2330 -3"
	"mins" "-96 -14 0"
	"maxs" "0 0 6"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Hittable at first hit
{
	"classname" "prop_physics"
	"origin" "11580 2236 134"
	"angles" "0 -80 0"
	"model" "models/props_vehicles/cara_82hatchback_wrecked.mdl"
	"solid" "6"
	"fademindist" "2000"
	"fademaxdist" "2100"
	"targetname" "hittable_car_saferoom"
	"rendercolor" "150 150 255"
}
{
	"classname" "prop_dynamic"
	"origin" "11580 2236 134"
	"angles" "0 -80 0"
	"model" "models/props_vehicles/cara_82hatchback_wrecked_glass.mdl"
	"solid" "6"
	"fademindist" "2000"
	"fademaxdist" "2100"
	"parentname" "hittable_car_saferoom"
}
; --- Ladder next to hittable
{
	"model" "*249"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-349.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*248"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-435.00 0.00 32.00"
	"angles" "0.00 0.00 0.00"
}
add:
; --- Some ladders around death charge
{
	"model" "*18"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2997.00 -75.00 168.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*70"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3586.00 -927.00 -68.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*209"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3786.00 -765.00 -244.00"
	"angles" "0.00 0.00 0.00"
}
; --- add a few QoL ladders around tank train
{
	"model" "*207"
	"normal.z" "0.00"
	"normal.y" "0.73"
	"normal.x" "-0.67"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "14119.24 228.31 -16.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*203"
	"normal.z" "0.00"
	"normal.y" "0.50"
	"normal.x" "-0.86"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "14144.61 1713.47 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*202"
	"normal.z" "0.00"
	"normal.y" "-0.81"
	"normal.x" "-0.57"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "205.00 -162.00 -9.00"
	"angles" "0.00 0.00 0.00"
}
; --- ladder from tank train onto building
{
	"model" "*53"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3517.00 824.00 128.00"
	"angles" "0.00 0.00 0.00"
}
; --- Remove scripted tank fight
modify:
{
	match:
	{
		"hammerid" "188736"
	}
	delete:
	{
		"OnPressed" "versus_tankTrigger0-1"
		"OnTimeUp" "coop_tankTrigger0-1"
		"OnTimeUp" "directorEnableTankFrustration0-1"
		"OnTimeUp" "battlefield_clearedUnblockNav60-1"
		"OnTimeUp" "oratorSpeakResponseConceptC7M1OpenTankDoor WhoDidIt:!Activator0-1"
		"OnPressed" "oratorSpeakResponseConceptC7M1OpenTankDoor WhoDidIt:!Activator0-1"
	}
}
filter:
{
	"targetname" "tank_sound_picker"
}
{
	"targetname" "tank_sound_timer"
}
{
	"targetname" "battlefield_cleared"
}
add:
; --- More ladders around train pile-up
{
	"model" "*174"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1560.00 1.00 -32.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*198"
	"normal.z" "0.00"
	"normal.y" "0.89"
	"normal.x" "0.45"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "8738.47 -4291.56 14.00"
	"angles" "0.00 90.00 0.00"
}
; --- Ladder on brick pile in corner
{
	"model" "*44"
	"normal.z" "0.00"
	"normal.y" "-0.70"
	"normal.x" "0.70"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6015.76 5634.07 0.00"
	"angles" "0.00 270.00 0.00"
}
modify:
{
	match:
	{
		"targetname" "tankdoorin_button"
	}
	insert:
	{
		"OnTimeUp" "tankdoorout,Open,,1,-1"
		"OnTimeUp" "tankdoorout_button,Kill,,0,-1"
	}
}
add:
; --- Prevent survivors from being punched onto side bricks
{
	"classname" "env_physics_blocker"
	"origin" "5503 80.5 312"
	"mins" "0 -580 0"
	"maxs" "681 0 1000"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "5505 -320 312"
	"mins" "-2713 -500 0"
	"maxs" "0 0 1000"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Warehouse outdoor overhang
{
	"classname" "env_physics_blocker"
	"origin" "3168 512 436"
	"mins" "0 0 0"
	"maxs" "2080 128 1000"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Add ammo pile to water one-way drop
{
	"classname" "weapon_ammo_spawn"
	"origin" "2781 -312 137.6"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Extra ladder onto bricks
{
	"model" "*53"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1.00 474.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra end window ladder
{
	"model" "*226"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-519.00 -0.50 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_128.mdl"
	"solid" "0"
	"origin" "2165 2544 304"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_elbows_back.mdl"
	"solid" "0"
	"origin" "2165 2544 304"
}
; --- Automatically open the 2nd train car door 20 seconds after the first one is opened
;modify:
;{
;	match:
;	{
;		"targetname" "tankdoorin_button"
;	}
;	insert:
;	{
;		"OnTimeUp" "tankdoorout,Open,,20,-1"
;		"OnTimeUp" "tankdoorout_button,Kill,,20,-1"
;	}
;}
;

; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================

; =====================================================
; ==           PILL / ITEM / WEAPON SPAWNS           ==
; ==   Remove or change pill, item & weapon spawns   ==
; =====================================================

; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile in the brick factory, by the front loader
{
	"classname" "weapon_ammo_spawn"
	"origin" "3580 1337 0"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}

; =====================================================
; ==                 HITTABLE CHANGES                ==
; ==           Add/remove/modify hittables           ==
; =====================================================


; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================

; =====================================================
; ==                  OUT OF BOUNDS                  ==
; ==  Block players getting outside / under the map  ==
; =====================================================

; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================


; ###########  ADDITIONAL PROPS AND SPAWNS  ###########
; =====================================================
; ==                      PROPS                      ==
; ==       New props for balance and SI spawns       ==
; =====================================================

; =====================================================
; ==                   LADDER NERF                   ==
; ==         Nerf ladder attacks for infected        ==
; =====================================================


; ############  MAP SOUND AND GFX CHANGES  ############
; =====================================================
; ==                  SOUND REMOVAL                  ==
; ==    Remove or adjust sounds played by the map    ==
; =====================================================

; =====================================================
; ==             GFX / PARTICLES REMOVAL             ==
; ==        Remove visual effects from the map       ==
; =====================================================


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================

; =====================================================
; ==              TRIGGER REMOVAL / FIX              ==
; ==    Fix triggers that interfere with gameplay    ==
; =====================================================


; #############  LADDER CHANGES AND FIXES  ############
; =====================================================
; ==             LADDER ADDITIONS / FIXES            ==
; ==              Add or change ladders              ==
; =====================================================


; #######  MISCELLANEOUS / MAP SPECIFIC CHANGES  ######
; =====================================================
; ==                   BLANK HEADER                  ==
; ==                Blank description                ==
; =====================================================