; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; --- TLS removals
add:
{
	"model" "*203"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "11050 4742 78"
	"filtername" "filter_survivor"
	"classname" "trigger_once"
	; --- Ladders
	"OnTrigger" "anv_mapfixes_ladder_overturnedsemiT_cloned_sewerdropBKill1-1"
	; --- Invis blockers
	"OnTrigger" "anv_mapfixes_burgerfence_blocker2Kill1-1"
}
add:
;--- Extra ladders for the first hit (on thin ice for getting removed)
{
	"model" "*202"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-168.00 -578.50 280.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*56"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "745.50 -1928.00 551.00"
	"angles" "0.00 0.00 0.00"
}
; --- Guaranteed ammo spawn
{
	"classname" "weapon_ammo_spawn"
	"origin" "12512 5455 196"
	"spawnflags" "2"
	"solid" "6"
	"model" "models/props/terror/ammo_stack.mdl"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 0 0"
}
; --- Ladder alternative to jumping onto burger tank roof rim to the AC units
{
	"model" "*54"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2819.00 -2037.00 511.25"
	"angles" "0.00 0.00 0.00"
}
; --- Extra Burger Tank Ladder
{
	"model" "*26"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-548.00 -2408.00 -34.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto pipe near pill cabinet
{
	"model" "*39"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1001.00 1331.00 -308.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto awning
{
	"model" "*14"
	"normal.z" "0.00"
    	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1368.50 1423.50 -58.00"
	"angles" "0.00 0.00 0.00"
	"rendermode" "10"
}
; ---Replace pipe jumps with infected ladder above ladder lift
{
	"model" "*56"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2177.51 1311.01 303.57"
	"angles" "0.00 0.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 -90 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_128.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "12704.00 7511.00 462"
}
; --- Add props to signify shoddy clip brush in warehouse
{
	"classname" "prop_dynamic"
	"origin" "11255.5 8073.5 144.5"
	"angles" "0 90 0"
	"model" "models/props_industrial/warehouse_shelf003.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "11909.5 7804.5 144.5"
	"angles" "0 90 0"
	"model" "models/props_industrial/warehouse_shelf003.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Add extra ladders into warehouse
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-640.00 -4635.00 -177.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*140"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2123.00 -2811.00 -45.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*38"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "364.00 2641.00 67.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*39"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "13.00 2396.00 -288.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*248"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-132.00 -4098.00 -177.00"
	"angles" "0.00 0.00 0.00"
}
; --- Replace forklift with crate spawns
filter:
{
	"hammerid" "2065187"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "12228 8210 288"
	"angles" "0 0 270"
	"model" "models/props/cs_office/Cardboard_box01.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- clipping for above box
{
	"classname" "env_physics_blocker"
	"origin" "12243 8210 276"
	"mins" "-32 0 0"
	"maxs" "0 22 8"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "12241 8210 276"
	"mins" "-26 0 0"
	"maxs" "0 20.5 24"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "prop_dynamic"
	"origin" "12332 7888 16"
	"angles" "0 90 0"
	"model" "models/props/de_nuke/crate_small.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "12484 7772 16"
	"angles" "0 0 0"
	"model" "models/props/de_nuke/crate_small.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Add ammo and pill spawn to warehouse for tank fights
{
	"classname" "weapon_ammo_spawn"
	"origin" "12666 7960 16"
	"spawnflags" "2"
	"solid" "6"
	"model" "models/props/terror/ammo_stack.mdl"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 0 0"
}
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "2"
	"origin" "12666 7906 16"
	"angles" "0 180 0"
}
; --- Two-part ladder to allow SI to climb up the primary manhole drop
{
	"model" "*31"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-863.48 319.00 168.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*54"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-863.48 562.00 -131.98"
	"angles" "0.00 0.00 0.00"
}
; --- props for above ladders
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_128.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "13264 8512 -265"
}
{
	"classname" "prop_dynamic"
	"angles" "90 0 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "13264 8568.5 -458.97"
}
; --- remove ladder that gives access to the upper part of the mandatory sewer hallway
filter:
{
	"hammerid" "1861343"
}
add:
; --- Pipe to stand on at the ladder choke
{
	"classname" "prop_dynamic"
	"origin" "14272 11588 -170"
	"angles" "0 180 -90"
	"model" "models/props_pipes/pipeset08d_128_001a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Prevent fall damage at the ladder choke
{
	"classname" "logic_auto"
	"OnMapSpawn" "no_fall_damage,AddOutput,mins -32 -32 -176,0,-1"
	"OnMapSpawn" "no_fall_damage,AddOutput,maxs 32 32 176,0,-1"
	"OnMapSpawn" "no_fall_damage,AddOutput,boxmins -32 -32 -176,0,-1"
	"OnMapSpawn" "no_fall_damage,AddOutput,boxmaxs 32 32 176,0,-1"
	"OnMapSpawn" "no_fall_damage,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_multiple"
	"origin" "14272 11616 -176"
	"targetname" "no_fall_damage"
	"filtername" "filter_pump"
	"spawnflags" "1"
	"OnStartTouch" "!activator,IgnoreFallDamageWithoutReset,10,0,-1"
}

; --- Block standing in windows by the event lift - Replaces Valve's commentary blocker
add:
{
	"classname" "env_physics_blocker"
	"origin" "12710 6972 345"
	"mins" "-10 -96 -157"
	"maxs" "10 96 157"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block standing on one of the shelves in the warehouse
{
	"classname" "env_physics_blocker"
	"origin" "11500 8039 196"
	"mins" "-84 -33 -76"
	"maxs" "404 33 76"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block being able to jump back up onto the ledge at the sewer drop
{
	"classname" "env_physics_blocker"
	"origin" "14128 8194 -418"
	"mins" "-48 -9 -6"
	"maxs" "48 9 6"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Remove pills by the start saferoom
filter:
{
	"hammerid" "7128827"
}
{
	"hammerid" "7128907"
}
{
	"hammerid" "7128937"
}
; --- Remove pills by the end saferoom
{
	"hammerid" "7128957"
}
{
	"hammerid" "7128845"
}
{
	"hammerid" "7128941"
}
{
	"hammerid" "7128815"
}
{
	"hammerid" "7128923"
}
{
	"hammerid" "7128841"
}
{
	"hammerid" "7128893"
}
{
	"hammerid" "7128843"
}
{
	"hammerid" "7128847"
}
{
	"hammerid" "7128921"
}


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================

filter:
; --- trash cans that could block survivor progress at ladder choke
{
	"model" "models/props_street/trashbin01.mdl"
}
; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
filter:
{
	; sewer door to room with spools/light
	"hammerid" "2488739"
}

add:
{
	"classname" "prop_dynamic"
	"angles" "-45 254.5 0"
	"disableshadows" "1"
	"model" "models/props_fortifications/barricade_gate001_64_reference.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "10358 6481 11.2"
}
; =====================================================
; --- Clipping on gas station debris to prevent getting stuck
modify:
{
	match:
	{
		"targetname" "gasstation_explosion_relay"
	}
	insert:
	{
		"OnTrigger" "gas_station_debris_clipping_a,AddOutput,origin 12159 6475 32,3,-1"
		"OnTrigger" "gas_station_debris_clipping_b,AddOutput,origin 12159 6475 21,3,-1"
	}
}
add:
{
	"classname" "env_physics_blocker"
	"origin" "12159 6475 -32"
	"mins" "-24 -24 -6"
	"maxs" "24 24 6"
	"initialstate" "1"
	"BlockType" "0"
	"targetname" "gas_station_debris_clipping_a"
}
{
	"classname" "env_physics_blocker"
	"origin" "12159 6475 -21"
	"mins" "-27 -27 -5"
	"maxs" "27 27 5"
	"initialstate" "1"
	"BlockType" "0"
	"targetname" "gas_station_debris_clipping_b"
}
; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
; --- Prevent a perma-stuck spot behind the gas station / garages
{
	"classname" "env_physics_blocker"
	"origin" "13568 4903 292"
	"mins" "-128 -169 -276"
	"maxs" "128 169 276"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Block a stuck spot on the warehouse roof
{
	"classname" "env_physics_blocker"
	"origin" "11020 7708 512"
	"mins" "-12 -52 -24"
	"maxs" "12 52 24"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "11020 8164 512"
	"mins" "-12 -52 -24"
	"maxs" "12 52 24"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Prevent a stuck spot on a desk in the warehouse offices
{
	"classname" "env_physics_blocker"
	"origin" "10965 7047 209"
	"angles" "0 345 0"
	"mins" "-15 -39 -16"
	"maxs" "15 39 16"
	"boxmins" "-15 -39 -16"
	"boxmaxs" "15 39 16"
	"initialstate" "1"
	"BlockType" "0"
}
filter:
; --- Remove wrong way signs
; --- By the saferoom
{
	"origin" "10560 4767.99 296"
}
{
	"origin" "10560 5023.99 296"
}
{
	"origin" "10608 5278.99 87.73"
}
{
	"origin" "10686.3 4592.04 576"
}
{
	"origin" "11073.7 4592.04 576"
}
{
	"origin" "11454.3 4592.04 728"
}
{
	"origin" "11841.7 4592.04 728"
}
{
	"origin" "12241.7 4528.2 488.29"
}
{
	"origin" "12493.4 4603.94 824"
}
{
	"origin" "12608 4720 824"
}
{
	"origin" "12864 4720 824"
}
{
	"origin" "13003.2 4779.09 616"
}
{
	"origin" "13011.2 5163.09 616"
}
{
	"origin" "13011.2 5547.09 616"
}
{
	"origin" "10520 5541.05 447.08"
}
{
	"origin" "10520 5797.05 447.08"
}
; --- After the burger tank
{
	"origin" "10528 6170.9 62.6"
}
{
	"origin" "10528 6558.3 62.6"
}
{
	"origin" "10544 6913.99 590.37"
}
{
	"origin" "10544 7301.99 590.37"
}
{
	"origin" "10544 7689.99 590.37"
}
{
	"origin" "10544 8077.99 590.37"
}
{
	"origin" "10754.2 8128 622.12"
}
{
	"origin" "11232 8136 519.31"
}
{
	"origin" "11616 8136 519.31"
}
{
	"origin" "12000 8136 519.31"
}
{
	"origin" "12384 8136 519.31"
}
{
	"origin" "12768 8136 519.31"
}
{
	"origin" "13004.3 6624 577.61"
}
{
	"origin" "13013.5 6485.39 336"
}
{
	"origin" "13013.5 6101.39 336"
}
{
	"origin" "12928 5825 87.73"
}
; --- After the sewer
{
	"origin" "14361.6 10808 492.09"
}
{
	"origin" "14045.6 10808 492.09"
}
{
	"origin" "13125.3 10921.7 61.25"
}
{
	"origin" "12741.3 10921.7 61.25"
}
{
	"origin" "12216 11330.3 56"
}
{
	"origin" "12216 11718.3 56"
}
{
	"origin" "12464.2 12009.7 464"
}
{
	"origin" "12464.2 12393.7 464"
}
{
	"origin" "14794 11567.2 625.32"
}
; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================
add:
; --- Remove TLS clips after loading
add:
{
	"classname" "logic_auto"
	; --- Clips behind the burger tank
	"OnMapSpawn" "anv_mapfixes_burgerfence_blocker1,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_burgerfence_blocker2,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_burgerfence_blocker3,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_burgerfence_wrongwaya,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_burgerfence_wrongwayb,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_burgerfence_wrongwayc,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_ladder_burgerfenceshared_clip,Kill,,30,-1"
	; --- Above the waterworks building
	"OnMapSpawn" "anv_mapfixes_waterworks_collision,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_waterworks_blocker,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_waterworks_wrongwaya,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_waterworks_wrongwayb,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_waterworks_wrongwayc,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_waterworks_wrongwayd,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_waterworks_wrongwaye,Kill,,30,-1"
	; --- After the sewer
	"OnMapSpawn" "anv_mapfixes_meticulous_funcinfclip01,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_meticulous_funcinfclip02,Kill,,30,-1"
	"OnMapSpawn" "anv_mapfixes_meticulous_funcinfclip03,Kill,,30,-1"
}
; --- Remove Valve's commentary blockers so we can replace them with our own
{
	"classname" "logic_auto"
	"OnMapSpawn" "env_player_blocker,Kill,,30,-1"
}
; --- Re-add Valve's blockers copied directly from c8m3_sewers_commentary.txt, excluding the ones we don't want
; --- Blocks survivors from leaving the map if tank-punched on top of the gas station - REMOVED, also blocked infected
;{
;	"id" "8664375"
;	"classname" "env_physics_blocker"
;	"BlockType" "0"
;	"initialstate" "1"
;	"maxs" "44 556 780"
;	"mins" "-4 -380 -80"
;	"origin" "13004 6132 400"
;	"mapupdate" "1"
;
;}
; --- Blocks survivors from leaving the map if tank-punched on top of the gas station
{
	"classname" "env_physics_blocker"
	"BlockType" "1"
	"initialstate" "1"
	"maxs" "68 24 80"
	"mins" "-4 -128 -80"
	"origin" "12932 5880 400"
}
; --- Blocks survivors from jumping from the lift to a window ledge - REPLACED
;{
;	"id" "8665431"
;	"classname" "env_physics_blocker"
;	"BlockType" "1"
;	"initialstate" "1"
;	"maxs" "4 33 107"
;	"mins" "-4 -33 -43"
;	"origin" "12704 7036 240"
;	"mapupdate" "1"
;}

add:
; --- Infected ladders to get over the fences around the burger tank
{
	"classname" "func_simpleladder"
	"origin" "5502.5 16233.5 -133"
	"angles" "0 270 0"
	"model" "*202"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-335 7 0"
	"angles" "0 0 0"
	"model" "*202"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-785 536.5 -153"
	"angles" "0 0 0"
	"model" "*202"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-1224 291.45 -77"
	"angles" "0 0 0"
	"model" "*38"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "15959.00 -5213 -44"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "15957.54 -4982 -44"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "15957.54 -4788 -44"
	"angles" "0 90 0"
	"model" "*38"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to get on the waterworks building from the gas station
{
	"classname" "func_simpleladder"
	"origin" "2358.5 -96.5 192"
	"angles" "0 0 0"
	"model" "*22"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
; --- Infected ladder to climb onto the warehouse awning from between the trucks
{
	"classname" "func_illusionary"
	"origin" "1059.5 575.5 -347"
	"model" "*22"
}
{
	"classname" "prop_dynamic"
	"origin" "11788 7360 252"
	"angles" "0 0 0"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Infected ladders to climb onto the platforms in the sewers
{
	"classname" "func_simpleladder"
	"origin" "-864 -970 0"
	"angles" "0 0 0"
	"model" "*31"
	"normal.x" "0.00"
	"normal.y" "1.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-599.5 -3460 -871"
	"angles" "0 0 0"
	"model" "*200"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-533.5 -2207 -871"
	"angles" "0 0 0"
	"model" "*200"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "-1345.5 -646 -871"
	"angles" "0 0 0"
	"model" "*200"
	"normal.x" "1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "2982.5 -2512 -871"
	"angles" "0 0 0"
	"model" "*27"
	"normal.x" "-1.00"
	"normal.y" "0.00"
	"normal.z" "0.00"
	"team" "2"
}
{
	"classname" "func_simpleladder"
	"origin" "1867 333.5 -744"
	"angles" "0 0 0"
	"model" "*248"
	"normal.x" "0.00"
	"normal.y" "-1.00"
	"normal.z" "0.00"
	"team" "2"
}
