; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; --- Filter out door glass remnants from promod changes
filter:
{
	"hammerid" "3719125"
}
{
	"hammerid" "3768113"
}
; --- Ladder into vents area from side room near elevator
add:
{
	"model" "*140"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "826.25 -657.00 -59.93"
	"angles" "0.00 0.00 0.00"
}
; --- prop for above ladder
{
	"solid" "6"
	"angles" "-8 180 54"
	"origin" "13752 14444 444"
	"disableshadows" "1"
	"model" "models/props_unique/zombiebreakwallinterior01_concrete_dm_part03.mdl"
	"classname" "prop_dynamic_override"
}
; --- Allow ghost SI to go through the breakable walls in the elevator area
filter:
{
	"hammerid" "6159569"
}
{
	"hammerid" "6159574"
}
{
	"hammerid" "6159579"
}
{
	"hammerid" "6159584"
}
{
	"hammerid" "6159589"
}
{
	"hammerid" "6159594"
}
{
	"hammerid" "6159599"
}
; --- break down one wall give survivors an option when getting to the elevator
fliter:
{
	"hammerid" "5694308"
}
{
	"hammerid" "6160215"
}
{
	"hammerid" "6429666"
}
; --- Make door before the above wall open to show players this new route
modify:
{
	match:
	{
		"hammerid" "3782133"
	}
	replace:
	{
		"spawnpos" "2"
	}
}
; --- allow SI to break the vents in the elevator area, rather than just CI
modify:
{
	match:
	{
		"hammerid" "4671518"
	}
	replace:
	{
		"spawnflags" "3"
	}
}
{
	match:
	{
		"hammerid" "5076445"
	}
	replace:
	{
		"spawnflags" "3"
	}
}
{
	match:
	{
		"hammerid" "5076457"
	}
	replace:
	{
		"spawnflags" "3"
	}
}
{
	match:
	{
		"hammerid" "5238795"
	}
	replace:
	{
		"spawnflags" "3"
	}
}
; --- Make elevator go back up the building much faster
modify:
{
	match:
	{
		"targetname" "elevator_button"
	}
	insert:
	{
		"OnPressed" "elevatorSetMaxSpeed32501"
	}
}
; --- set speed back to normal once it reaches the top (just in case)
{
	match:
	{
		"targetname" "elevator_top_relay"
	}
	insert:
	{
		"OnTrigger" "elevatorSetMaxSpeed1250-1"
	}
}
;---make the numbers inside match this new speed (lengthy)
{
	match:
	{
		"targetname" "elevator_inside_number_timer"
	}
	replace:
	{
		"RefireTime" "0.67"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_number_relay"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_number_timerEnable0-1"
		"OnTrigger" "elevator_inside_left_on_relayTrigger1.75-1"
		"OnTrigger" "elevator_inside_left_off_relayTrigger1.75-1"
		"OnTrigger" "elevator_inside_right_on_relayTrigger1.75-1"
		"OnTrigger" "elevator_inside_right_off_relayTrigger1.75-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_number_timerEnable3.5-1"
		"OnTrigger" "elevator_inside_left_on_relayTrigger4.17-1"
		"OnTrigger" "elevator_inside_left_off_relayTrigger4.17-1"
		"OnTrigger" "elevator_inside_right_on_relayTrigger4.17-1"
		"OnTrigger" "elevator_inside_right_off_relayTrigger4.17-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_right_on_relay"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_number06_rightEnable1.75-1"
		"OnTrigger" "elevator_inside_number07_rightEnable3.5-1"
		"OnTrigger" "elevator_inside_number08_rightEnable5.25-1"
		"OnTrigger" "elevator_inside_number09_rightEnable7-1"
		"OnTrigger" "elevator_inside_number00_rightEnable8.75-1"
		"OnTrigger" "elevator_inside_number01_rightEnable10.5-1"
		"OnTrigger" "elevator_inside_number02_rightEnable12.25-1"
		"OnTrigger" "elevator_inside_number03_rightEnable14-1"
		"OnTrigger" "elevator_inside_number04_rightEnable15.75-1"
		"OnTrigger" "elevator_inside_right_on_relay2Trigger17.5-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_number06_rightEnable0.67-1"
		"OnTrigger" "elevator_inside_number07_rightEnable1.34-1"
		"OnTrigger" "elevator_inside_number08_rightEnable2.01-1"
		"OnTrigger" "elevator_inside_number09_rightEnable2.68-1"
		"OnTrigger" "elevator_inside_number00_rightEnable3.35-1"
		"OnTrigger" "elevator_inside_number01_rightEnable4.02-1"
		"OnTrigger" "elevator_inside_number02_rightEnable4.69-1"
		"OnTrigger" "elevator_inside_number03_rightEnable5.36-1"
		"OnTrigger" "elevator_inside_number04_rightEnable6.03-1"
		"OnTrigger" "elevator_inside_right_on_relay2Trigger6.70-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_right_off_relay"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_number05_rightDisable1.75-1"
		"OnTrigger" "elevator_inside_number06_rightDisable3.5-1"
		"OnTrigger" "elevator_inside_number07_rightDisable5.25-1"
		"OnTrigger" "elevator_inside_number08_rightDisable7-1"
		"OnTrigger" "elevator_inside_number09_rightDisable8.75-1"
		"OnTrigger" "elevator_inside_number00_rightDisable10.5-1"
		"OnTrigger" "elevator_inside_number01_rightDisable12.25-1"
		"OnTrigger" "elevator_inside_number02_rightDisable14-1"
		"OnTrigger" "elevator_inside_number03_rightDisable15.75-1"
		"OnTrigger" "elevator_inside_right_off_relay2Trigger17.5-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_number05_rightDisable0.67-1"
		"OnTrigger" "elevator_inside_number06_rightDisable1.34-1"
		"OnTrigger" "elevator_inside_number07_rightDisable2.01-1"
		"OnTrigger" "elevator_inside_number08_rightDisable2.68-1"
		"OnTrigger" "elevator_inside_number09_rightDisable3.35-1"
		"OnTrigger" "elevator_inside_number00_rightDisable4.02-1"
		"OnTrigger" "elevator_inside_number01_rightDisable4.69-1"
		"OnTrigger" "elevator_inside_number02_rightDisable5.36-1"
		"OnTrigger" "elevator_inside_number03_rightDisable6.03-1"
		"OnTrigger" "elevator_inside_right_off_relay2Trigger6.70-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_left_off_relay"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_number01_leftDisable26.25-1"
		"OnTrigger" "elevator_inside_number00_leftDisable8.75-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_number01_leftDisable10.05-1"
		"OnTrigger" "elevator_inside_number00_leftDisable3.35-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_left_on_relay"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_number01_leftEnable8.75-1"
		"OnTrigger" "elevator_inside_number02_leftEnable26.25-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_number01_leftEnable3.35-1"
		"OnTrigger" "elevator_inside_number02_leftEnable10.05-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_right_on_relay2"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_right_on_relay3Trigger17.5-1"
		"OnTrigger" "elevator_inside_number04_rightEnable15.75-1"
		"OnTrigger" "elevator_inside_number03_rightEnable14-1"
		"OnTrigger" "elevator_inside_number02_rightEnable12.25-1"
		"OnTrigger" "elevator_inside_number01_rightEnable10.5-1"
		"OnTrigger" "elevator_inside_number00_rightEnable8.75-1"
		"OnTrigger" "elevator_inside_number09_rightEnable7-1"
		"OnTrigger" "elevator_inside_number08_rightEnable5.25-1"
		"OnTrigger" "elevator_inside_number07_rightEnable3.5-1"
		"OnTrigger" "elevator_inside_number06_rightEnable1.75-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_right_on_relay3Trigger6.70-1"
		"OnTrigger" "elevator_inside_number04_rightEnable6.03-1"
		"OnTrigger" "elevator_inside_number03_rightEnable5.36-1"
		"OnTrigger" "elevator_inside_number02_rightEnable4.69-1"
		"OnTrigger" "elevator_inside_number01_rightEnable4.02-1"
		"OnTrigger" "elevator_inside_number00_rightEnable3.35-1"
		"OnTrigger" "elevator_inside_number09_rightEnable2.68-1"
		"OnTrigger" "elevator_inside_number08_rightEnable2.01-1"
		"OnTrigger" "elevator_inside_number07_rightEnable1.34-1"
		"OnTrigger" "elevator_inside_number06_rightEnable0.67-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_right_off_relay2"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_right_off_relay3Trigger17.5-1"
		"OnTrigger" "elevator_inside_number03_rightDisable15.75-1"
		"OnTrigger" "elevator_inside_number02_rightDisable14-1"
		"OnTrigger" "elevator_inside_number01_rightDisable12.25-1"
		"OnTrigger" "elevator_inside_number00_rightDisable10.5-1"
		"OnTrigger" "elevator_inside_number09_rightDisable8.75-1"
		"OnTrigger" "elevator_inside_number08_rightDisable7-1"
		"OnTrigger" "elevator_inside_number07_rightDisable5.25-1"
		"OnTrigger" "elevator_inside_number06_rightDisable3.5-1"
		"OnTrigger" "elevator_inside_number05_rightDisable1.75-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_right_off_relay3Trigger6.70-1"
		"OnTrigger" "elevator_inside_number03_rightDisable6.03-1"
		"OnTrigger" "elevator_inside_number02_rightDisable5.36-1"
		"OnTrigger" "elevator_inside_number01_rightDisable4.69-1"
		"OnTrigger" "elevator_inside_number00_rightDisable4.02-1"
		"OnTrigger" "elevator_inside_number09_rightDisable3.35-1"
		"OnTrigger" "elevator_inside_number08_rightDisable2.68-1"
		"OnTrigger" "elevator_inside_number07_rightDisable2.01-1"
		"OnTrigger" "elevator_inside_number06_rightDisable1.34-1"
		"OnTrigger" "elevator_inside_number05_rightDisable0.67-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_right_off_relay3"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_number07_rightDisable5.25-1"
		"OnTrigger" "elevator_inside_number06_rightDisable3.5-1"
		"OnTrigger" "elevator_inside_number05_rightDisable1.75-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_number07_rightDisable2.01-1"
		"OnTrigger" "elevator_inside_number06_rightDisable1.34-1"
		"OnTrigger" "elevator_inside_number05_rightDisable0.67-1"
		"OnTrigger" "elevator_inside_number08_rightDisable2.01-1"
	}
}
{
	match:
	{
		"targetname" "elevator_inside_right_on_relay3"
	}
	delete:
	{
		"OnTrigger" "elevator_inside_number_timerDisable7-1"
		"OnTrigger" "elevator_inside_number08_rightEnable5.25-1"
		"OnTrigger" "elevator_inside_number07_rightEnable3.5-1"
		"OnTrigger" "elevator_inside_number06_rightEnable1.75-1"
	}
	insert:
	{
		"OnTrigger" "elevator_inside_number_timerDisable2.68-1"
		"OnTrigger" "elevator_inside_number08_rightEnable2.01-1"
		"OnTrigger" "elevator_inside_number07_rightEnable1.34-1"
		"OnTrigger" "elevator_inside_number06_rightEnable0.67-1"
	}
}
;--- end of number editing
; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}

; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ===========  PROMOD SAFEROOM WEAPONS FIX  ===========
; =====================================================
modify:
; --- fix saferooms having no shotgun/uzi/disappearing weapon spawns
{
	; no uzi fix
	match:
	{
		"hammerid" "6567277"
	}
	replace:
	{
		"weapon_selection" "any_rifle"
	}
}
{
	; no shotgun fix
	match:
	{
		"hammerid" "6567273"
	}
	replace:
	{
		"weapon_selection" "tier2_shotgun"
	}
}
{
	; remove hr
	filter:
	{
		"hammerid" "6567279"
	}
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
modify:
; --- make generator at top of elevator unmovable to prevent grief-blocking
{
	match:
	{
		"targetname" "generator01"
	}
	replace:
	{
		"spawnflags" "264"
	}
}
add:
; --- block climbing a section of construction for shortcut
{
	; invisible block along construction platform
	"origin" "13524 14332 5680"
	"mins" "-164 -60 -49"
	"maxs" "164 60 49"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}

; --- Block survivors getting on top of the barricades / windows in the open area/break room/tank fight near the beginning
{
	"origin" "12909 12360 267"
	"mins" "-19 -440 -117"
	"maxs" "19 440 117"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}

; --- Remove floodlights due to exploit potential

filter:

{
	"model" "models/props_equipment/light_floodlight.mdl"
}

; =====================================================
; ===================  GLITCH FIX  ====================
; =====================================================

add:
; --- easy fix for elevator glitch
{
	; invisible block below elevator
	"targetname" "elevator_glitch_prevent_blocker"
	"parentname" "elevator"
	"origin" "13541 15357 5543"
	"mins" "-222 -222 -5200"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; <modify the elevator start button so that it removes the glitch fix block after 50s>
modify:
{
	match:
	{
		"hammerid" "6415593"
	}
	insert:
	{
		"OnPressed" "elevator_glitch_prevent_blockerkill50-1"
	}
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================
filter:
; some metal doors before cafeteria
{
	; 1 metal
	"hammerid" "2868899"
}
{
	; 2 metal
	"hammerid" "2871605"
}
; doors in cafeteria-area
{
	; door before double-door section
	"hammerid" "3764893"
}
{
	; door after double-door section
	"hammerid" "3766207"
}
{
	; double doors - 1 - a
	"hammerid" "2869173"
}
{
	; double doors - 1 - b
	"hammerid" "2869178"
}
{
	; double doors - 2 - a
	"hammerid" "2871136"
}
{
	; double doors - 2 - b
	"hammerid" "2871141"
}
; railings in cafeteria-area
{
	; func breakable - 1
	"hammerid" "1617312"
}
{
	; func breakable - 2
	"hammerid" "1617377"
}
{
	; func breakable - b 1
	"hammerid" "2776040"
}
{
	; func breakable - b 2
	"hammerid" "2776118"
}
{
	; func breakable - b 3
	"hammerid" "2776127"
}
; =====================================================
