; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket
filter:
; --- remove some hittables
; --- glowing dumpster in saferoom
{
	"hammerid" "637"
}
; --- one car in saferoom
{
	"hammerid" "1743147"
}
{
	"hammerid" "1743143"
}
; --- two more dumpsters around "first hit"
{
	"hammerid" "199"
}
{
	"hammerid" "119747"
}

; --- car in alley before forklift warehouse
{
	"hammerid" "1742142"
}
{
	"hammerid" "1742138"
}
; --- two cars post forklift warehouse
{
	"hammerid" "1743281"
}
{
	"hammerid" "1743277"
}
{
	"hammerid" "1742812"
}
{
	"hammerid" "1742808"
}
; --- one of three dumpsters next to second forklift hittable
{
	"hammerid" "5063"
}
; --- car behind fences next to the second forklift
{
	"hammerid" "1742477"
}
{
	"hammerid" "1742473"
}
; --- one of two dumpsters at an entrance to building choke
{
	"hammerid" "16586"
}
; --- upside-down hittable car near trains after building choke
{
	"hammerid" "6482"
}
{
	"hammerid" "543857"
}
; --- one car before alarm car 
{
	"hammerid" "50973"
}
{
	"hammerid" "536734"
}
; --- one car and dumpster after alarm car
{
	"hammerid" "51593"
}
{
	"hammerid" "536864"
}
{
	"hammerid" "51633"
}
; --- car at end of street at the ladder drop
{
	"hammerid" "1743348"
}
{
	"hammerid" "1743344"
}
; --- dumpster at survival camp spot at side-warhouse near pier edge
{
	"hammerid" "136512"
}
; --- dumpster at howitzer button
{
	"hammerid" "136572"
}
; --- two cars at howitzer explosion
{
	"hammerid" "1741740"
}
{
	"hammerid" "1741736"
}
{
	"hammerid" "1743482"
}
{
	"hammerid" "1743478"
}
add:
; --- ladder over rubble pile in saferoom
{
	"model" "*54"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5433.00 936.00 -209.00"
	"angles" "0.00 0.00 0.00"
}
; --- QoL clipping for above ladder
{
	"origin" "-10238 -8390 0"
	"mins" "-40 0 0"
	"maxs" "0 45 18"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "-10278 -8362 0"
	"mins" "-55 0 0"
	"maxs" "0 64 30"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- block stuck spot behind rubble pile
{
	"origin" "-10358 -8343 68"
	"mins" "0 -37 -64"
	"maxs" "18 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- make helicopter hurt trigger be a bit more forgiving
modify:
{
	match:
	{
		"hammerid" "1042676"
	}
	replace:
	{
		"origin" "-9773.97 -9021.12 126"
		"damage" "6"
	}
}
add:
; --- more obvious ladder onto saferoom warehouse
{
	"model" "*80"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-8635.00 -3719.00 -96.00"
	"angles" "0.00 0.00 0.00"
}
; --- QoL ladder into first parking lot
{
	"model" "*156"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2428.50 -9.50 4.00"
	"angles" "0.00 0.00 0.00"
}
; --- ladder into fire escape for "first hit"
{
	"model" "*59"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2533.00 -15187.00 294.00"
	"angles" "0.00 270.00 0.00"
}
; --- extra ladder behind forklift warehouse
{
	"model" "*212"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "304.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- smooth out some potential movement on rooftops
{
	"model" "*59"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5635.50 -16056.00 320.00"
	"angles" "0.00 270.00 0.00"
}
; --- ladders onto bus for survivors on tarps
{
	"model" "*206"
	"normal.z" "0.00"
	"normal.y" "-0.89"
	"normal.x" "0.43"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5884.13 -12683.31 0.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*206"
	"normal.z" "0.00"
	"normal.y" "0.89"
	"normal.x" "-0.43"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-12758.31 -6304.13 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- QoL ladder for building choke roof
{
	"model" "*20"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-11593.00 -6504.00 -48.00"
	"angles" "0.00 90.00 0.00"
}
; --- extra ladder to climb over a rare brick fence
{
	"model" "*21"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2817.00 -0.00 -63.97"
	"angles" "0.00 0.00 0.00"
}
; --- extra ladder onto trains
{
	"model" "*23"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "858.00 1423.00 -96.50"
	"angles" "0.00 0.00 0.00"
}
; --- humvee to make it more obvious you can jump on trains as a survivor
add:
{
	"solid" "6"
	"origin" "-3055 -8329 7"
	"angles" "1 -5 -8"
	"disableshadows" "1"
	"model" "models/props_vehicles/humvee.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"origin" "-3055 -8329 7"
	"angles" "1 -5 -8"
	"disableshadows" "1"
	"model" "models/props_vehicles/humvee_glass.mdl"
	"classname" "prop_dynamic"
}
; --- ladder from truck to building at alarm car
{
	"model" "*198"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4193.00 -10927.00 83.00"
	"angles" "0.00 180.00 0.00"
}
; --- ladder onto shed at shore from behind
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "697.00 600.00 -93.97"
	"angles" "0.00 0.00 0.00"
}
; --- modify howitzer burn trigger to be slightly more forgiving
modify:
{
	match:
	{
		"targetname" "howitzer_burn_trigger"
	}
	replace:
	{
		"origin" "-1335 -4885 99"
		"damage" "30"
	}
}
; --- modify howitzer event to be a bit shorter
modify:
{
	match:
	{
		"targetname" "fire_howitzer"
	}
	delete:
	{
		"OnPressed" "howitzer_burn_triggerDisable65.25-1"
		"OnPressed" "howitzer_burn_soundStopSound65.25-1"
		"OnPressed" "oratorSpeakResponseConceptHowitzerBurnEnd65.25-1"
	}
	insert:
	{
		"OnPressed" "howitzer_burn_triggerDisable50.25-1"
		"OnPressed" "howitzer_burn_soundStopSound50.25-1"
		"OnPressed" "oratorSpeakResponseConceptHowitzerBurnEnd50.25-1"
		"OnPressed" "howitzer_explosion_effectsStop50.25-1"
	}
}
{
	match:
	{
		"targetname" "howitzer_holdout_relay"
	}
	delete:
	{
		"OnTrigger" "bridge_navblockerUnblockNav65.25-1"
	}
	insert:
	{
		"OnTrigger" "bridge_navblockerUnblockNav50.25-1"
	}
}
; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}

; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}

; =====================================================
; ============  END PILL/ITEM SPAWN REMOVAL ===========
; =====================================================
filter:
{
	"hammerid" "1576953"
}
{
	"hammerid" "1576949"
}
{
	"hammerid" "1576945"
}
{
	"hammerid" "1576935"
}

; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================

add:
; --- block jumps before event area using truck
{
	; invisible block on top of truck trailer
	"origin" "156 -6648 -22"
	"mins" "0 0 0"
	"maxs" "530 126 333"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	; invisible block on awning
	"origin" "28 -6652 -25"
	"mins" "0 -770 0"
	"maxs" "130 0 410"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- block zombie-breakable wall until event has started
{
	; invisible block in wall
	"targetname" "breakable_wall_blocker"
	"origin" "-2298 -6064 64"
	"mins" "-16 0 0"
	"maxs" "0 120 124"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}
; <remove after event starts>
modify:
{
	match:
	{
		"targetname" "fire_howitzer"
	}
	insert:
	{
		"OnPressed" "breakable_wall_blockerKill0-1"
	}
}
; =====================================================
