; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket
; --- remove hittable right before truck jump outside of saferoom
filter:
{
	"hammerid" "1484722"
}
{
	"hammerid" "1484718"
}
add:
; --- ladder onto roof with nodraw near alarm car
{
	"model" "*55"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "635.00 4072.00 64.00"
	"angles" "0.00 270.00 0.00"
}
; --- prop for above ladder
{
	"classname" "prop_dynamic"
	"angles" "0 -90 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "3968 558 284"
}
; --- prop for solidify billboard at top
{
	"solid" "6"
	"origin" "4116 298 416"
	"angles" "0 315 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/billboard01.mdl"
	"rendermode" "10"
	"classname" "prop_dynamic"
}
; --- ladder for faster movement after alarm car under bridge
{
	"model" "*43"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1936.00 1283.00 8.00"
	"angles" "0.00 0.00 0.00"
}
; --- remove hittable directly after alarm car
filter:
{
	"hammerid" "25839"
}
; --- make a ladder behind fence easier to climb
modify:
{
	match:
	{
		"hammerid" "51100"
	}
	insert:
	{
		"origin" "-10.00 -5.00 0.00"
	}
}
; --- add a symmetrical ladder for modified one
add:
{
	"model" "*22"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10911.00 -237.00 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- add a ladder over the bus from behind, because TLS team didn't
{
	"model" "*181"
	"normal.z" "0.00"
	"normal.y" "-0.43"
	"normal.x" "0.90"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7781.29 -3318.38 -30.65"
	"angles" "0.00 135.00 0.00"
}
; --- solidify parts of the unique barricade
{
	"classname" "prop_dynamic"
	"angles" "0 -117.5 0"
	"disableshadows" "1"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"rendermode" "10"
	"origin" "5235.5 -19 -218"
}
{
	"classname" "prop_dynamic"
	"angles" "0 -111.5 0"
	"disableshadows" "1"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"rendermode" "10"
	"origin" "5284 -39 -217"
}
; --- fix stuck spot from newly added props
{
	"origin" "5291 -64 -217"
	"mins" "0 0 0"
	"maxs" "0.1 0.1 50"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; =====================================================
; ===============   THE CRASHT STAND   ================
; =====================================================
filter:
{
	"classname" "trigger_finale"
}
{
	"classname" "func_button_timed"
}
add:
; --- mandatory saferoom stuff
{
	"origin" "8395 6604 166"
	"targetname" "crasht_stand"
	"classname" "info_landmark"
}
{
	"model" "*239"
	"StartDisabled" "0"
	"spawnflags" "0"
	"map" "c14m1_junkyard"
	"landmark" "crasht_stand"
	"classname" "info_changelevel"
	"origin" "8395 6604 144"
	"targetname" "endsaferoom"
	"angles" "0 180 0"
}
{
	"origin" "8383 6156 100"
	"targetname" "checkpoint_entrance"
	"speed" "200"
	"spawnpos" "2"
	"spawnflags" "8192"
	"returndelay" "-1"
	"opendir" "2"
	"model" "models/props_doors/checkpoint_door_02.mdl"
	"fadescale" "1"
	"fademindist" "1500"
	"fademaxdist" "1600"
	"distance" "90"
	"disableshadows" "1"
	"body" "0"
	"angles" "0 90 0"
	"classname" "prop_door_rotating_checkpoint"
}
; --- optional saferoom stuff
; --- brush to make door fit better
{
	"origin" "8450 6151.75 108"
	"angles" "0 90 0"
	"model" "*21"
	"spawnflags" "2"
	"Solidity" "2"
	"classname" "func_brush"
}
; --- ammo pile for end saferoom
{
	"classname" "weapon_ammo_spawn"
	"origin" "8446 6508 48"
	"spawnflags" "2"
	"solid" "6"
	"model" "models/props/terror/ammo_stack.mdl"
	"disableshadows" "1"
	"count" "5"
	"angles" "0 0 0"
}
; --- lantern in end saferoom
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_unique/spawn_apartment/lantern.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"skin" "1"
	"origin" "8450 6560 48"
}
; --- light for lantern
{
	"classname" "light_dynamic"
	"targetname" "safehouse_light"
	"origin" "8450 6560 80"
	"_cone" "0"
	"_inner_cone" "0"
	"_light" "226 132 75"
	"angles" "0 0 0"
	"brightness" "1"
	"distance" "200"
	"pitch" "0"
	"spawnflags" "0"
	"style" "0"
	"spotlight_radius" "100"
}
; --- remove item spawns in new end saferoom
filter:
{
	"hammerid" "1400564"
}
{
	"hammerid" "1400616"
}
{
	"hammerid" "1400658"
}
{
	"hammerid" "1400690"
}
; --- make walls unbreakable at end saferoom
modify:
{
	match:
	{
		"hammerid" "44321"
	}
	replace:
	{
		"classname" "func_brush"
	}
	insert:
	{
		"solidity" "2"
	}
}
{
	match:
	{
		"hammerid" "44363"
	}
	replace:
	{
		"classname" "func_brush"
	}
	insert:
	{
		"solidity" "2"
	}
}
filter:
; --- remove breakwall textures and some van lights
{
	"targetname" "breakwalleffect02"
}
{
	"targetname" "breakwalleffect01"
}
{
	"targetname" "van_light_01"
}
{
	"targetname" "van_light_02"
}
add:
; --- extra light outside new saferoom
{
	"classname" "prop_dynamic"
	"angles" "90 270 0"
	"disableshadows" "1"
	"model" "models/props_unique/spawn_apartment/lantern.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"skin" "1"
	"origin" "8144 6000 52"
}
; --- light for lantern
{
	"classname" "light_dynamic"
	"targetname" "outside_light"
	"origin" "8144 6008 72"
	"_cone" "0"
	"_inner_cone" "0"
	"_light" "226 132 75"
	"angles" "0 0 0"
	"brightness" "1"
	"distance" "256"
	"pitch" "0"
	"spawnflags" "0"
	"style" "0"
	"spotlight_radius" "100"
}
; --- add some decals
add:
{
	"origin" "7552 6476 148"
	"texture" "decals\checkpoint01_black"
	"classname" "infodecal"
}
{
	"origin" "8256 6176 112"
	"texture" "decals\checkpoint01_orange"
	"classname" "infodecal"
}
; --- add crate to make it obvious to not climb on top of saferoom
{
	"classname" "prop_dynamic"
	"angles" "0 0 90"
	"disableshadows" "1"
	"model" "models/props/de_nuke/crate_extralarge.mdl"
	"solid" "6"
	"origin" "8142 6550 98"
}
; --- remove minigun on top of saferoom
filter:
{
	"hammerid" "75578"
}
; =====================================================
; ===============  PILL CABINET TWEAK  ================
; =====================================================

; --- set pill cabs to have a max of 2 pills

modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}

; =====================================================
; =========  PROMOD HUNTINGRIFLE REPLACEMENT  =========
; =====================================================
filter:
{
	"classname" "weapon_hunting_rifle_spawn"
}
filter:
{
	"classname" "weapon_sniper_military_spawn"
}
filter:
{
	"weapon_selection" "any_sniper_rifle"
}
filter:
{
	"weapon_selection" "weapon_hunting_rifle"
}
filter:
{
	"weapon_selection" "weapon_sniper_military"
}
