add:
; --- Disable storm
{
	"classname" "logic_auto"
	"OnMapSpawn" "nostorm_relayTrigger0.1-1"
}
; --- Remove medkits
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"item2" "1"
	}
	replace:
	{
		"item2" "0"
	}
}
; --- Remove ragdoll hurt triggers
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"vscripts" "cf_ragdollize"
	}
	replace:
	{
		"classname" "trigger_hurt"
	}
	insert:
	{
		"damagecap" "10000"
		"damage" "10000"
		"damagetype" "32"
	}
	delete:
	{
		"vscripts" "cf_ragdollize"
	}
}
filter:
{
	"targetname" "yellowsnow_hurt"
}
{
	"targetname" "coop_items"
}
; --- Fix alarm car, and enable it
filter:
{
	"targetname" "logic_versus_random"
}
{
	"parentname" "normalcar_2-car_physics"
}
{
	"targetname" "normalcar_2-car_physics"
}
; --- Fix saferoom not always having SMG and shotgun
modify:
{
	match:
	{
		"hammerid" "3220893"
	}
	replace:
	{
		"weapon_selection" "any_smg"
	}
}
{
	match:
	{
		"hammerid" "3221106"
	}
	replace:
	{
		"weapon_selection" "any_shotgun"
	}
}
add:
; --- Saferoom ladder
{
	"model" "*224" ; --- Ladder at 6111.99,-5060.50,184.00
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-979.00 -2123.00 -48.00"
	"angles" "0.00 0.00 0.00"
}
; --- Block roof path for survivors
{
	"origin" "4100 -4224 248"
	"mins" "-776 -388 0"
	"maxs" "0 0 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "3440 -3576 464"
	"mins" "0 0 0"
	"maxs" "672 1032 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "2925.5 -2821 384"
	"mins" "0 0 0"
	"maxs" "525 260 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Symm ladders onto train bridge
{
	"model" "*180"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3581.00 -3919.99 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*181"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3581.00 -5040.00 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- Potential obscured nav idk
{
	"classname" "script_nav_attribute_region"
	"origin" "1028 -918 700"
	"extent" "372 3162 220"
	"StartDisabled" "0"
	"spawnflags" "4096"
	"targetname" "nav_trees_obscured"
}
{
	"classname" "logic_auto"
	"OnMapSpawn" "nav_trees_obscured,ApplyNavAttributes,,20,-1"
	"OnMapSpawn" "garagepath_relay,Trigger,,0,-1"
	"OnMapSpawn" "trainfire,AddOutput,mins -4 -4 -50,0,-1"
	"OnMapSpawn" "trainfire,AddOutput,maxs 4 0 0,0,-1"
	"OnMapSpawn" "trainfire,AddOutput,solid 2,0,-1"
}
filter:
{
	"targetname" "path3_relay"
}
{
	"targetname" "pathpicker"
}
{
	"targetname" "versus_pathpicker"
}
add:
; --- Sandbags to patch jumping across train tracks
{
	"classname" "prop_dynamic"
	"origin" "2160 -2909 384"
	"angles" "0 0 0"
	"model" "models/props_fortifications/sandbags_line2_snow.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2160 -3053 384"
	"angles" "0 180 0"
	"model" "models/props_fortifications/sandbags_line2_snow.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"origin" "2178 -2855 432"
	"mins" "-32 -250 -48"
	"maxs" "0.1 0 0"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence001_post_cold.mdl"
	"solid" "6"
	"origin" "2368 -3074 396"
}
filter:
; --- Fix weird ladder push force jank on train ladder by replacing it with the other side's ladder
{
	"model" "*185"
}
add:
{
	"model" "*186"
	"normal.z" "0.00"
	"normal.y" "0.97"
	"normal.x" "-0.20"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3935.97 -5648.00 -25.00"
	"angles" "0.00 180.00 0.00"
}
; --- Add fire damage to fire at train tracks
{
	"targetname" "trainfire"
	"StartDisabled" "0"
	"spawnflags" "3"
	"origin" "1565 -3043 451"
	"damagetype" "8"
	"damagecap" "20"
	"damage" "6"
	"classname" "trigger_hurt"
}
; --- Patch death jockeys
{
	"origin" "2544 -2562 384"
	"mins" "0 0 0"
	"maxs" "382 10 50"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"classname" "prop_dynamic"
	"origin" "2240 -1860 336"
	"angles" "0 90 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2368 -1860 336"
	"angles" "0 90 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2496 -1860 336"
	"angles" "0 90 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2624 -1860 336"
	"angles" "0 90 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"origin" "2170 -1860 336"
	"mins" "0 -4 0"
	"maxs" "526 4 46.1"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"classname" "prop_dynamic"
	"origin" "2692 -1790 336"
	"angles" "0 0 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2692 -1662 336"
	"angles" "0 0 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2692 -1534 336"
	"angles" "0 0 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2692 -1406 336"
	"angles" "0 0 0"
	"model" "models/cold/props_urban/fence003_128_cold.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"origin" "2692 -1864 336"
	"mins" "-4 0 0"
	"maxs" "4 500 46.1"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Fix stuck spot between trains
{
	"origin" "1873 -773 536.5"
	"mins" "-67 -43 -300"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Fence covers for side fences on traintracks
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_128_cold.mdl"
	"solid" "6"
	"origin" "1432.5 -2944 448"
}
{
	"model" "*111" ; --- (ladder at 1437.00,-2816.00,484.00)
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2869.00 -5758.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_128_cold.mdl"
	"solid" "6"
	"origin" "1432.5 -1794 448"
}
{
	"model" "*112" ; --- (ladder at 1437.00,-384.00,484.00)
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -1395.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_128_cold.mdl"
	"solid" "6"
	"origin" "1432.5 -384 448"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_128_cold.mdl"
	"solid" "6"
	"origin" "1432.5 -2 448"
}
{
	"model" "*112"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 378.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_128_cold.mdl"
	"solid" "6"
	"origin" "1432.5 380 448"
}
{
	"model" "*112"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2868.00 -6.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_128_cold.mdl"
	"solid" "6"
	"origin" "1432.5 894 448"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_128_cold.mdl"
	"solid" "6"
	"origin" "1432.5 2048 448"
}
; --- Ladder onto train near end of tracks
{
	"model" "*112"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2311.00 1785.00 -21.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*213" ; --- Ladder at 1878.00,-235.00,467.09
	"normal.z" "0.00"
	"normal.y" "-0.95"
	"normal.x" "-0.28"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3789.00 441.00 168.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladder onto train below tower
{
	"model" "*112"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1863.00 2836.00 -20.00"
	"angles" "0.00 270.00 0.00"
}
; --- More obvious ladder into tower
{
	"model" "*58" ; --- Tower ladder
	"normal.z" "-0.22"
	"normal.y" "-0.97"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3089.00 235.00 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Two ladders over a train on right near end
{
	"model" "*112"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2389.00 2607.00 -25.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*112"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "660.00 1918.00 -25.00"
	"angles" "0.00 0.00 0.00"
}
; --- Fix some broken ladders out of bounds
{
	"model" "*208" ; --- (1311.99,2304.50,398.00)
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3734.00 1881.00 128.00"
	"angles" "0.00 90.00 0.00"
	"rendermode" "10"
}
{
	"model" "*208" ; --- (1311.99,2304.50,398.00)
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3734.00 2139.00 128.00"
	"angles" "0.00 90.00 0.00"
	"rendermode" "10"
}
; --- Ladder over fence near dropdown at bottom
{
	"model" "*135" ; --- Ladder at -1376.46,2301.99,72.00
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3167.00 414.00 -12.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladders over bus at dropdown
{
	"model" "*135"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1679.00 395.00 -8.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*135"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-590.92 5013.98 -8.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladders onto cliffs after drop down
{
	"model" "*101" ; --- (big tower ladder)
	"normal.z" "0.42"
	"normal.y" "-0.90"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4014.99 7018.18 -2489.12"
	"angles" "0.00 180.00 25.00"
}
{
	"model" "*101"
	"normal.z" "0.27"
	"normal.y" "-0.96"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5967.00 7699.00 -1782.00"
	"angles" "0.00 180.00 16.00"
}
; --- Prop on roof to spawn near guard tower
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_rooftop/acunit2_cold.mdl"
	"solid" "6"
	"origin" "-1713 3028 172"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/cold/props_rooftop/acunit2_cold.mdl"
	"solid" "6"
	"origin" "-1713 3028 172"
}
; --- Ladder over train at end
{
	"model" "*137" ; --- Ladder on other end of train
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5841.21 6469.83 28.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladder over end pullback
{
	"model" "*110" ; --- Ladder at -6273.00,2299.99,189.83
	"normal.z" "0.62"
	"normal.y" "0.20"
	"normal.x" "0.75"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-9112.40 -550.21 -195.16"
	"angles" "0.00 235.00 0.00"
}
; --- Bus in water
{
	"classname" "prop_dynamic"
	"angles" "0 90 -12"
	"disableshadows" "1"
	"model" "models/cold/props_vehicles/bus01_2_cold.mdl"
	"solid" "6"
	"origin" "-3308 3720 -30"
}
; --- Block survivors from top of bus
{
	"origin" "-3382 3960 137"
	"mins" "0 -476 0"
	"maxs" "100 0 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Bus nav blocker
{
	"classname" "logic_auto"
	"OnMapSpawn" "bus_nav_block,AddOutput,mins 0 -461 -20,0,-1"
	"OnMapSpawn" "bus_nav_block,AddOutput,maxs 85 0 20,0,-1"
	"OnMapSpawn" "bus_nav_block,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "bus_nav_block,BlockNav,,1,-1"
}
{
	"classname" "func_nav_blocker"
	"origin" "-3382 3960 -16"
	"targetname" "bus_nav_block"
	"teamToBlock" "-1"
}
; --- Improve clipping in water
{
	"origin" "-3470 3992 -18"
	"mins" "0 -430 -50"
	"maxs" "274 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-3470 4002 -28"
	"mins" "0 -30 -50"
	"maxs" "274 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Ladder up to twopart meme ladder
{
	"model" "*101" ; --- Ladder from tower nearby
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-7805.99 9718.00 -664.00"
	"angles" "0.00 180.00 0.00"
}
; --- Extra ladder on end towers
{
	"model" "*101" ; --- Ladder on same tower
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-9275.00 -140.99 0.00"
	"angles" "0.00 270.00 0.00"
}
; --- Fence covers near end
{
	"classname" "prop_dynamic"
	"angles" "0 90 -10"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_64_cold.mdl"
	"solid" "6"
	"origin" "-3850 3572 22"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 7"
	"disableshadows" "1"
	"model" "models/cold/props_urban/fence_cover001_64_cold.mdl"
	"solid" "6"
	"origin" "-4210 3572 28"
}
; --- Ladder onto end saferoom
{
	"model" "*101"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-11365.00 -1736.00 -807.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*101"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2203.00 7121.99 -808.00"
	"angles" "0.00 90.00 0.00"
}
; --- Prop on roof to spawn behind
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/acvent01.mdl"
	"solid" "6"
	"origin" "-6784 2578 216"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_snowpiles/acvent01_snowpile01.mdl"
	"solid" "0"
	"origin" "-6784 2578 216"
}