modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"item2" "1"
	}
	replace:
	{
		"item2" "0"
	}
}
; --- Remove ragdoll hurt triggers
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"vscripts" "cf_ragdollize"
	}
	replace:
	{
		"classname" "trigger_hurt"
	}
	insert:
	{
		"damagecap" "10000"
		"damage" "10000"
		"damagetype" "32"
	}
	delete:
	{
		"vscripts" "cf_ragdollize"
	}
}
; --- Make fire extinguishers nonsolid
{
	match:
	{
		"model" "models/props/cs_office/Fire_Extinguisher.mdl"
		"classname" "prop_physics"
	}
	replace:
	{
		"spawnflags" "261"
	}
}
; --- Make shelf hittables 1shot (covered by edit to Hittable Control plugin because the mapmaker spawns some in with vscript >:( )
;{
;	match:
;	{
;		"model" "models/props_mall/store_display_waisthigh.mdl"
;	}
;	replace:
;	{
;		"massscale" "8.5"
;	}
;}
; --- Make kiddie land hittables oneshot
{
	match:
	{
		"model" "models/props_fairgrounds/kiddyland_ridecar.mdl"
	}
	replace:
	{
		"massscale" "0.28"
	}
}
{
	match:
	{
		"model" "models/props_fairgrounds/kiddyland_ridetrain.mdl"
	}
	replace:
	{
		"massscale" "0.12"
	}
}
; --- Make umbrella stop glowing red and make it a 1 damage hittable
{
	match:
	{
		"model" "models/props_urban/round_table_umbrella002.mdl"
	}
	replace:
	{
		"massscale" "0.01"
	}
}
add:
; --- Add ladder teleports to get behind fence in spawn
{
	"model" "*329" ; --- (-4840.00,-5231.00,146.00)
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1648.00 -541.00 -88.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*329"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-11472.00 -11005.00 -88.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*394" ; --- -3532 -4591 170
	"targetname" "spawntele_1"
	"target" "backrooms_destination"
	"spawnflags" "1"
	"origin" "-6636 -5786 160"
	"angles" "0 90 0"
	"filtername" "Filter_infected_only"
	"classname" "trigger_teleport"
}
{
	"classname" "info_target"
	"targetname" "backrooms_destination"
	"origin" "-6632 -5748 80"
	"angles" "0 90 0"
}
{
	"model" "*394" ; --- -3532 -4591 170
	"targetname" "spawntele_2"
	"target" "spawn_destination"
	"spawnflags" "1"
	"origin" "-6480 -5754 160"
	"angles" "0 90 0"
	"filtername" "Filter_infected_only"
	"classname" "trigger_teleport"
}
{
	"classname" "info_target"
	"targetname" "spawn_destination"
	"origin" "-6488 -5792 80"
	"angles" "0 270 0"
}
; --- some QoL clipping for above ladders
{
	"origin" "-6464 -5764 0"
	"mins" "-2.3 0 0"
	"maxs" "0 228 160"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Block survivors from leamington diamonds upper part
{
	"origin" "-3824 -5168 176"
	"mins" "-992 -64 0"
	"maxs" "0 0 80"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Faster ladders into toy store roof (using ladder above it)
{
	"model" "*363"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1518.49 -4945.50 -132.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*363"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4878.50 -1585.49 -132.00"
	"angles" "0.00 90.00 0.00"
}
; --- Fix getting stuck in a crouch spot in an elevator
modify:
{
	match:
	{
		"hammerid" "908370"
	}
	delete:
	{
		"filtername" "Filter_infected_only"
	}
}
; --- Fix falling off ladders in main elevators
{
	match:
	{
		"hammerid" "2126021"
	}
	insert:
	{
		"origin" "0.00 1.00 0.00"
	}
}
{
	match:
	{
		"hammerid" "2125886"
	}
	insert:
	{
		"origin" "0.00 -1.00 0.00"
	}
}
{
	match:
	{
		"hammerid" "2127056"
	}
	insert:
	{
		"origin" "0.00 1.00 0.00"
	}
}
{
	match:
	{
		"hammerid" "2127061"
	}
	insert:
	{
		"origin" "0.00 -1.00 0.00"
	}
}
add:
; --- Add ladder into vent of elevator before event
{
	"model" "*261" ; --- Ladder at -576.00,-5679.00,-719.50
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-480.00 -10190.00 100.00"
	"angles" "0.00 180.00 0.00"
}
; --- Prop for above ladder
{
	"classname" "prop_dynamic"
	"angles" "0 40 100"
	"disableshadows" "1"
	"model" "models/props_vents/ventbreakable01_dm01_part04.mdl"
	"solid" "0"
	"origin" "96 -4510 -640"
}
; --- Blockers to make crossing over vent above pill cabinet easier
{
	"origin" "720 -5728 -636"
	"mins" "-64 0 -0.1"
	"maxs" "0 2 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "720 -5664 -636"
	"mins" "-64 -2 -0.1"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Make an auto crouch trigger for a vent
modify:
{
	match:
	{
		"hammerid" "8582763"
	}
	replace:
	{
		"classname" "trigger_playermovement"
		"spawnflags" "2051"
	}
	insert:
	{
		"angles" "0 90 0"
	}
}