; --- Remove medkits
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"item2" "1"
	}
	replace:
	{
		"item2" "0"
	}
}
; --- Make radio quieter
modify:
{
	match:
	{
		"hammerid" "6749233"
	}
	insert:
	{
		"OnStartTouch" "radiochatter1Volume20.1-1"
	}
}
