; --- Remove medkits
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"item2" "1"
	}
	replace:
	{
		"item2" "0"
	}
}
; --- Remove ragdoll hurt triggers
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"vscripts" "cf_ragdollize"
	}
	replace:
	{
		"classname" "trigger_hurt"
	}
	insert:
	{
		"damagecap" "10000"
		"damage" "10000"
		"damagetype" "32"
	}
	delete:
	{
		"vscripts" "cf_ragdollize"
	}
}
; --- Fix alarm cars, and enable both
filter:
{
	"targetname" "logic_versus_random"
}
{
	"parentname" "normalcar_3-car_physics"
}
{
	"targetname" "normalcar_3-car_physics"
}
{
	"parentname" "normalcar_2-car_physics"
}
{
	"targetname" "normalcar_2-car_physics"
}
add:
; --- Disable storm
{
	"classname" "logic_auto"
	"OnMapSpawn" "nostorm_relayTrigger0.1-1"
}
; --- Make doing CEDA van skip harder
{
	"origin" "2240 -4360 -5"
	"mins" "-0.5 -32 0"
	"maxs" "0 0 97"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Block survivors from crate near CEDA van
{
	"origin" "1500 -4606 177"
	"mins" "0 0 0"
	"maxs" "120 80 2000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Block survivors from bus
{
	"origin" "2163 -5244 0"
	"mins" "-481 0 0"
	"maxs" "0 103 2000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Tents
{
	"origin" "1280 -5312 135"
	"mins" "-200 0 0"
	"maxs" "0 384 2000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Tarp
{
	"origin" "2052 -5154 180"
	"mins" "-200 0 0"
	"maxs" "0 200 2000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Fence
{
	"origin" "2251 -4383 200"
	"mins" "-17 -480 0"
	"maxs" "0 0 2000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Extra boxes out of bounds for SI to stand on for CEDA van tank area
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props/cs_militia/crate_extralargemill.mdl"
	"solid" "6"
	"origin" "1046 -5328 2"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_snowpiles/crate_extralargemill_snowpile01.mdl"
	"solid" "0"
	"origin" "1046 -5328 2"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props/cs_militia/crate_extralargemill.mdl"
	"solid" "6"
	"origin" "1046 -4883 2"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_snowpiles/crate_extralargemill_snowpile01.mdl"
	"solid" "0"
	"origin" "1046 -4883 2"
}
; --- Ladders over white concrete wall (original at 1103.00,-5436.00,90.00)
{
	"model" "*282"
	"normal.z" "0.09"
	"normal.y" "0.00"
	"normal.x" "0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2240.00 -10872.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*282"
	"normal.z" "0.09"
	"normal.y" "0.00"
	"normal.x" "0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2240.00 -10319.00 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladders over truck at CEDA van spot, and a crate (original ladder at -191.00,-4667.99,168.00)
{
	"model" "*70"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6791.00 -6072.00 -176.50"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*70"
	"normal.z" "0.00"
	"normal.y" "0.99"
	"normal.x" "-0.05"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2525.58 -5826.06 -176.50"
	"angles" "0.00 93.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props/cs_militia/crate_extralargemill.mdl"
	"solid" "6"
	"origin" "2024 -5944 -4"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_snowpiles/crate_extralargemill_snowpile01.mdl"
	"solid" "0"
	"origin" "2024 -5944 -4"
}
; --- Clipping for a ladder near double tent
{
	"origin" "1984 -3456 49"
	"mins" "0 -64 -100"
	"maxs" "70 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Block survivors from Security roof
{
	"origin" "272 -1520 232"
	"mins" "0 -528 0"
	"maxs" "514 0 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Ladders in warehouse
{
	"model" "*231" ; --- Ladder at -1144.00,1519.50,217.50
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2648.00 2047.99 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*231"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "621.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ramp for jockeys at top of warehouse
{
	"classname" "prop_dynamic"
	"angles" "45 0 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"origin" "-362 1128 230"
}
filter:
; --- remove some crates that are problematic
{
	"hammerid" "615738"
}
{
	"hammerid" "2326151"
}
add:
; --- Ladder into vent in button room
{
	"model" "*70"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-6780.00 1759.00 -177.00"
	"angles" "0.00 90.00 0.00"
}
; --- Ladder onto event warehouse near electric things outside
{
	"model" "*170" ; --- -384.26,2144.00,144.00
	"normal.z" "0.00"
	"normal.y" "0.99"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2451.00 1184.00 124.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*170"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -521.00 0.00"
	"angles" "0.00 0.00 0.00"
}