; --- Remove medkits
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"item2" "1"
	}
	replace:
	{
		"item2" "0"
	}
}
; --- Remove ragdoll hurt triggers
modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"vscripts" "cf_ragdollize"
	}
	replace:
	{
		"classname" "trigger_hurt"
	}
	insert:
	{
		"damagecap" "10000"
		"damage" "10000"
		"damagetype" "32"
	}
	delete:
	{
		"vscripts" "cf_ragdollize"
	}
}
; --- Fix alarm car by removing the car that gets spawned inside of them, and remove 1 alarm car
filter:
{
	"targetname" "logic_versus_random"
}
{
	"parentname" "normalcar_2-car_physics"
}
{
	"targetname" "normalcar_2-car_physics"
}
{
	"parentname" "alarmcar_1-caralarm_0_car"
}
{
	"targetname" "alarmcar_1-caralarm_0_car"
}
add:
; --- Add AC vent to be able to get onto raised roof for first hit
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/acunit2.mdl"
	"solid" "6"
	"origin" "-1336 -6039 512"
}
; --- Remove some glass to make it obvious you can get into a room
filter:
{
	"hammerid" "22076"
}
{
	"hammerid" "22191"
}
{
	"hammerid" "22239"
}

; --- Add ladders next to removed glass
add:
{
	"model" "*272" ; --- ladder beneath it
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "188.00 -88.00 152.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*272"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "188.00 -518.00 152.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*272"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "71.00 -518.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Add extra prop next to first hittable car
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/pickup_truck_78.mdl"
	"solid" "6"
	"origin" "-532 -5455 128"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/pickup_truck_78_glass.mdl"
	"solid" "6"
	"origin" "-532 -5455 128"
}
; --- Make forklift unhittable
filter:
{
	"model" "models/props/cs_assault/forklift.mdl"
}
add:
{
	"classname" "prop_dynamic"
	"angles" "0 165 0"
	"disableshadows" "1"
	"model" "models/props/cs_assault/forklift.mdl"
	"solid" "6"
	"origin" "-1152 -4448 160"
}
; --- Ladder into tall building after store
{
	"model" "*201"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4316.00 -1282.00 -96.99"
	"angles" "0.00 270.00 0.00"
}
; --- Block SI from getting into easter egg room
{
	"origin" "1097 -4933 360"
	"mins" "0 -64 0"
	"maxs" "0 0 128"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Remove early jump out of hotel (and ladder beneath it)
modify:
{
	match:
	{
		"hammerid" "510845"
	}
	replace:
	{
		"spawnflags" "1"
	}
}
{
	match:
	{
		"hammerid" "510848"
	}
	replace:
	{
		"spawnflags" "1"
	}
}
filter:
{
	"hammerid" "424282"
}
add:
; --- Add ladder over unbreakable windows cuz why not
{
	"model" "*201" ;--- Ladder at 1601.00,-4200.00,386.50
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -544.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Add ladder up oneway drop
{
	"model" "*201"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -751.00 -184.00"
	"angles" "0.00 0.00 0.00"
}
; --- Clipping to make upper room better for movement
{
	"origin" "1584 -3792 544"
	"mins" "-12 -1536 0"
	"maxs" "0 0 15"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Add two-part ladder into second floor of building near end
{
	"model" "*201"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1572.00 -5372.00 -293.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*201"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1572.00 -5372.00 43.00"
	"angles" "0.00 90.00 0.00"
}
; --- Clipping for window
{
	"origin" "2667.4 -3776 618"
	"mins" "-55.4 0 0"
	"maxs" "0 3 200"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "2660 -3770 618"
	"mins" "0 -6 -6"
	"maxs" "64 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Extra ladder in last building
{
	"model" "*58" ; --- ladder at end of hallway
	"normal.z" "-0.24"
	"normal.y" "-0.68"
	"normal.x" "0.68"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7944.00 -2794.00 -402.00"
	"angles" "0.00 540.00 0.00"
}
{
	"model" "*58"
	"normal.z" "-0.24"
	"normal.y" "-0.68"
	"normal.x" "0.68"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7951.00 -2801.00 0.00"
	"angles" "0.00 180.00 0.00"
}