; --- end tower ladder

add:
{
	"model" "*354"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7482.00 8342.00 -679.00"
	"angles" "0.00 180.00 0.00"
}
filter:
{
	"hammerid" "750025"
}