filter:
{
	"classname" "weapon_item_spawn"
}
{
	"classname" "weapon_pain_pills_spawn"
}
{
	"hammerid" "504105"
}
{
	"hammerid" "504152"
}
{
	"hammerid" "504128"
}
{
	"hammerid" "504107"
}
;modify:
;{
;	match:
;	{
;		"classname" "trigger_finale"
;	}
;	insert:
;	{
;		"type" "2"
;	}
;	replace:
;	{
;		"VersusTravelCompletion" "0.15"
;	}
;}
modify:
{
	match:
	{
		"classname" "weapon_first_aid_kit_spawn"
	}
	replace:
	{
		"classname" "weapon_pain_pills_spawn"

	}
}
add:
{
	"model" "*86"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7223.57 1049.96 -333.05"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*87"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2250.24 4552.53 -571.87"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*87"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3506.00 176.00 -677.00"
	"angles" "0.00 90.00 0.00"
}

{
	"model" "*86"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1651.92 6012.00 -489.00"
	"angles" "0.00 180.00 0.00"
}

{
	"model" "*86"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3954.92 2179.00 35.99"
	"angles" "0.00 450.00 0.00"
}
{
	"model" "*175"
	"normal.z" "1.00"
	"normal.y" "0.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 512.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*175"
	"normal.z" "1.00"
	"normal.y" "0.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-549.03 196.84 175.11"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*175"
	"normal.z" "1.00"
	"normal.y" "0.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-969.64 2925.03 177.96"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*175"
	"normal.z" "1.00"
	"normal.y" "0.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1837.03 3826.52 50.69"
	"angles" "0.00 900.00 0.00"
}
{
	"model" "*175"
	"normal.z" "1.00"
	"normal.y" "0.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-616.29 2165.03 36.90"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*261"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-143.53 80.17 -467.97"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*86"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-382.03 -1173.59 -459.68"
	"angles" "0.00 0.00 0.00"
}

{
	"model" "*86"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "216.39 3387.03 -339.34"
	"angles" "0.00 270.00 0.00"
}
