; --- ladder in first prison
add:
{
	"model" "*81"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-822.50 -1457.49 -312.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*81"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-993.50 -1306.50 40.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*81"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-947.50 1211.00 -40.00"
	"angles" "0.00 0.00 0.00"
}
; --- make bad ladder function later
{
	"classname" "env_physics_blocker"
	"origin" "2477 -839 78"
	"mins" "-412 0 -1"
	"maxs" "0 176 0"
	"initialstate" "1"
	"BlockType" "2"
}
