; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
;--- Adds an extra infected ladder on the map to fix a broken one, near the ladder choke at the beginning (4346.00,1756.99,181.56)
add:
{
	"model" "*64"
	"normal.z" "-0.50"
	"normal.y" "0.00"
	"normal.x" "0.86"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "9905.00 2248.00 -88.00"
	"angles" "0.00 90.00 0.00"
	"rendermode" "10"
}
; --- Fix two ladders next to boat at end saferoom
modify:
{
	match:
	{
		"hammerid" "8007814"
	}
	insert:
	{
		"origin" "0.00 -0.10 0.00"
	}
}
{
	match:
	{
		"hammerid" "8007823"
	}
	insert:
	{
		"origin" "-70.00 0.00 0.00"
	}
}
; --- add a pipe to the moved ladder above since there's a really silly clipbrush error on map 4 only
add:
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "0"
	"origin" "-1415 7965 324"
}

; --- Try to fix tank spawns
{
	"classname" "logic_auto"
	"OnMapSpawn" "tankdetector,AddOutput,mins -5659 -3596 0,0,-1"
	"OnMapSpawn" "tankdetector,AddOutput,maxs 7808 10218 1584,0,-1"
	"OnMapSpawn" "tankdetector,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "tankteleport,AddOutput,mins -2000 -1000 0,0,-1"
	"OnMapSpawn" "tankteleport,AddOutput,maxs 0 2000 1584,0,-1"
	"OnMapSpawn" "tankteleport,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "target_mover_1,AddOutput,mins -50 -900 0,0,-1"
	"OnMapSpawn" "target_mover_1,AddOutput,maxs 0 0 500,0,-1"
	"OnMapSpawn" "target_mover_1,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "target_mover_2,AddOutput,mins -1300 0 0,0,-1"
	"OnMapSpawn" "target_mover_2,AddOutput,maxs 0 50 500,0,-1"
	"OnMapSpawn" "target_mover_2,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "target_mover_3,AddOutput,maxs 3000 50 500,0,-1"
	"OnMapSpawn" "target_mover_3,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "target_mover_4,AddOutput,maxs 3000 50 500,0,-1"
	"OnMapSpawn" "target_mover_4,AddOutput,solid 2,0,-1"
}
{
	"origin" "-2034 6610 318"
	"targetname" "filter_tank"
	"skin" "0"
	"Negated" "Allow entities that match criteria"
	"model" "models/infected/hulk.mdl"
	"classname" "filter_activator_model"
}
{
	"origin" "-2034 6610 320"
	"targetname" "filter_survivor"
	"Negated" "Allow entities that match criteria"
	"filterteam" "2"
	"classname" "filter_activator_team"
}
{
	"classname" "trigger_once"
	"origin" "0 0 0"
	"targetname" "tankdetector"
	"spawnflags" "3"
	"filtername" "filter_tank"
	"OnTrigger" "tankteleportKill1-1"
	"OnTrigger" "tanktargetKill2-1"
	"OnTrigger" "tankdetectorKill1-1"
	"OnTrigger" "target_mover_1Kill0-1"
	"OnTrigger" "target_mover_2Kill0-1"
	"OnTrigger" "target_mover_3Kill0-1"
	"OnTrigger" "target_mover_4Kill0-1"
}
{
	"classname" "trigger_teleport"
	"origin" "-1144 6212 0"
	"targetname" "tankteleport"
	"target" "tank_target"
	"filtername" "filter_tank"
	"StartDisabled" "0"
	"spawnflags" "3"
}
{
	"origin" "1007 4526 102"
	"targetname" "tank_target"
	"angles" "0 -90 0"
	"classname" "info_teleport_destination"
}
{
	"classname" "trigger_once"
	"origin" "2400 3400 100"
	"targetname" "target_mover_1"
	"spawnflags" "3"
	"filtername" "filter_survivor"
	"OnTrigger" "tank_target,addoutput,origin 696 5500 100,0,-1"
}
{
	"classname" "trigger_once"
	"origin" "1980 3416 100"
	"targetname" "target_mover_2"
	"spawnflags" "3"
	"filtername" "filter_survivor"
	"OnTrigger" "tank_target,addoutput,origin -13 6040 100,0,-1"
	"OnTrigger" "tank_target,addoutput,angles 0 0 0,0,-1"
}
{
	"classname" "trigger_once"
	"origin" "-1000 4600 100"
	"targetname" "target_mover_3"
	"spawnflags" "3"
	"filtername" "filter_survivor"
	"OnTrigger" "tank_target,addoutput,origin -1760 6210 108,0,-1"
	"OnTrigger" "tank_target,addoutput,angles 0 0 0,0,-1"
}
{
	"classname" "trigger_once"
	"origin" "-1000 5050 100"
	"targetname" "target_mover_4"
	"spawnflags" "3"
	"filtername" "filter_survivor"
	"OnTrigger" "tankteleportKill0-1"
	"OnTrigger" "tanktargetKill0-1"
	"OnTrigger" "tankdetectorKill0-1"
}
add:
; --- Ammo pile in end saferoom
{
	"classname" "weapon_ammo_spawn"
	"origin" "-3201 7746 156.385"
	"angles" "0 318 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}