; Map name: dprm2_downpour_a
; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; --- Block first alley
add:
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "2630 -3038.1 100"
	"angles" "0 0 0"
	"model" "models/props/de_nuke/truck_nuke.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "2630 -3038.1 100"
	"angles" "0 0 0"
	"model" "models/props/de_nuke/truck_nuke_glass.mdl"
	"classname" "prop_dynamic"
}
{
	"model" "*124"
	"origin" "2637 -2889 195"
	"angles" "0 23 0"
	"spawnflags" "2"
	"Solidity" "2"
	"classname" "func_brush"
}
; --- Ladder over truck
{
	"model" "*95"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1458.00 2669.00 57.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra ladder on building
{
	"model" "*56"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-887.00 -5716.00 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Don't let survivors on new truck
{
	"origin" "2592 -3130 100"
	"mins" "0 -70 0"
	"maxs" "74 0 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- SI ladder into other warehouse window
{
	"model" "*4"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-269.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Let survivors jump over truck
filter:
{
	"targetname" "barrier"
}
{
	"targetname" "block_nav"
}
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "nav_block,AddOutput,mins -1 -420 0,0,-1"
	"OnMapSpawn" "nav_block,AddOutput,maxs 1 12 200,0,-1"
	"OnMapSpawn" "nav_block,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "nav_block,BlockNav,,1,-1"
	"OnMapSpawn" "new_truck_nav_block,AddOutput,mins -90 -10 0,0,-1"
	"OnMapSpawn" "new_truck_nav_block,AddOutput,maxs 140 10 30,0,-1"
	"OnMapSpawn" "new_truck_nav_block,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "new_truck_nav_block,BlockNav,,1,-1"
}
{
	"classname" "func_nav_blocker"
	"origin" "2880 -3394 100"
	"targetname" "nav_block"
	"teamToBlock" "2"
	"affectsFlow" "1"
}
{
	"classname" "func_nav_blocker"
	"origin" "2630 -3038.1 100"
	"targetname" "new_truck_nav_block"
	"teamToBlock" "-1"
	"affectsFlow" "1"
}
modify:
{
	match:
	{
		"hammerid" "3451628"
	}
	replace:
	{
		"team" "0"
	}
}
add:
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "2488 -3732 82"
	"angles" "0 0 0"
	"model" "models/props_industrial/pallet_stack_docks.mdl"
	"classname" "prop_dynamic"
}
{
	"origin" "2587 -3705 185"
	"mins" "-30 -10 -200"
	"maxs" "0 4 0"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- ladder into hole of first building
{
	"model" "*153"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5481.54 9850.99 -183.99"
	"angles" "0.00 0.00 0.00"
}
; --- prop for above ladder
{
	"origin" "4264.5 -3650 248"
	"solid" "6"
	"model" "models/props_debris/concrete_spawnchunk001e.mdl"
	"disableshadows" "1"
	"angles" "80 0 0"
	"classname" "prop_dynamic"
}
; --- convert a fake ladder in the first large warehouse into an actual ladder
{
	"model" "*159"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7811.19 -2014.98 189.01"
	"angles" "0.00 270.00 0.00"
}
; --- Ladder onto silo at truck backtrack
{
	"model" "*66"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1471.99 -6933.00 -30.00"
	"angles" "0.00 90.00 0.00"
}
; --- Prop for above ladder
{
	"classname" "prop_dynamic"
	"origin" "2373 -4011 126"
	"angles" "0 0 0"
	"model" "models/props_lab/powerbox01a.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- fix a ladder after pseudo one-way
modify:
{
	match:
	{
		"hammerid" "3484921"
	}
	insert:
	{
		"origin" "2.00 0.00 0.00"
	}
}
add:
; --- add fence to nerf an SI spawn post generator room
{
	"origin" "142 -5317 96.5"
	"solid" "6"
	"model" "models/props_urban/fence001_128.mdl"
	"disableshadows" "1"
	"angles" "180 90 180"
	"classname" "prop_dynamic"
}
{
	"origin" "236 -5317 96.5"
	"solid" "6"
	"model" "models/props_urban/fence001_64.mdl"
	"disableshadows" "1"
	"angles" "180 90 180"
	"classname" "prop_dynamic"
}
; --- texture
{
	"origin" "160 -5047 -134.5"
	"solid" "0"
	"model" "models/props_update/c3m3_nodrawfence.mdl"
	"disableshadows" "1"
	"angles" "-75 90 90"
	"classname" "prop_dynamic"
}
{
	"origin" "160 -5593 -134.5"
	"solid" "0"
	"model" "models/props_update/c3m3_nodrawfence.mdl"
	"disableshadows" "1"
	"angles" "-75 270 90"
	"classname" "prop_dynamic"
}
; --- invis fence covers to block bullets
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_urban/fence_cover001_128.mdl"
	"solid" "6"
	"rendermode" "10"
	"origin" "142 -5318 88.5"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_urban/fence_cover001_64.mdl"
	"solid" "6"
	"rendermode" "10"
	"origin" "238 -5318 88.5"
}
{
	"model" "*174"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "103.00 251.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- block survivors from getting knocked over fence
{
	"origin" "240 -5315 228"
	"mins" "-165 -8 0"
	"maxs" "0 0 1900"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- fix SI getting stuck in tree next to new fence
{
	"origin" "275 -5312 198"
	"mins" "0 0 0"
	"maxs" "21 60 50"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- add solidity to two trees in the silo/entrance to concrete sugar building area
{
	"solid" "6"
	"origin" "-1237 -7354 97"
	"angles" "0 220 0"
	"model" "models/props_foliage/urban_tree_giant01.mdl"
	"disableshadows" "1"
	"rendermode" "10"
	"classname" "prop_dynamic"
}
; --- invisible block so survivors can't jump into the above tree easily
{
	"origin" "-1018.25 -7393.25 431"
	"mins" "-40 -50 -0.1"
	"maxs" "0.1 5 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"solid" "6"
	"origin" "355 -8630 97"
	"angles" "0 213 0"
	"model" "models/props_foliage/urban_tree_giant01_small.mdl"
	"disableshadows" "1"
	"rendermode" "10"
	"classname" "prop_dynamic"
}
; --- Ladder up one-way
{
	"model" "*91"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4843.00 -11391.00 -58.00"
	"angles" "0.00 180.00 0.00"
}
; --- Extend window ladder at pseudo one-way
{
	"model" "*90"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 0.00 -32.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra ladders in second brick mill for upper walkway
{
	"model" "*75"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1190.00 -1008.00 -6.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*3"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7794.00 -4603.00 0.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*75"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-95.00 -1008.00 -6.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*3"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4721.00 -7971.00 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Silo prop in open area in last silo field
{
	"classname" "prop_dynamic"
	"angles" "8 0 0"
	"disableshadows" "1"
	"model" "models/props_mill/tank_large01.mdl"
	"solid" "6"
	"origin" "-49 -7562 -120"
}
{
	"model" "*172"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4950.99 -6284.00 -84.00"
	"angles" "0.00 270.00 0.00"
}
{
	"origin" "-49 -7562 256"
	"mins" "-81 -113 0"
	"maxs" "179 113 1900"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Block getting on top of second sugar mill as tank
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "1010 -6368 608"
	"angles" "180 0 0"
	"model" "models/props/de_nuke/ventilationduct02large.mdl"
	"classname" "prop_dynamic"
}
{
	"classname" "env_physics_blocker"
	"origin" "978 -6392 628"
	"mins" "-12 0 -70"
	"maxs" "0 50 0"
	"initialstate" "1"
	"BlockType" "2"
}
{
	"classname" "env_physics_blocker"
	"origin" "978 -6344 608"
	"mins" "-70 0 0"
	"maxs" "0 1 8"
	"initialstate" "1"
	"BlockType" "2"
}
; --- Ladder over quick door button
{
	"model" "*105"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1372.00 -15887.00 -41.00"
	"angles" "0.00 180.00 0.00"
}
; --- Modify event door to open quicker
modify:
{
	match:
	{
		"targetname" "filter_generator"
	}
	delete:
	{
		"OnPass" "block_pathUnblockNav28-1"
	}
	insert:
	{
		"OnPass" "block_pathUnblockNav14-1"
		"OnPass" "door_slidingSetSpeed40-1"
	}
}
add:
; --- Tractor to sugarcane field
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-2100 -12410 100"
	"angles" "0 180 0"
	"model" "models/props_vehicles/tractor01.mdl"
	"classname" "prop_dynamic"
}
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_tractor,AddOutput,mins -111 -2 0,0,-1"
	"OnMapSpawn" "losfix_tractor,AddOutput,maxs 200 2 33,0,-1"
	"OnMapSpawn" "losfix_tractor,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "-2100 -12410 100"
	"targetname" "losfix_tractor"
}

; --- Block jumping on gas station roof
add:
{
	"classname" "env_physics_blocker"
	"origin" "-1593 -13616 894"
	"mins" "-330 -228 -580"
	"maxs" "330 228 580"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-1761 -13422 894"
	"mins" "-354 -162 -580"
	"maxs" "354 162 580"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; =========== PROMOD USELESS PILL REMOVAL =============
; =====================================================
; --- Remove out of bounds items (old version only)
filter:
{
	"hammerid" "6463708"
}
{
	"hammerid" "6463710"
}
{
	"hammerid" "6463712"
}
{
	"hammerid" "6463714"
}
{
	"hammerid" "6463716"
}
{
	"hammerid" "6463718"
}
{
	"hammerid" "6463720"
}
{
	"hammerid" "6463722"
}
{
	"hammerid" "6463724"
}
{
	"hammerid" "6463726"
}
{
	"hammerid" "6463728"
}
{
	"hammerid" "6463730"
}
{
	"hammerid" "6463732"
}
{
	"hammerid" "6463734"
}
{
	"hammerid" "6463736"
}
{
	"hammerid" "6463738"
}
{
	"hammerid" "6463740"
}
{
	"hammerid" "6463742"
}
{
	"hammerid" "6463744"
}
{
	"hammerid" "6463746"
}
{
	"hammerid" "6463748"
}
{
	"hammerid" "6463750"
}
{
	"hammerid" "6463752"
}
{
	"hammerid" "6463754"
}
{
	"hammerid" "6463756"
}
{
	"hammerid" "6463758"
}
{
	"hammerid" "6463760"
}
{
	"hammerid" "6463762"
}
{
	"hammerid" "6463764"
}
{
	"hammerid" "6463766"
}
{
	"hammerid" "6463768"
}
{
	"hammerid" "6463770"
}
{
	"hammerid" "6463772"
}
{
	"hammerid" "6463774"
}
{
	"hammerid" "6496351"
}
{
	"hammerid" "6496347"
}
{
	"hammerid" "6531608"
}
{
	"hammerid" "6496357"
}
{
	"hammerid" "6496363"
}
{
	"hammerid" "6496359"
}
{
	"hammerid" "6496361"
}
; --- filter out bugged witches in 1v1

filter:

{
	"targetname" "spawn_witch"
}
