;modify:
;{
;	match:
;	{
;		"classname" "env_fog_controller"
;	}
;	replace:
;	{
;		"farz" "4500"
;		"fogend" "4200"
;	}
;}
;{
;	match:
;	{
;		"classname" "sky_camera"
;	}
;	replace:
;	{
;		"fogend" "4200"
;	}
;}
;modify:
;{
;	match:
;	{
;		"classname" "worldspawn"
;	}
;	replace:
;	{
;		"maxpropscreenwidth" "20"
;	}
;	insert:
;	{
;		"minpropscreenwidth" "50"
;	}
;}

; --- Fix Glitch Spots and Allow Saferoom Roof Spawning
add:
{
	"model" "*254"
	"spawnflags" "1"
	"origin" "0 0 0"
	"classname" "trigger_once"
	"OnTrigger" "@director,RunScriptFile,nav_fixes/daybreak01_navfixes,3,-1"
}
filter:
{
	"classname" "info_zombie_spawn"
}
; --- Make pills not be guaranteed spawns
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"spawnflags" "2"
	}
	replace:
	{
		"spawnflags" "0"
	}
}
{
	match:
	{
		"classname" "weapon_pain_pills_spawn"
		"spawnflags" "2"
	}
	replace:
	{
		"spawnflags" "0"
	}
}
; --- Remove scripts that prevent boss spawns
modify:
{
	match:
	{
		"hammerid" "2434563"
	}
	delete:
	{
		"OnVersusPostIO" "@directorBeginScriptdaybreak_nobosses0-1"
	}
}
; --- Remove pill spawn in far away bathroom mirror near Gnome Door
filter:
{
	"hammerid" "3852309"
}
; --- Make glass models not glow for tanks
modify:
{
	match:
	{
		"model" "models/props/cs_militia/militiawindow02_breakable.mdl"
		"classname" "prop_physics"
	}
	replace:
	{
		"classname" "prop_dynamic_override"
	}
	insert:
	{
		"Solid" "6"
	}
}
; --- Spawn at bottom of hotel
add:
{
	"classname" "prop_dynamic"
	"origin" "-303 -46 -1024"
	"angles" "0 0 0"
	"model" "models/props_interiors/dresser_tall.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Fix Tank punch out of map at beginning street corner
add:
{
	"origin" "-1311 -1592 -756"
	"mins" "-17 0 0"
	"maxs" "0 785 1200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Block Survivors from getting punched onto bus stop near flamethrowers
{
	"origin" "-655 -1518 -737"
	"mins" "-217 -100 0"
	"maxs" "0 0 1200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Block Survivors from getting punched onto plane
{
	"origin" "2630 -321 -790"
	"mins" "0 0 0"
	"maxs" "500 1371 1200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Block LOS on plane chairs
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_planechairs,AddOutput,mins -90 -1 -50,0,-1"
	"OnMapSpawn" "losfix_planechairs,AddOutput,maxs 0 1 0,0,-1"
	"OnMapSpawn" "losfix_planechairs,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "3062 286 -912"
	"targetname" "losfix_planechairs"
}
{
	"classname" "func_brush"
	"origin" "3080 150 -912"
	"targetname" "losfix_planechairs"
}
{
	"classname" "func_brush"
	"origin" "3088 46 -912"
	"targetname" "losfix_planechairs"
}
{
	"classname" "func_brush"
	"origin" "3111 -186 -912"
	"targetname" "losfix_planechairs"
}
{
	"classname" "func_brush"
	"origin" "2916 31 -912"
	"targetname" "losfix_planechairs"
}
; --- Make event shorter
modify:
{
	match:
	{
		"targetname" "fire_howitzer"
	}
	delete:
	{
		"OnPressed" "@directorBeginScriptdaybreak01_event31"
		"OnPressed" "howitzer_burn_triggerDisable60.251"
		"OnPressed" "howitzer_burn_soundPlaySound5.251"
		"OnPressed" "howitzer_burn_soundStopSound65.251"
		"OnPressed" "warningblockerKill60.251"
		"OnPressed" "@directorEndScript651"
		"OnPressed" "@directorEndScript2.51"
		"OnPressed" "@directorBeginScriptdaybreak_nobosses65.51"
	}
	insert:
	{
		"OnPressed" "howitzer_burn_triggerDisable20.251"
		"OnPressed" "warningblockerKill20.251"
		"OnPressed" "howitzer_explosion_effectsStop20.251"
	}
}
{
	match:
	{
		"targetname" "howitzer_holdout_relay"
	}
	delete:
	{
		"OnTrigger" "bridge_navblockerUnblockNav65.25-1"
		"OnTrigger" "event_blockerUnblockNav65.25-1"
		"OnTrigger" "event_blockerKill70-1"
		"OnTrigger" "event_blockerBlockNav0.75-1"
	}
	insert:
	{
		"OnTrigger" "bridge_navblockerUnblockNav0.75-1"
		"OnTrigger" "@director,ScriptedPanicEvent,daybreak01_minifinale_rework,1,-1"
	}
}
; --- Remove ladder on truck at event
filter:
{
	"model" "*224"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "2602 434 -1032"
	"angles" "0 -20 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Add ladders near event
add:
; --- Extra building
{
	"model" "*115"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "249.00 3056.00 0.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*211"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4346.00 -4183.00 -58.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*211"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "8191.00 6185.00 -58.00"
	"angles" "0.00 180.00 0.00"
}
; --- Corner ladder
{
	"model" "*233"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3176.00 -510.00 -412.00"
	"angles" "0.00 90.00 0.00"
}
; --- Fix perma stuck spot at event corner
{
	"origin" "2674 -1342 -915"
	"mins" "-4 -4 -100"
	"maxs" "16 4 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Extra ladder onto truck after event 
{
	"model" "*122"
	"normal.z" "0.00"
	"normal.y" "-0.53"
	"normal.x" "-0.84"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5732.61 116.25 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Ladder into second floor of windows
{
	"model" "*120"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6564.00 7160.00 164.00"
	"angles" "0.00 180.00 0.00"
}
; --- Extra ladder onto an overturned semi
{
	"model" "*132"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3309.00 336.00 -10.00"
	"angles" "0.00 0.00 0.00"
}
add:
; --- Clipping for roof with fences along it
{
	"origin" "6528 5096 -488"
	"mins" "-230 -1360 -64"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Block Survivors from getting on a bus near alarm car
{
	"origin" "5278 5281 -826"
	"mins" "0 0 0"
	"maxs" "104 467 1200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Block Survivors from getting on some hedges near end
{
	"origin" "10326 7258 -745"
	"mins" "-652 0 0"
	"maxs" "0 132 1200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Replace bad ladder in hedge area with good ones
filter:
{
	"model" "*136"
}
{
	"model" "*137"
}
add:
{
	"model" "*63"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2648.00 -33.00 -0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*63"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2920.00 -33.00 -0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*63"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "13760.00 13641.00 -0.00"
	"angles" "0.00 540.00 0.00"
}
{
	"model" "*63"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "14034.00 13641.00 -0.00"
	"angles" "0.00 540.00 0.00"
}
; --- Ladders onto last houses of map
{
	"model" "*110"
	"normal.z" "0.00"
	"normal.y" "-0.99"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3824.00 -1232.00 -96.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*31"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5944.00 2859.00 -88.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto final bush
{
	"model" "*95"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "15.00 848.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladders onto first pillars
{
	"model" "*24"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "8458.50 7366.00 24.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*24"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "11529.50 12462.00 24.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*233"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10621.00 9871.50 -532.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*15"
	"normal.z" "0.00"
	"normal.y" "0.75"
	"normal.x" "-0.65"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-95.00 -108.00 0.00"
	"angles" "0.00 0.00 0.00"
}
add:
; --- Clipping for end pillar ladder
{
	"origin" "8215 9712 -464"
	"mins" "0 0 -32"
	"maxs" "36 40 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}

; --- Filter some stuff for performance
filter:
; --- Some gnome easter egg entities
{
	"hammerid" "3537738"
}
{
	"hammerid" "3537742"
}
{
	"hammerid" "3537746"
}
{
	"hammerid" "3537750"
}
{
	"hammerid" "3537646"
}
{
	"hammerid" "3537650"
}
{
	"hammerid" "3537522"
}
{
	"hammerid" "3537489"
}
; --- OoB Cars
{
	"hammerid" "3090497"
}
{
	"hammerid" "3090882"
}
; --- Gnome area two
{
	"hammerid" "3201304"
}
{
	"hammerid" "3201308"
}
{
	"hammerid" "3201129"
}
{
	"hammerid" "3201133"
}
{
	"hammerid" "3201113"
}
{
	"hammerid" "3201117"
}
{
	"hammerid" "3203194"
}
{
	"hammerid" "3239843"
}
{
	"hammerid" "3241313"
}
{
	"hammerid" "3240480"
}
{
	"hammerid" "3387405"
}
{
	"hammerid" "3387410"
}
{
	"model" "models/props_fortifications/orange_cone001_reference.mdl"
}
