; --- Fix Glitch Spots
add:
{
	"model" "*3"
	"spawnflags" "1"
	"origin" "-12520 -11644 235"
	"classname" "trigger_once"
	"OnTrigger" "Director,RunScriptFile,nav_fixes/daybreak02_navfixes,3,-1"
}
add:
; --- Ladder over first semi
{
	"model" "*58"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2094.00 419.00 -131.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*386"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3501.00 429.00 -196.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra ladders over early hedges
{
	"model" "*96"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "512.00 4.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*70"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "512.00 -4.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*11"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5.00 187.00 -2.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*10"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -49.00 -2.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*100"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-275.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*100"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "525.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*104"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-548.00 68.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*103"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-544.00 119.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Block survivors from getting on top of first bus
{
	"origin" "-9352 -9647 209"
	"mins" "0 0 0"
	"maxs" "486 230 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Improve clipping on truck ladder cross
{
	"origin" "-7395 -10470 153"
	"mins" "0 0 0"
	"maxs" "45 80 11"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Extra ladder onto overpass
{
	"model" "*16"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "332.00 15.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*47"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5.00 1325.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Hittable-blocking police barricades near overpass
;{
;	"classname" "prop_dynamic"
;	"angles" "0 0 0"
;	"disableshadows" "1"
;	"model" "models/props_street/police_barricade.mdl"
;	"solid" "6"
;	"origin" "-5986 -8860 40"
;}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"origin" "-5986 -8914 40"
}
;{
;	"classname" "prop_dynamic"
;	"angles" "0 90 0"
;	"disableshadows" "1"
;	"model" "models/props_street/police_barricade.mdl"
;	"solid" "6"
;	"origin" "-6040 -9480 40"
;}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_street/police_barricade.mdl"
	"solid" "6"
	"origin" "-5986 -9480 40"
}
; --- Improve clipping on overpass
{
	"origin" "-5552 -7942 320"
	"mins" "0 -3452 0"
	"maxs" "864 0 17"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-5550 -7942 337"
	"mins" "0 -3452 0"
	"maxs" "860 0 15"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Extra spawns near rocks on beach
{
	"classname" "prop_dynamic"
	"angles" "0 30 0"
	"disableshadows" "1"
	"model" "models/lostcoast/props_wasteland/rock_coast02g.mdl"
	"solid" "6"
	"origin" "344 -8427 70"
}
{
	"classname" "prop_dynamic"
	"angles" "0 220.5 -20"
	"disableshadows" "1"
	"model" "models/lostcoast/props_wasteland/rock_coast01c.mdl"
	"solid" "6"
	"origin" "836 -8086 -68"
}
; --- Let SI walk up the slanted rock
{
	"origin" "748 -7811 -64"
	"mins" "-40 0 0"
	"maxs" "0 150 13"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "744 -7805 -51"
	"mins" "-36 0 0"
	"maxs" "0 140 13"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "740 -7799 -38"
	"mins" "-32 0 0"
	"maxs" "0 130 13"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "736 -7794 -25"
	"mins" "-28 0 0"
	"maxs" "0 120 13"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Block survivors from getting on top of rock near event ammo
{
	"origin" "-620 -6784 146"
	"mins" "0 -186 0"
	"maxs" "100 0 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Don't let players into deep water
{
	"origin" "2100 -4600 -60"
	"mins" "-2100 -6000 -1000"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Ladders onto event boat
{
	"model" "*94"
	"normal.z" "0.00"
	"normal.y" "-0.92"
	"normal.x" "0.39"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4494.43 5716.77 -81.00"
	"angles" "0.00 60.00 0.00"
}
; --- Ladder onto post-boat rock
{
	"model" "*138"
	"normal.z" "0.48"
	"normal.y" "-0.12"
	"normal.x" "-0.86"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-6112.00 -5207.00 20.00"
	"angles" "0.00 90.00 0.00"
}
; --- Fix Survival nav issues
filter:
{
	"targetname" "survival_battlefield"
}
{
	"targetname" "survival_battlestation"
}
{
	"targetname" "survival_navblocker"
}
; --- Fix SI ladder on fortified building
modify:
{
	match:
	{
		"hammerid" "2036549"
	}
	insert:
	{
		"origin" "0.00 -0.50 0.00"
	}
}
; --- Fix SI ladder before event near nice house
{
	match:
	{
		"hammerid" "4571098"
	}
	insert:
	{
		"origin" "10.00 0.00 0.00"
	}
}
; --- Fix unobtainable pill spawn
modify:
{
	match:
	{
		"hammerid" "1360455"
	}
	replace:
	{
		"origin" "25 -7775 -3"
	}
}
filter:
{
	"classname" "info_zombie_spawn"
}
; --- Make pills not be guaranteed spawns
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"spawnflags" "2"
	}
	replace:
	{
		"spawnflags" "0"
	}
}
{
	match:
	{
		"classname" "weapon_pain_pills_spawn"
		"spawnflags" "2"
	}
	replace:
	{
		"spawnflags" "0"
	}
}
; --- Remove scripts that prevent boss spawns
modify:
{
	match:
	{
		"hammerid" "2871904"
	}
	delete:
	{
		"OnTrigger" "DirectorBeginScriptdaybreak_nobosses60.5-1"
	}
}
{
	match:
	{
		"hammerid" "4766451"
	}
	delete:
	{
		"OnVersusPostIO" "daybreak_boss_controllerRunScriptCodeChooseRandomBossLocations()3-1"
		"OnVersusPostIO" "DirectorBeginScriptdaybreak_nobosses0-1"
	}
}
add:
; --- Ammo pile at truck ladder
{
	"classname" "weapon_ammo_spawn"
	"origin" "-7969 -10327 40"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Solidify vent near truck ladder
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/vent_large1.mdl"
	"solid" "6"
	"origin" "-6944 -10888 400"
	"rendermode" "10"
}
; --- Ladders on overpass after truck ladder
{
	"model" "*226"
	"normal.z" "0.00"
	"normal.y" "-0.42"
	"normal.x" "-0.90"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-7630.82 -1272.30 252.00"
	"angles" "0.00 25.00 0.00"
}
{
	"model" "*280"
	"normal.z" "0.00"
	"normal.y" "-0.37"
	"normal.x" "0.92"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2441.50 -7392.51 274.00"
	"angles" "0.00 450.00 0.00"
}
{
	"model" "*280"
	"normal.z" "0.00"
	"normal.y" "-0.89"
	"normal.x" "0.44"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2323.74 -10272.13 274.00"
	"angles" "0.00 48.00 0.00"
}
; --- Ladder on rock near boat event
{
	"model" "*138"
	"normal.z" "0.48"
	"normal.y" "0.12"
	"normal.x" "0.86"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6447.00 -7221.00 -80.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*138"
	"normal.z" "0.48"
	"normal.y" "0.12"
	"normal.x" "0.86"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6419.00 -7225.00 5.00"
	"angles" "0.00 270.00 0.00"
}
; --- Extra ladder near death charge at boat event
{
	"model" "*226"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-273.00 936.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ammo pile after one-way
{
	"classname" "weapon_ammo_spawn"
	"origin" "-199 -4751 -24"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ladder out of stuck-y spot near end
{
	"model" "*205"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "17.00 1691.00 -0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra ladder onto Save 4 Less
{
	"model" "*180"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "807.00 -4351.00 -0.00"
	"angles" "0.00 270.00 0.00"
}
; --- Prop for above ladder
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "6"
	"origin" "-1463 -1752 528"
}
{
	"classname" "prop_dynamic"
	"angles" "0 180 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"solid" "6"
	"origin" "-1463 -1752 272"
}
; --- Add some ladders around buses at end
{
	"model" "*29"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1341.00 3497.00 -20.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*57"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-238.00 -250.00 -20.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*181"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3937.00 2360.00 -368.00"
	"angles" "0.00 450.00 0.00"
}
; --- Extra over truck
{
	"model" "*55"
	"normal.z" "0.00"
	"normal.y" "0.70"
	"normal.x" "-0.71"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "30.00 -876.00 -15.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*93"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-199.00 649.00 -16.00"
	"angles" "0.00 0.00 0.00"
}
; --- Remove second event and nerf area instead
filter:
{
	"targetname" "emergency_door_relay"
}
{
	"targetname" "FortPointDoor1"
}
{
	"targetname" "FortPointDoor2"
}
{
	"targetname" "fortpointblocker"
}
{
	"targetname" "emergency_door_clip_brush"
}
add:
; --- clipping for dead bodies before deleted event door
{
	"origin" "140 232 8"
	"mins" "0 0 0"
	"maxs" "20 200 14"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "100 357 8"
	"mins" "-170 0 0"
	"maxs" "5 225 18"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "211 575 8"
	"mins" "0 -200 0"
	"maxs" "88 0 18"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- more visible ladder onto rubble pile pre-deleted event door
{
	"model" "*216"
	"normal.z" "0.00"
	"normal.y" "-0.78"
	"normal.x" "0.62"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-549.50 585.50 0.00"
	"angles" "0.00 270.00 0.00"
}
; --- ladder into balcony on left at end
{
	"model" "*290"
	"normal.z" "0.00"
	"normal.y" "0.70"
	"normal.x" "0.70"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2248.00 3673.00 36.00"
	"angles" "0.00 180.00 0.00"
}
; --- Crates for spawns
{
	"classname" "prop_dynamic"
	"origin" "-1599 1700 -3"
	"angles" "0 135 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1599 1700 37"
	"angles" "0 45 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1754 2677 -10"
	"angles" "-3 45 2"
	"model" "models/props/de_nuke/crate_small.mdl"
	"solid" "6"
	"disableshadows" "1"
}
filter:
; --- Seagulls :(
{
	"model" "models/props_critters/seagull_group.mdl"
}
{
	"classname" "prop_ragdoll"
}