; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket
; --- remove leftover item spawns in fire path
filter:
{
	"hammerid" "1299714"
}
{
	"hammerid" "1899642"
}
{
	"hammerid" "1899646"
}
{
	"hammerid" "1899648"
}
{
	"hammerid" "1899662"
}
{
	"hammerid" "1899670"
}
{
	"hammerid" "1899674"
}
{
	"hammerid" "1899680"
}
; --- remove 3 of the 4 starting melees
filter:
{
	"hammerid" "1299694"
}
{
	"hammerid" "1299708"
}
{
	"hammerid" "1299714"
}
add:
; --- block jail pull-down skip
{
	"origin" "543 5886 -73"
	"mins" "-8 -114 -100"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "504.75 5772 -142"
	"mins" "-18 0 0"
	"maxs" "0 0 100"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
add:
; --- Fix wood fences not blocking LOS
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_bus,AddOutput,mins 0 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_bus,AddOutput,maxs 220 0.1 40,0,-1"
	"OnMapSpawn" "losfix_bus,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,mins 0 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,maxs 176 0.1 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_b,AddOutput,mins -0.1 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_b,AddOutput,maxs 1 500 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_b,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_c,AddOutput,mins -0.1 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_c,AddOutput,maxs 1 128 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_c,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "2236 7232 -80"
	"targetname" "losfix_bus"
}
{
	"classname" "func_brush"
	"origin" "2456 7150 -80"
	"targetname" "losfix_bus"
}
{
	"classname" "func_brush"
	"origin" "1227 9527 -66"
	"targetname" "losfix_woodfence_a"
}
{
	"classname" "func_brush"
	"origin" "2999 5920 -66"
	"targetname" "losfix_woodfence_b"
}
{
	"classname" "func_brush"
	"origin" "4070 6388 -66"
	"targetname" "losfix_woodfence_b"
}
{
	"classname" "func_brush"
	"origin" "5065 7028 -66"
	"targetname" "losfix_woodfence_c"
}
{
	"classname" "func_brush"
	"origin" "5065 7412 -66"
	"targetname" "losfix_woodfence_c"
}
; --- make it so the TVs don't fall in the jail (due to global stripper)
modify:
{
	match:
	{
		"model" "models/props_interiors/tv.mdl"
	}
	insert:
	{
		"spawnflags" "8"
	}
}
; --- Replace hittable dumpster with ambulance for outdoor tank fights
filter:
{
	"hammerid" "72019"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "2222 6050 -66"
	"angles" "0 0 0"
	"model" "models/props_vehicles/ambulance.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2222 5940 -26"
	"angles" "0 90 0"
	"model" "models/props_misc/bodybag_02/bodybag_02.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "0"
	"origin" "2252 6048 -28.5"
	"angles" "0 0 0"
}
{
	"classname" "weapon_ammo_spawn"
	"origin" "2228 6020 -28.5"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Add extra fence for hittable blocking
{
	"classname" "prop_dynamic"
	"origin" "2373 6460 10"
	"angles" "0 90 0"
	"model" "models/props_wasteland/exterior_fence002c.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Make cars unhittable
modify:
{
	match:
	{
		"classname" "prop_physics"
		"model" "models/props_vehicles/police_car_city.mdl"
	}
	replace:
	{
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"disableshadows" "1"
		"solid" "6"
	}
}
{
	match:
	{
		"classname" "prop_physics"
		"model" "models/props_vehicles/police_car_rural.mdl"
	}
	replace:
	{
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"disableshadows" "1"
		"solid" "6"
	}
}
{
	match:
	{
		"hammerid" "588987"
	}
	replace:
	{
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"disableshadows" "1"
		"solid" "6"
	}
}
{
	match:
	{
		"hammerid" "1446821"
	}
	replace:
	{
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"disableshadows" "1"
		"solid" "6"
	}
}
{
	match:
	{
		"hammerid" "1519993"
	}
	replace:
	{
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"disableshadows" "1"
		"solid" "6"
	}
}
{
	match:
	{
		"hammerid" "836002"
	}
	replace:
	{
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"disableshadows" "1"
		"solid" "6"
	}
}
{
	match:
	{
		"hammerid" "1411960"
	}
	replace:
	{
		"classname" "prop_dynamic"
		"spawnflags" "0"
	}
	insert:
	{
		"disableshadows" "1"
		"solid" "6"
	}
}
add:
; --- Add SI ladder to back fire department
{
	"model" "*302"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1302.00 -1865.00 -172.00"
	"angles" "0.00 0.00 0.00"
}
; --- Front fire 
{
	"model" "*135"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-800.00 -2790.00 -291.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra SI ladder over wall from jail fence
{
	"model" "*89"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "628.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder near hittable dumpsters
{
	"model" "*118"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10435.00 3712.00 -69.00"
	"angles" "0.00 90.00 0.00"
}
; --- Make fence solid, then add ladder to unstuck
{
	"origin" "3412 6925 -4"
	"mins" "0 0 0"
	"maxs" "112 0 128"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"model" "*118"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10463.00 4195.00 0.00"
	"angles" "0.00 90.00 0.00"
}

; --- Extra ladders and props for semi tank
{
	"model" "*87"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10043.00 6520.00 0.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*136"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-342.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto semi back
{
	"model" "*125"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5616.00 11601.00 -144.00"
	"angles" "0.00 270.00 0.00"
}
{
	"classname" "prop_dynamic"
	"angles" "0 90 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_03.mdl"
	"solid" "6"
	"origin" "3918 8352 867"
}
{
	"classname" "prop_dynamic"
	"angles" "180 270 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_03.mdl"
	"solid" "6"
	"origin" "3918 8352 868"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_03.mdl"
	"solid" "6"
	"origin" "3826 8440 867"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_highway/plywood_01.mdl"
	"solid" "6"
	"origin" "3706 8440 867"
}
{
	"model" "*52"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-13.00 -184.00 8.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*97"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "12548.00 6266.00 70.00"
	"angles" "0.00 90.00 0.00"
}
; --- let SI walk over roof above semi
{
	"origin" "3282 7982 727"
	"mins" "-528 0 0"
	"maxs" "0 500 1"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- add more infected arrows for easier direction on the rooftops
add:
{
	"origin" "3935 7665 851"
	"texture" "sblitz/infected_arrow"
	"classname" "infodecal"
}
filter:
; --- Remove dumpster stuck in other dumpster
filter:
{
	"hammerid" "1479808"
}
add:
; --- block glitch spot pipes for suvivors in first sewer area
{
	"origin" "4856 5100 -314"
	"mins" "0 0 0"
	"maxs" "12 793 187"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Add SI ladders to sewer ladder corners
{
	"model" "*108"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "13678.00 3163.49 -365.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*108"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1885.00 -3566.00 -365.00"
	"angles" "0.00 0.00 0.00"
}
; --- filter some entities for ent limit
filter:
{
	"hammerid" "327730"
}
{
	"hammerid" "1810450"
}
; ========================================
;---- Remove Random T2 Spawner (Does not get converted to T1)
filter:
{
	"hammerid" "215937"
}

;---- Add some Weapon Spawns.
add:
{
	"origin" "4281 6468 -65"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 115.5 90"
	"classname" "weapon_spawn"
}
{
	"origin" "-634.272 6729.65 45"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 243.5 90"
	"classname" "weapon_spawn"
}
{
	"origin" "-612 6715 45"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 264 90"
	"classname" "weapon_spawn"
}
{
	"origin" "1023 7064.16 7.13"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 8.155 88.6681"
	"classname" "weapon_spawn"
}

;---- Prevent Mobtimers to get set back to default by VScript
modify:
{
	match:
	{
		"targetname" "alarm_off_relay"
	}
	delete:
	{
		"OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown5-1"
	}
	insert:
	{
		"OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown_promod5-1"
	}
}
{
	match:
	{
		"targetname" "dynamic_on2"
	}
	delete:
	{
		"OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown43-1"
	}
	insert:
	{
		"OnTrigger" "directorBeginScriptsb_map3_jail_crescendo_cooldown_promod43-1"
	}
}
