; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket
; --- Remove alarmed windows
filter:
{
	"targetname" "cafe_event"
}
{
	"classname" "prop_car_alarm"
}
; --- Move first SI ladder you see a bit to not get stuck on a poorly placed clipbrush
modify:
{
	match:
	{
		"hammerid" "1083178"
	}
	insert:
	{
		"origin" "0.00 -4.00 0.00"
	}
}
; --- Fix surf spot for infected on roof of first hit
add:
{
	"origin" "-1795 1855 685"
	"mins" "-570 0 -0.1"
	"maxs" "0 75 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Make one of the roof rims solid that isn't for some reason
{
	"origin" "-1073 1548 560"
	"mins" "-14 -0.1 -0.1"
	"maxs" "0.1 350 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Fix surf stuck spot on burning fuel truck at the very beginning
{
	"origin" "-861.5 1022 -25"
	"mins" "-17 -0 -20"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- fix another surf spot on one of the beginning roofs
{
	"origin" "-363 1858 650"
	"mins" "-650 -0.1 -5"
	"maxs" "0 75 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- lazily improve clipping on light before CEDA van
{
	"origin" "-277 1414 -92"
	"angles" "0 55 0"
	"mins" "-6 -160 0"
	"boxmins" "-6 -160 0"
	"maxs" "6 0 18"
	"boxmaxs" "6 0 18"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Fixes a broken ladder right before water section
modify:
{
	match:
	{
		"hammerid" "3500324"
	}
	replace:
	{
		"normal.x" "-1.000000"
	}
}
; --- Ladder to escape bush corner before the water
add:
{
	"model" "*207"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3899.00 937.50 -386.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladders to escape bush circle near lit-street lamp along the water before the porta potties
{
	"model" "*101"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-740.50 -516.00 -12.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*102"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-331.00 -784.00 -10.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*102"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-324.00 -470.00 -10.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*101"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-302.50 -504.00 -12.00"
	"angles" "0.00 0.00 0.00"
}
; --- stuck spot for bush trees
{
	"origin" "-547 5252 -232"
	"mins" "-6 -4 -0"
	"maxs" "6 4 220"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Ladder to climb onto roof near porta potties
{
	"model" "*218"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4924.00 1853.00 -40.00"
	"angles" "0.00 90.00 0.00"
}
; --- Texture roof
{
	"classname" "prop_dynamic"
	"origin" "123 4653 280"
	"angles" "0 0 0"
	"model" "models/props_update/c8m1_rooftop_1.mdl"
	"solid" "0"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-933 4653 280"
	"angles" "0 0 0"
	"model" "models/props_update/c8m1_rooftop_1.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- fix SI stuck spot behind fence near typical holdout spot near porta potties
{
	"origin" "557 5247 -232"
	"mins" "-4 -4 0"
	"maxs" "4 4 10"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- make sideways white wall actually solid to stop smoker tongue and tank LOS farming at porta potty bridge
{
	"classname" "prop_dynamic"
	"origin" "704 4831 -44"
	"angles" "38 186 93.5"
	"solid" "6"
	"rendercolor" "255 255 255"
	"model" "models/props_fortifications/concrete_wall001_96_reference.mdl"
	"rendermode" "10"
	"disableshadows" "1"
}
; --- extra ladder on bridge to slightly help SI for common holdout spot
{
	"model" "*113"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 255.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- extra boat event building ladder
{
	"model" "*219"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-229.00 63.00 -296.00"
	"angles" "0.00 0.00 0.00"
}
; --- Make event trigger faster
{
	"model" "*179"
	"StartDisabled" "0"
	"spawnflags" "3"
	"origin" "3300 5573 -142.5"
	"filtername" "filter_surv"
	"classname" "trigger_once"
	"OnTrigger" "gascan_controlTrigger0-1"
}
modify:
{
	match:
	{
		"targetname" "canbreak_relay"
	}
	delete:
	{
		"OnTrigger" "bowline_rope_fireTrigger2.5-1"
	}
	insert:
	{
		"OnTrigger" "bowline_rope_fireTrigger0-1"
	}
}
{
	match:
	{
		"targetname" "bowline_rope_fire"
	}
	delete:
	{
		"OnTrigger" "CG_boatSetAnimationdrift6-1"
		"OnTrigger" "spread_relayTrigger9-1"
		"OnTrigger" "boatcoming_casePickRandom7-1"
		"OnTrigger" "boat_dummyStartForward6-1"
		"OnTrigger" "boat_brushEnable65-1"
		"OnTrigger" "bridge_pblockDisable66-1"
		"OnTrigger" "boat_blockerDisable6-1"
		"OnTrigger" "boat_moving_sndPlaySound11-1"
		"OnTrigger" "bridge_pushEnable10-1"
	}
	insert:
	{
		"OnTrigger" "CG_boatSetAnimationdrift0-1"
		"OnTrigger" "CG_boatSetPlaybackRate20.1-1"
		"OnTrigger" "spread_relayTrigger3-1"
		"OnTrigger" "boatcoming_casePickRandom1-1"
		"OnTrigger" "boat_dummyStartForward0-1"
;		"OnTrigger" "boat_dummySetSpeed10.1-1"
		"OnTrigger" "boat_brushEnable29.5-1"
		"OnTrigger" "bridge_pblockDisable30-1"
		"OnTrigger" "boat_blockerDisable0-1"
		"OnTrigger" "boat_moving_sndPlaySound5-1"
		"OnTrigger" "bridge_pushEnable4-1"
	}
}
{
	match:
	{
		"targetname" "boat_dummy"
	}
	replace:
	{
		"startspeed" "45"
		"velocitytype" "0"
	}
}
{
	match:
	{
		"targetname" "panic_relay"
	}
	delete:
	{
		"OnTrigger" "directorForcePanicEvent30-1"
	}
}
{
	match:
	{
		"targetname" "CG_boat"
	}
	insert:
	{
		"OnAnimationDone" "bridge_pushDisable01"
		"OnAnimationDone" "boatarrived_casePickRandom01"
	}
}
{
	match:
	{
		"targetname" "path_10"
	}
	delete:
	{
		"OnPass" "bridge_pushDisable01"
		"OnPass" "boatarrived_casePickRandom01"
	}
}
add:
; --- Block survivors from getting punched onto a balcony
{
	"origin" "1543.63 7483.59 -20"
	"mins" "-0.1 -0.1 -0.1"
	"maxs" "500 200 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Stop SI from getting stuck on roof after boat
{
	"origin" "2060 7646 44"
	"mins" "0 -40 -10"
	"maxs" "384 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "2089.5 7566 82"
	"mins" "0 0 -52"
	"maxs" "325 36 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Fix getting stuck on windowsill on ladder after event
modify:
{
	match:
	{
		"hammerid" "3751042"
	}
	insert:
	{
		"origin" "0.00 -3.10 0.00"
	}
}
; --- Make death charges/punches harder near post-boat bridge
{
	"classname" "prop_dynamic"
	"origin" "1232 7069 -195"
	"angles" "0 0 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1261 7040 -195"
	"angles" "0 90 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1309 7040 -195"
	"angles" "0 90 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1357 7040 -195"
	"angles" "0 90 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1405 7040 -195"
	"angles" "0 90 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1438 7040 -195"
	"angles" "0 90 0"
	"model" "models/props_windows/window_urban_bars_sm.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1449 7069 -195"
	"angles" "0 0 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "624 7104 -224"
	"angles" "0 90 0"
	"model" "models/props_downtown/railing04_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- for visuals
{
	"classname" "prop_dynamic"
	"origin" "418 7200 -223"
	"angles" "90 -160 0"
	"model" "models/props_downtown/railing04_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Add LOS blocker to underneath bridge
{
	"classname" "prop_dynamic"
	"origin" "1222 7530 -246"
	"angles" "0 0 0"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "1206 7484 -252"
	"angles" "95 0 0"
	"model" "models/props_highway/plywood_03.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- for visual
{
	"classname" "prop_dynamic"
	"origin" "1222 7530 -230"
	"angles" "170 180 0"
	"model" "models/props_fortifications/barricade001_128_reference.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Let SI get onto bridge faster after the boat (useful for retaining rage as tank)
{
	"model" "*218"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1820.00 2465.00 -346.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*218"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1794.94 2776.98 -421.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*101"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1530.18 2236.81 88.57"
	"angles" "0.00 0.00 0.00"
}
; --- Additional ladder options on bridge, not too useful
{
	"model" "*113"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 1897.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*102"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "972.29 1497.98 14.00"
	"angles" "0.00 0.00 0.00"
}
; --- More death charge nerfs near the end
{
	"classname" "prop_dynamic"
	"origin" "3860 7872 -232"
	"angles" "0 90 0"
	"model" "models/props_urban/bench001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3894 7872 -232"
	"angles" "0 270 0"
	"model" "models/props_urban/bench001.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3960 8069 -185"
	"angles" "0 10 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3951 8103 -185"
	"angles" "0 30 0"
	"model" "models/props_windows/window_urban_bars_sm.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3927 8130 -185"
	"angles" "0 45 0"
	"model" "models/props_windows/window_urban_bars_med.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3708 9188 -238"
	"angles" "0 0 0"
	"model" "models/props_downtown/railing04_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3708 9444 -238"
	"angles" "0 0 0"
	"model" "models/props_downtown/railing04_256.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- fix stuck spot behind a roof fence near alarm window building
{
	"model" "*87"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5260.00 15733.00 244.25"
	"angles" "0.00 180.00 0.00"
}
; --- Ladder to get onto alarm building balcony fast, and remove a fence
filter:
{
	"hammerid" "2427491"
}
add:
{
	"model" "*152"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "12160.00 6311.50 -192.00"
	"angles" "0.00 90.00 0.00"
}
; --- extra ladders to get on top of the alarm window building faster
{
	"model" "*152"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "11984.00 6488.00 0.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*152"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "512.00 0.85 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Fix some bad clipping on alarm building
{
	"origin" "2542 9078 235"
	"mins" "-31 -302 -29"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "2542 9080 220"
	"mins" "-31 -306 -15"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Extra ladder onto last red brick building
{
	"model" "*153"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "12263.50 8898.50 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Fix clipping on small roof at end
{
	"origin" "2248 10429 24"
	"mins" "0 0 -52"
	"maxs" "52 342 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- ladder over fence at tunnel near very end for niche scenarios
{
	"model" "*156"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1139.50 -78.00 -343.01"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder up final one-way
{
	"model" "*155"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-10745.00 11127.00 84.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*155"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-10745.00 11127.00 116.00"
	"angles" "0.00 270.00 0.00"
}
; --- Remove 4 pills at end safe house
filter:
{
	"hammerid" "5195057"
}
{
	"hammerid" "5195059"
}
{
	"hammerid" "5195061"
}
{
	"hammerid" "5195063"
}
;=====================================================
add:
;---- Add Exploding Barrel at Event
{
	"origin" "3634 6263 -219"
	"targetname" "event_gascan"
	"spawnflags" "268"
	"skin" "0"
	"rendercolor" "255 255 255"
	"renderamt" "255"
	"physdamagescale" "0.1"
	"model" "models/props_industrial/barrel_fuel.mdl"
	"inertiaScale" "1.0"
	"glowcolor" "255 255 255"
	"fadescale" "1"
	"fademindist" "-1"
	"damagefilter" "filter_invunerable"
	"BreakableType" "0"
	"angles" "0 0 0"
	"classname" "prop_fuel_barrel"
	"hammerid" "4495529"
	"OnBreak" "canbreak_relayTrigger01"
}
modify:
;---- Kill VScript, add our own.
{
	match:
	{
		"hammerid" "3443867"
	}
	delete:
	{
		"OnMapSpawn" "directorBeginScriptmap2_ambient0-1"
	}
	insert:
	{
		"OnMapSpawn" "directorBeginScriptmap2_ambient_promod0-1"
	}
}
