; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket
; --- remove nuisance pallets that block SI spawns near very beginning
filter:
{
	"hammerid" "2413144"
}
{
	"hammerid" "2413136"
}
{
	"hammerid" "2413140"
}
; --- fix broken boss spawns
{
	"hammerid" "2790450"
}
{
	"hammerid" "3563790"
}
{
	"hammerid" "2790438"
}
add:
; --- Wood to spawn behind on beginning catwalk
{
	"classname" "prop_dynamic"
	"origin" "1024 600 -211"
	"angles" "0 90 95"
	"solid" "6"
	"model" "models/props_highway/plywood_02.mdl"
	"disableshadows" "1"
	"rendercolor" "128 128 128"
}
{
	"classname" "prop_dynamic"
	"origin" "1380 936.5 -211"
	"angles" "0 0 95"
	"solid" "6"
	"model" "models/props_highway/plywood_02.mdl"
	"disableshadows" "1"
	"rendercolor" "128 128 128"
}
; --- Metal plates to all fences that have broken collision
add:
{
	"classname" "prop_dynamic"
	"origin" "252 599 -356"
	"angles" "90 90 0"
	"solid" "6"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "324 599 -356"
	"angles" "90 90 0"
	"solid" "6"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "619 462 -356"
	"angles" "90 0 0"
	"solid" "6"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-420 594 -214"
	"angles" "90 90 0"
	"solid" "6"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-348 594 -214"
	"angles" "90 90 0"
	"solid" "6"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-457 628 -214"
	"angles" "90 0 0"
	"solid" "6"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
; --- Make pistol spawn a gun spawn
modify:
{
	match:
	{
		"hammerid" "2412375"
	}
	replace:
	{
		"classname" "weapon_spawn"
		"angles" "0 75 90"
	}
	insert:
	{
		"weapon_selection" "tier1_any"
	}
}
add:
; --- SI ladders out of water death pit
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1425.10 1527.00 -145.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-947.00 -315.00 -129.00"
	"angles" "0.00 270.00 0.00"
}
; --- Survivor clipping for above ladders
{
	"origin" "-688 656 -340"
	"mins" "0 -3 0"
	"maxs" "230 0 280"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "128.00 330.00 -185.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "193.10 365.00 -124.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra pipes in water death pit
{
	"classname" "prop_dynamic"
	"origin" "-685 1124 -278"
	"angles" "90 270 0"
	"solid" "6"
	"model" "models/props_pipes/pipeset32d_corner128d_001a.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-634 1127 -282"
	"angles" "90 0 0"
	"solid" "6"
	"model" "models/props_pipes/pipeset32d_corner128r_001a.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-793 1104 -308"
	"angles" "90 270 0"
	"solid" "6"
	"model" "models/props_pipes/pipeset32d_corner128d_001a.mdl"
	"disableshadows" "1"
}
; --- Extra pipe to make pipe ladder actually useful, and move it
{
	"classname" "prop_dynamic"
	"origin" "-906 424 -123"
	"angles" "270 90 0"
	"solid" "6"
	"model" "models/props_pipes/pipeset32d_corner128r_001a.mdl"
	"disableshadows" "1"
}
modify:
{
	match:
	{
		"hammerid" "3527033"
	}
	insert:
	{
		"origin" "24.00 -83.00 0.00"
	}
}
; --- easy access for SI to get to the opposite ledge in the sewer room
add:
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1425.10 841.00 -185.00"
	"angles" "0.00 180.00 0.00"
}
; --- Prop for opposite ledge spawn
{
	"classname" "prop_dynamic"
	"origin" "-437 554 -276"
	"angles" "0 180 0"
	"solid" "6"
	"model" "models/props_unique/processor_tank.mdl"
	"disableshadows" "1"
}
; --- Block survivors from getting on opposite ledge
{
	"origin" "-458 272 -340"
	"mins" "0 0 0"
	"maxs" "130 320 280"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Ladders over fences in sewer room
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1074.50 -312.10 -129.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "39.00 1569.00 -57.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*327"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-815.00 -375.00 -57.00"
	"angles" "0.00 270.00 0.00"
}
filter:
{
	"hammerid" "2603644"
}
add:
; --- Ramp in sewer tank fight room to replace ladder
{
	"classname" "prop_dynamic"
	"origin" "-801 289 -364.5"
	"angles" "-5 90 0"
	"model" "models/props_unique/hospital05_rooftop_stair03.mdl"
	"solid" "0"
	"disableshadows" "1"
	"lightingorigin" "sewer_lighting"
}
{
	"classname" "prop_dynamic"
	"origin" "-801 592.5 -278.7"
	"angles" "-15.8 90 0"
	"model" "models/props_urban/metal_plate001.mdl"
	"solid" "6"
	"disableshadows" "1"
	"lightingorigin" "sewer_lighting"
}
{
	"classname" "prop_dynamic"
	"origin" "-765 592.5 -316"
	"angles" "-15.8 90 90"
	"model" "models/props_urban/metal_plate001.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "-801 465.5 -314.7"
	"angles" "-15.8 90 0"
	"model" "models/props_urban/metal_plate001.mdl"
	"solid" "6"
	"disableshadows" "1"
	"lightingorigin" "sewer_lighting"
}
{
	"classname" "prop_dynamic"
	"origin" "-765 465.5 -352"
	"angles" "-15.8 90 90"
	"model" "models/props_urban/metal_plate001.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "-801 338.5 -350.7"
	"angles" "-15.8 90 0"
	"model" "models/props_urban/metal_plate001.mdl"
	"solid" "6"
	"disableshadows" "1"
	"lightingorigin" "sewer_lighting"
}
{
	"classname" "info_target"
	"origin" "-794 498 -238"
	"targetname" "sewer_lighting"
}
; --- Cover ladder
{
	"classname" "prop_dynamic"
	"origin" "-832 599 -315"
	"angles" "0 0 0"
	"model" "models/props_lab/powerbox01a.mdl"
	"solid" "6"
	"disableshadows" "1"
	"lightingorigin" "sewer_lighting"
}
{
	"classname" "prop_dynamic"
	"origin" "-785 570 -340"
	"angles" "0 0 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-789 623 -340"
	"angles" "0 345 0"
	"model" "models/props_crates/static_crate_40.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- ladder into upper area right at end of sewers for SI spawns
{
	"model" "*95"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4624.50 -5830.00 -860.99"
	"angles" "0.00 0.00 0.00"
}
; --- block survivors from getting caught on new ladder
{
	"origin" "-736.5 -192 -340"
	"mins" "-6 0 0"
	"maxs" "0 192 136"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- improved clipping for new accessible area
{
	"origin" "-705 -152 -92"
	"mins" "-40 0 -0.1"
	"maxs" "0 112 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "-593 -152 -92"
	"mins" "0 0 -0.1"
	"maxs" "40 112 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "-745 -152 -92"
	"mins" "0 -432 -0.1"
	"maxs" "192 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "-745 -40 -92"
	"mins" "0 0 -0.1"
	"maxs" "192 244 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- some props to help signify borders up top
{
	"classname" "prop_dynamic"
	"origin" "-648 -536.1 -94"
	"angles" "0 0 0"
	"solid" "0"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-648 -280.1 -94"
	"angles" "0 0 0"
	"solid" "0"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-648 88.1 -94"
	"angles" "0 0 0"
	"solid" "0"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-741.1 -96 -92.5"
	"angles" "0 90 0"
	"solid" "0"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-556.9 -96 -92.5"
	"angles" "0 90 0"
	"solid" "0"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
; --- Extra SI ladder in alley
{
	"model" "*63"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-89.00 -563.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Prop for above ladder
{
	"classname" "prop_dynamic"
	"origin" "-363 490 373"
	"angles" "0 90 0"
	"solid" "6"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-363 490 117"
	"angles" "0 90 0"
	"solid" "6"
	"model" "models/props_rooftop/gutter_pipe_128.mdl"
	"disableshadows" "1"
}
{
	"model" "*333"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1112.50 -184.00 -0.00"
	"angles" "0.00 270.00 0.00"
}
; --- Extra bowling alley ladder near alarm car
{
	"model" "*310"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1.00 -741.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- make it so the TVs don't fall in the bowling alley (due to global stripper)
modify:
{
	match:
	{
		"model" "models/props_interiors/tv.mdl"
	}
	insert:
	{
		"spawnflags" "8"
	}
}
add:
; --- Extra arcade machine spawns in bowling alley
{
	"classname" "prop_dynamic"
	"origin" "-1368 2970 -11"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/sblitz/sb_arcade.mdl"
	"disableshadows" "1"
	"skin" "4"
}
;{
;	"classname" "prop_dynamic"
;	"origin" "-1046 2973 -11"
;	"angles" "0 180 0"
;	"solid" "6"
;	"model" "models/sblitz/sb_arcade.mdl"
;	"disableshadows" "1"
;	"skin" "6"
;}
; --- Extra shitty pillars in bowling alley
{
	"classname" "prop_dynamic"
	"origin" "-525 2136 60"
	"angles" "180 0 0"
	"model" "models/lighthouse/props/junkyard_column.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendercolor" "255 200 200"
}
{
	"classname" "prop_dynamic"
	"origin" "-864 2136 60"
	"angles" "180 0 0"
	"model" "models/lighthouse/props/junkyard_column.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendercolor" "255 200 200"
}
{
	"classname" "prop_dynamic"
	"origin" "-1203 2136 60"
	"angles" "180 0 0"
	"model" "models/lighthouse/props/junkyard_column.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendercolor" "255 200 200"
}
; --- Ammo pile in bowling alley
{
	"classname" "weapon_ammo_spawn"
	"origin" "-847 3160 25"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Ladder onto roof of bowling alley in side grassy area
{
	"model" "*168"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-963.00 299.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Remove hittable car at exit of bowling alley because it griefs the SI ladder
filter:
{
	"hammerid" "858342"
}
{
	"hammerid" "858346"
}
add:
{
	"classname" "prop_dynamic"
	"origin" "-2114.5 2942 -11"
	"angles" "0 70.5 0"
	"solid" "6"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-2114.5 2942 -11"
	"angles" "0 70.5 0"
	"solid" "6"
	"model" "models/props_vehicles/cara_95sedan_glass.mdl"
	"disableshadows" "1"
}
; --- let SI walk out from above theater
{
	"origin" "-3008 4690 245"
	"mins" "-172 -4 0"
	"maxs" "0 0 10"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- duck trigger for vent above theater
{
	"origin" "-3184 4844 289"
	"model" "*311"
	"spawnflags" "1"
	"classname" "trigger_auto_crouch"
}
; --- Ladder into vent after leaving first theater room
{
	"model" "*163"
	"normal.z" "-0.45"
	"normal.y" "-0.00"
	"normal.x" "-0.88"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-6821.10 10426.00 -128.00"
	"angles" "0.00 180.00 0.00"
}
; --- prevent Survivors from getting stuck on new ladder
{
	"origin" "-2634 4954 -11"
	"mins" "-4 0 0"
	"maxs" "0 256 128"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Extra weapon spawn in theater
{
	"origin" "-4073 5573 -9"
	"weapon_selection" "tier1_any"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 115.5 90"
	"classname" "weapon_spawn"
}
; --- Fix incredibly unlikely stuck spots behind fences after the theater
add:
{
	"model" "*43"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "132.00 -537.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*42"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-11519.03 868.76 -6.28"
	"angles" "0.00 270.00 0.00"
}
; --- fix some wood fences not blocking LOS
{
	"classname" "logic_auto"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,mins -166 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,maxs 0 0.1 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_b1,AddOutput,mins -0.1 -247 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_b1,AddOutput,maxs 0.1 0 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_b1,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_b2,AddOutput,mins 0 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_b2,AddOutput,maxs 260 0.1 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_b2,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_c,AddOutput,mins -512 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_c,AddOutput,maxs 0 0.1 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_c,AddOutput,solid 2,0,-1"
}
{
	"classname" "func_brush"
	"origin" "-787 977 -11"
	"targetname" "losfix_woodfence_a"
}
{
	"classname" "func_brush"
	"origin" "-2970 3612 -11"
	"targetname" "losfix_woodfence_b1"
}
{
	"classname" "func_brush"
	"origin" "-3230 3612 -11"
	"targetname" "losfix_woodfence_b2"
}
{
	"classname" "func_brush"
	"origin" "-6386 4546 -11"
	"targetname" "losfix_woodfence_c"
}
; --- fix end train killing survivors if they are on the front end of the train by moving kill plane
modify:
{
	match:
	{
		"hammerid" "1268129"
	}
	replace:
	{
		"origin" "-9785 6902 -273.5"
	}
}
; --- modify a seldom-used ladder after the theater so that you can climb up the building without running into the rim
modify:
{
	match:
	{
		"hammerid" "1267956"
	}
	insert:
	{
		"origin" "0.00 31.00 0.00"
	}
}
; --- Remove item spawns from unused side path
filter:
{
	"hammerid" "1983396"
}
{
	"hammerid" "1983400"
}
{
	"hammerid" "1983404"
}
{
	"hammerid" "1983408"
}
{
	"hammerid" "1983416"
}
{
	"hammerid" "1983418"
}
{
	"hammerid" "1983422"
}
{
	"hammerid" "1983424"
}
{
	"hammerid" "1983426"
}
{
	"hammerid" "1983432"
}
{
	"hammerid" "1983434"
}
{
	"hammerid" "1983440"
}
{
	"hammerid" "1983442"
}
{
	"hammerid" "1983448"
}
{
	"hammerid" "1983452"
}
{
	"hammerid" "1983462"
}
{
	"hammerid" "1983470"
}
{
	"hammerid" "1983472"
}
{
	"hammerid" "1983476"
}
{
	"hammerid" "1983478"
}
{
	"hammerid" "1998340"
}
{
	"hammerid" "2113975"
}
{
	"hammerid" "2113977"
}
{
	"hammerid" "2113981"
}
{
	"hammerid" "2113983"
}
{
	"hammerid" "2113987"
}
{
	"hammerid" "2113989"
}
{
	"hammerid" "2113997"
}
{
	"hammerid" "2114003"
}
{
	"hammerid" "2114009"
}
{
	"hammerid" "3778140"
}
{
	"hammerid" "3778142"
}
{
	"targetname" "keep_wep"
	"classname" "weapon_item_spawn"
}
{
	"targetname" "keep_wep"
	"classname" "weapon_first_aid_kit_spawn"
}