; --- Fix Glitch Spots
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "director,RunScriptFile,nav_fixes/daybreak04_navfixes,25,-1"
}
modify:
{
	match:
	{
		"classname" "env_fog_controller"
	}
	replace:
	{
		"farz" "4000"
		"fogend" "3600"
	}
}
{
	match:
	{
		"classname" "sky_camera"
	}
	replace:
	{
		"fogend" "3600"
	}
}
add:
; --- Fix surfing in saferoom against glass
{
	"origin" "-8376 -4492 -5054"
	"mins" "-8 0 -30"
	"maxs" "0 278 126"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-7021 -4214 -5054"
	"mins" "-1364 0 -30"
	"maxs" "0 8 126"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-7030 -4492 -5054"
	"mins" "0 0 -30"
	"maxs" "8 278 126"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Modify survivor ladders on boat to be easier to climb
modify:
{
	match:
	{
		"hammerid" "3556744"
	}
	insert:
	{
		"origin" "-4.10 0.00 0.00"
	}
	replace:
	{
		"normal.z" "0.000000"
		"normal.x" "-1.000000"
	}
}
{
	match:
	{
		"hammerid" "3030883"
	}
	insert:
	{
		"origin" "4.10 0.00 0.00"
	}
	replace:
	{
		"normal.z" "0.000000"
		"normal.x" "1.000000"
	}
}
{
	match:
	{
		"hammerid" "850919"
	}
	replace:
	{
		"normal.z" "0.000000"
		"normal.y" "-1.000000"
	}
}
add:
; --- Add boat King Kong ladder
{
	"model" "*173"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4210.00 -1016.00 -363.00"
	"angles" "0.00 0.00 0.00"
}
; --- Patch death jockey
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_c17/handrail04_long.mdl"
	"solid" "6"
	"origin" "-8387 -4144 -4883"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_c17/handrail04_long.mdl"
	"solid" "6"
	"origin" "-8259 -4144 -4883"
}
{
	"classname" "prop_dynamic"
	"angles" "0 270 0"
	"disableshadows" "1"
	"model" "models/props_c17/handrail04_long.mdl"
	"solid" "6"
	"origin" "-8131 -4144 -4883"
}
; --- Solidify death charge bus
{
	"classname" "prop_dynamic"
	"angles" "-9 0 0"
	"disableshadows" "1"
	"model" "models/props_vehicles/bus01_2.mdl"
	"solid" "6"
	"origin" "-7871 -4073 -4784"
	"fademindist" "3000"
	"fademaxdist" "3100"
	"rendermode" "10"
}
; --- Add some "QoL" ladders and clipping onto some of the bridge vehicles pre-event
add:
; --- Extra ladder on death charge semi
{
	"model" "*14"
	"normal.z" "0.00"
	"normal.y" "0.79"
	"normal.x" "0.60"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-11131.50 3206.50 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Onto white delivery van
{
	"model" "*15"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3706.00 502.00 -298.00"
	"angles" "0.00 0.00 0.00"
}
; --- Onto white van
{
	"model" "*15"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3129.00 386.00 -234.00"
	"angles" "0.00 0.00 0.00"
}
; --- Clipping around white van
{
	"origin" "-6610 -3484 -4688"
	"mins" "0 -2 -30"
	"maxs" "26 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-6610 -3484 -4669"
	"mins" "0 -1 -30"
	"maxs" "25 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-6297 -3484 -4560"
	"mins" "-56 -1 -20"
	"maxs" "0 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-6402 -3577 -4515"
	"mins" "-25 0 -65"
	"maxs" "0 70 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-6379 -3712 -4517"
	"mins" "-8 0 -65"
	"maxs" "0 90 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-6117 -3442 -4485"
	"mins" "0 0 -65"
	"maxs" "4 72 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-6116 -3442 -4460"
	"mins" "0 0 -65"
	"maxs" "4 72 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Onto steep bus
{
	"model" "*259"
	"normal.z" "0.41"
	"normal.y" "0.00"
	"normal.x" "0.91"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-10936.56 -8367.50 -1145.18"
	"angles" "0.00 90.00 -20.00"
}
; --- Onto railing near blue bus on right
{
	"model" "*244"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-6790.00 -7731.00 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- Clipping on left cop car lights
{
	"origin" "-5060 -3521 -4441"
	"mins" "0 -48 0"
	"maxs" "12 0 7"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Extra ladder on right bus directly before event
{
	"model" "*21"
	"normal.z" "0.00"
	"normal.y" "-0.92"
	"normal.x" "0.39"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-281.00 -119.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto van to left of CEDA van
{
	"model" "*15"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "128.00 368.00 -78.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto car to right of CEDA van
{
	"model" "*15"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-74.00 -275.00 -84.00"
	"angles" "0.00 0.00 0.00"
}
; --- Clipping for above ladder
{
	"origin" "-3300 -4150 -4445"
	"mins" "0 -80 -65"
	"maxs" "150 0 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Clipping for orange truck at event exit
{
	"origin" "-3082 -3600 -4446"
	"mins" "0 0 -65"
	"maxs" "214 2 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Clipping for taxi on event path
{
	"origin" "-2391 -3511 -4462"
	"mins" "0 -71 0"
	"maxs" "22 0 10"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Clipping for a cop car on event path
{
	"origin" "503 -3556 -4443"
	"mins" "-15 -49 0"
	"maxs" "0 0 10"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Fix surf spot on right side of bridge during event
{
	"origin" "-66 -4348 -4421"
	"mins" "0 -32 -80"
	"maxs" "65 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}

; --- Ladders onto final CEDA van near event button
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "770.00 -7.00 4.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*28"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "770.00 5.00 4.00"
	"angles" "0.00 0.00 0.00"
}
; --- Clipping for black car near event button
{
	"origin" "2670 -3767 -4464"
	"mins" "0 -87 0"
	"maxs" "175 0 12"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Extra ladders on bus near event button
{
	"model" "*29"
	"normal.z" "0.00"
	"normal.y" "0.83"
	"normal.x" "0.55"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "208.00 -143.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*29"
	"normal.z" "0.00"
	"normal.y" "-0.83"
	"normal.x" "-0.55"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3736.34 -7243.58 0.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladder on van next to above bus
{
	"model" "*29"
	"normal.z" "0.00"
	"normal.y" "0.98"
	"normal.x" "-0.14"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1519.81 -2242.01 -16.00"
	"angles" "0.00 42.00 0.00"
}
; --- Hittable at end of bridge
add:
{
	"classname" "prop_physics"
	"origin" "1982 -4100 -4500"
	"angles" "0 0 0"
	"model" "models/props_vehicles/cara_82hatchback_wrecked.mdl"
	"solid" "6"
	"fademindist" "2500"
	"fademaxdist" "2600"
	"targetname" "hittable_car_bridge_end"
	"rendercolor" "200 0 200"
}
{
	"classname" "prop_dynamic"
	"origin" "1982 -4100 -4500"
	"angles" "0 0 0"
	"model" "models/props_vehicles/cara_82hatchback_wrecked_glass.mdl"
	"solid" "6"
	"fademindist" "2500"
	"fademaxdist" "2600"
	"parentname" "hittable_car_bridge_end"
}
; --- Block survivors from jumping onto CEDA vans near event button
{
	"origin" "1926 -3986 -4324"
	"mins" "-1518 0 0"
	"maxs" "0 53 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Extra ladder on final CEDA van
{
	"model" "*35"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-336.00 16.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder over propane truck
{
	"model" "*272"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1149.00 17.00 -10.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder on left cliff at end of bridge
{
	"model" "*259"
	"normal.z" "0.07"
	"normal.y" "-0.99"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-721.00 34.00 19.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*259"
	"normal.z" "0.07"
	"normal.y" "0.99"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7730.00 -6459.99 226.00"
	"angles" "0.00 180.00 0.00"
}
; --- Ladder to climb to left cliff from bridge
{
	"model" "*270"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6857.00 -339.99 1.00"
	"angles" "0.00 270.00 0.00"
}
modify:
; --- Failsafe on CEDA trailer exit door to prevent softlocks
{
	match:
	{
		"targetname" "finale_cleanse_exit_door"
	}
	insert:
	{
		"OnBlockedOpening" "ceda_trailer_canopen_frontdoor_listener,Kill,,0,-1"
		"OnBlockedOpening" "finale_cleanse_exit_door,Unlock,,0.5,-1"
		"OnBlockedOpening" "finale_cleanse_exit_door,Close,,0.5,-1"
		"OnFullyOpen" "finale_cleanse_exit_door,Lock,,0,-1"
	}
}
; --- Add ladder after elevator onto roof
add:
{
	"model" "*6"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1354.00 9.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Add some clipping to a cliff for SI
{
	"origin" "8146 -8250 -5764"
	"mins" "0 0 0"
	"maxs" "250 50 15"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "8146 -8248 -5749"
	"mins" "0 0 0"
	"maxs" "250 48 15"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Make car at bottom of elevator unhittable
modify:
{
	match:
	{
		"hammerid" "3506525"
	}
	insert:
	{
		"solid" "6"
		"disableshadows" "1"
	}
	replace:
	{
		"classname" "prop_dynamic_override"
		"spawnflags" "0"
	}
}

; --- Remove dumpsters after elevator
filter:
{
	"hammerid" "1449661"
}
{
	"hammerid" "1086081"
}
{
	"classname" "info_zombie_spawn"
}
modify:
{
	match:
	{
		"targetname" "sound_chopperleave"
	}
	replace:
	{
		"health" "1"
	}
}
; --- Make breakable roof spots easier to break
{
	match:
	{
		"hammerid" "3778564"
	}
	replace:
	{
		"health" "1"
	}
}
{
	match:
	{
		"hammerid" "4024236"
	}
	replace:
	{
		"health" "1"
	}
}
; --- Make pills not be guaranteed spawns
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
		"spawnflags" "2"
	}
	replace:
	{
		"spawnflags" "0"
	}
}
{
	match:
	{
		"classname" "weapon_pain_pills_spawn"
		"spawnflags" "2"
	}
	replace:
	{
		"spawnflags" "0"
	}
}
