; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket
; --- Block button room in warmup
add:
{
	"origin" "-436 1500 -1800"
	"mins" "-300 -200 0.1"
	"maxs" "300 200 1"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Add anti-fall damage trigger to elevator
{
	"model" "*27"
	"wait" "0.1"
	"spawnflags" "1"
	"origin" "346.5 520.44 -77.61"
	"classname" "trigger_multiple"
	"parentname" "elevator_fl8_to_ground"
	"OnStartTouch" "!activatorIgnoreFallDamageWithoutReset300-1"
}
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"damagetype" "32"
	}
	replace:
	{
		"damagetype" "0"
	}
}

; --- fix ladder in elevator shaft
modify:
{
	match:
	{
		"hammerid" "1600049"
	}
	insert:
	{
		"origin" "0.00 0.15 0.00"
	}
}
; --- make elevator faster
modify:
{
	match:
	{
		"targetname" "elevator button"
	}
	delete:
	{
		"OnPressed" "flickerTrigger16.5-1"
		"OnPressed" "exp_FX_eleStart8-1"
		"OnPressed" "debris_elePlaySound8-1"
	insert:
	{
		"OnPressed" "elevator_fl8_to_groundSetMaxSpeed1203-1"
		"OnPressed" "flickerTrigger10.5-1"
		"OnPressed" "exp_FX_eleStart6.5-1"
		"OnPressed" "debris_elePlaySound6.5-1"
	}
}
; --- Make first wall unbreakable downstairs until button is pressed
{
	match:
	{
		"targetname" "cons wall2"
	}
	replace:
	{
		"spawnflags" "2049"
	}
}
; --- Move crate underneath button vent
{
	match:
	{
		"hammerid" "73804"
	}
	replace:
	{
		"origin" "-349.722 308 -2066.79"
	}
}
add:
{
	"classname" "func_nav_blocker"
	"origin" "0 501 -2087"
	"targetname" "wall_nav_block"
	"teamToBlock" "-1"
}
{
	"classname" "func_nav_blocker"
	"origin" "178 910 -3744"
	"targetname" "newroom_nav_block"
	"teamToBlock" "-1"
	"affectsFlow" "1"
}
{
	"classname" "func_nav_blocker"
	"origin" "178 910 -3744"
	"targetname" "truckroom_nav_block"
	"teamToBlock" "-1"
	"affectsFlow" "1"
}
; --- Fix wood fences not blocking LOS
{
	"classname" "logic_auto"
	"OnMapSpawn" "wall_nav_block,AddOutput,mins -1 0 -8,0,-1"
	"OnMapSpawn" "wall_nav_block,AddOutput,maxs 1 128 8,0,-1"
	"OnMapSpawn" "wall_nav_block,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "wall_nav_block,BlockNav,,1,-1"
	"OnMapSpawn" "newroom_nav_block,AddOutput,mins -50 -1 -8,0,-1"
	"OnMapSpawn" "newroom_nav_block,AddOutput,maxs 50 1 8,0,-1"
	"OnMapSpawn" "newroom_nav_block,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "newroom_nav_block,BlockNav,,1,-1"
	"OnMapSpawn" "caution2,break,,0,-1"
	"OnMapSpawn" "buttonwall,break,,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,mins -0.1 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,maxs 0.1 175 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_a,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_b,AddOutput,mins 0 -0.1 0,0,-1"
	"OnMapSpawn" "losfix_woodfence_b,AddOutput,maxs 128 0.1 96,0,-1"
	"OnMapSpawn" "losfix_woodfence_b,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "losfix_woodfence_b,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "light1TurnOn0-1"
	"OnMapSpawn" "groundfloor_lights2TurnOn0-1"
	"OnMapSpawn" "path0_prt2Open1-1"
	"OnMapSpawn" "path0_occ2Deactivate1-1"
}
{
	"classname" "func_brush"
	"origin" "-2039 -195 -3845"
	"targetname" "losfix_woodfence_a"
}
{
	"classname" "func_brush"
	"origin" "5083 2326 -3845"
	"targetname" "losfix_woodfence_b"
}
{
	"origin" "766.276 824.135 -3742.46"
	"weapon_selection" "tier1_shotgun"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 203.5 90"
	"classname" "weapon_spawn"
}
{
	"origin" "790 816 -3742.46"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 293.5 90"
	"classname" "weapon_spawn"
}
; --- add SI ladder into vent on button floor to get into elevator shaft
add:
{
	"model" "*85"
	"normal.z" "-0.75"
	"normal.y" "-0.00"
	"normal.x" "-0.65"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1072.85 306.00 1420.03"
	"angles" "0.00 180.00 0.00"
}
; --- More ladders into vents
{
	"model" "*85"
	"normal.z" "-0.75"
	"normal.y" "-0.65"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-211.00 1835.85 1420.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*85"
	"normal.z" "-0.75"
	"normal.y" "0.65"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-299.00 201.15 1442.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*85"
	"normal.z" "-0.75"
	"normal.y" "-0.00"
	"normal.x" "-0.65"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "634.50 331.00 1430.00"
	"angles" "0.00 180.00 0.00"
}
; --- Nerf rarely-used death charge on side path
{
	"origin" "-473 1294 -2087"
	"angles" "0 90 0"
	"model" "models/props_interiors/constructionwalls03.mdl"
	"solid" "6"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
; --- Open wall next to button
modify:
{
	match:
	{
		"hammerid" "1247175"
	}
	insert:
	{
		"targetname" "buttonwall"
	}
}
; --- modify elevator fixing button to spawn the horde, not a trigger next to the button
filter:
{
	;Zombie spawn trigger
	"hammerid" "1388440"
}
{
	"targetname" "tankwall"
}
{
	"targetname" "bomb2_trg"
}
modify:
{
	match:
	{
		"hammerid" "91959"
	}
	insert:
	{
		"OnPressed" "cons_bombTrigger1-1"
		"OnPressed" "cons wall2Break3-1"
		"OnPressed" "wall_nav_blockUnblockNav3-1"
		"OnPressed" "bomb_impact_snd2PlaySound3-1"
		"OnPressed" "bomb2_blastFXStart3-1"
		"OnPressed" "bomb2_fireStart4-1"
		"OnPressed" "explosion_debrisEnable3-1"
		"OnPressed" "explosion_debrisSetAnimationset_12a3-1"
		"OnPressed" "bomb2_firesndPlaySound4-1"
		"OnPressed" "cons_bombshk2StartShake3.25-1"
		"OnPressed" "bomb2_wallBreak3-1"
		"OnPressed" "scorchEnable3.15-1"
		"OnPressed" "support_breakBreak3-1"
		"OnPressed" "bomb2_burnEnable4-1"
		"OnPressed" "bomb2_BLASTHurt3-1"
		"OnPressed" "bomb2_physExplode3-1"
		"OnPressed" "rebarEnable3.15-1"
		"OnPressed" "f18s_cons2Enable3-1"
		"OnPressed" "f18s_cons2SetAnimationflyby13-1"
		"OnPressed" "flyby_snd2PlaySound6.5-1"
		"OnPressed" "bomb2_lightTurnOn3-1"
		"OnPressed" "plankBreak3-1"
		"OnPressed" "ladder_clipDisable3-1"
		"OnPressed" "bomb2_frameEnable3.15-1"
		"OnPressed" "ladderEnableMotion3-1"
		"OnPressed" "explosion_debrisDisable5-1"
		"OnPressed" "path0_prtOpen20-1"
		"OnPressed" "path0_prt2Open20-1"
	}
}
add:
; --- Fix survivors getting punched onto bus and porta potty by tank
{
	"origin" "1302 1331 -3656"
	"mins" "-20 -20 -25"
	"maxs" "600 200 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "1204 1336 -3716"
	"mins" "-15 -20 -0.1"
	"maxs" "58 75 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
filter:
; --- Open up side path room
{
	"hammerid" "1992759"
}
{
	"targetname" "path0_brush4"
}
{
	"targetname" "path0_navblock"
}
add:
{
	"origin" "178 914.5 -3692"
	"angles" "0 180 0"
	"model" "*260"
	"Solidity" "2"
	"classname" "func_brush"
}
{
	"classname" "prop_dynamic"
	"origin" "47 970 -3744"
	"angles" "0 180 0"
	"model" "models/props/cs_office/vending_machine.mdl"
	"solid" "6"
	"skin" "1"
	"disableshadows" "1"
}
filter:
;--- Remove glowing non-hittable and replace with a dynamic prop
{
	"hammerid" "2151795"
}
modify:
{
	match:
	{
		"hammerid" "2151811"
	}
	replace:
	{
		"parentname" "newcar6"
	}
}
add:
{
	"origin" "1384 496.105 -3853"
	"targetname" "newcar6"
	"solid" "6"
	"disableshadows" "1"
	"rendercolor" "255 255 255"
	"model" "models/props_vehicles/cara_95sedan.mdl"
	"angles" "-0.0697843 149.999 1.99878"
	"classname" "prop_dynamic"
}
; --- improve clipping in SI spawning room near first alleyway so you don't have to crouch/jump into the windows
{
	"origin" "1822 1225 -3565"
	"mins" "0 0 0"
	"maxs" "0.1 48 22"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "2222 1225 -3565"
	"mins" "-0.1 0 0"
	"maxs" "0 48 25"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	"origin" "2222 1353 -3565"
	"mins" "-0.1 0 0"
	"maxs" "0 48 25"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Switch entrance on truck room to be back instead
filter:
{
	"hammerid" "629603"
}
{
	"targetname" "path1_block2"
}
{
	"targetname" "path1_block"
}
{
	"targetname" "path1_box"
}
{
	"targetname" "path1_relay"
}
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "3424 1671 -3781"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"origin" "3383 1772 -3782"
	"solid" "6"
	"model" "models/props_doors/roll-up_door_full.mdl"
	"disableshadows" "1"
	"angles" "0 0 0"
	"classname" "prop_dynamic"
}
{
	"classname" "logic_auto"
	"OnMapSpawn" "garage_nav_block,AddOutput,mins -5 0 -6,0,-1"
	"OnMapSpawn" "garage_nav_block,AddOutput,maxs 5 90 6,0,-1"
	"OnMapSpawn" "garage_nav_block,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "garage_nav_block,BlockNav,,1,-1"
}
{
	"classname" "func_nav_blocker"
	"origin" "3373 1726 -3781"
	"targetname" "garage_nav_block"
	"teamToBlock" "-1"
	"affectsFlow" "1"
}
; --- block shelves for survivors
{
	"origin" "3760 1626 -3640"
	"mins" "-340 -57 0"
	"maxs" "0 95 20"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "3826 1885 -3640"
	"mins" "-152 0 0"
	"maxs" "0 50 20"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "3419 2234 -3640"
	"mins" "0 0 0"
	"maxs" "1 50 40"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Add extra ladder to room above post-one way 
{
	"model" "*239"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6621.00 -3300.50 -6.00"
	"angles" "0.00 450.00 0.00"
}
; --- Improve clipping on above ladder
{
	"origin" "4701 1678 -3411"
	"mins" "0 0 0"
	"maxs" "3 95 2"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Improve clipping on ladder into window near it
{
	"origin" "5098 1619 -3526"
	"mins" "0 0 0"
	"maxs" "50 1 2"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Remove last dumpsters to make tank fight possible
filter:
{
	"hammerid" "227316"
}
{
	"hammerid" "224859"
}
add:
; --- Extra ladder in plank alley at end
{
	"model" "*125"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-520.00 3.00 0.00"
	"angles" "0.00 0.00 0.00"
}
filter:
; --- Remove pill spawn outside end saferoom
{
	"hammerid" "2815312"
}
add:
; --- boxes to spawn at outside saferoom
{
	"classname" "prop_dynamic"
	"origin" "5864 -976 -3973"
	"angles" "0 135 0"
	"model" "models/props/cs_militia/boxes_garage_lower.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; =====================================================
;---- Make random Tier 1 spawn a Shotgun and place an Uzi near it.
modify:
{
	match:
	{
		"targetname" "vs_tier1"
	}
	replace:
	{
		"weapon_selection" "tier1_shotgun"
	}
}
add:
{
	"origin" "-418 933 -6"
	"weapon_selection" "any_smg"
	"spawn_without_director" "1"
	"solid" "6"
	"count" "5"
	"angles" "0 161 -90"
	"classname" "weapon_spawn"
}

;---- Fix Randoming Pathing/Weapon Spawns. (Forced to take the longer route)
filter:
{
	;Path Picker 2.
	"hammerid" "2411828"
}
{
	;Path Picker 1.
	"hammerid" "2411730"
}
	;Query.
	"hammerid" "1951907"
}
modify:
{
	match:
	{
		"hammerid" "66462"
	}
	delete:
	{
		"OnPressed" "path_pickerPickRandom0-1"
	}
}
;----- Prevent Horde Settings, Add our own VScript
{
	match:
	{
		"targetname" "elevator stop relay"
	}
	delete:
	{
		"OnTrigger" "directorBeginScriptsb_map1_default0-1"
	}
	insert:
	{
		"OnTrigger" "directorBeginScriptsb_map1_default_promod0-1"
	}
}
