; --- Fix Catacomb upper ladder
modify:
{
	match:
	{
		"hammerid" "1941599"
	}
	insert:
	{
		"origin" "-7.00 0.00 0.00"
	}
}
; --- Remove randomness
modify:
{
	match:
	{
		"hammerid" "311825"
	}
	delete:
	{
		"OnMapSpawn" "weapons_spawn_casePickRandomShuffle0-1"
	}
	insert:
	{
		"OnMapSpawn" "weapons_spawn_1_templateForceSpawn0-1"
		"OnMapSpawn" "weapons_spawn_2_templateForceSpawn0-1"
		"OnMapSpawn" "weapons_spawn_5_templateForceSpawn0-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "932702"
	}
	replace:
	{
		"spawnflags" "2"
	}
}

