; --- Remove intro models
filter:
{
	"targetname" "credits_title_mdl"
}
; --- Cricket in saferoom
{
	"targetname" "florescent_light_1_sound_2"
}
; --- Add some ladders
add:
; --- Saferoom rock
{
	"model" "*62"
	"normal.z" "0.16"
	"normal.y" "-0.70"
	"normal.x" "-0.69"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-317.19 -362.53 -160.17"
	"angles" "0.00 -30.00 -10.00"
}
{
	"model" "*63"
	"normal.z" "0.16"
	"normal.y" "-0.14"
	"normal.x" "0.97"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "175.89 -1918.40 86.22"
	"angles" "0.00 280.00 10.00"
}
; --- Left path
{
	"model" "*60"
	"normal.z" "0.00"
	"normal.y" "0.92"
	"normal.x" "0.37"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3315.00 -2924.00 26.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*51"
	"normal.z" "0.00"
	"normal.y" "-0.96"
	"normal.x" "-0.25"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4905.30 -8208.99 -62.00"
	"angles" "0.00 135.00 0.00"
}
{
	"model" "*55"
	"normal.z" "0.16"
	"normal.y" "-0.77"
	"normal.x" "-0.60"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "640.54 -587.34 -737.30"
	"angles" "0.00 -15.00 -10.00"
}
; --- Right path
{
	"model" "*65"
	"normal.z" "0.33"
	"normal.y" "0.15"
	"normal.x" "-0.92"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3850.09 -823.00 -477.40"
	"angles" "0.00 270.00 -20.00"
}
{
	"model" "*50"
	"normal.z" "0.00"
	"normal.y" "0.73"
	"normal.x" "-0.68"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-12.86 -4298.85 -154.00"
	"angles" "0.00 255.00 0.00"
}
{
	"model" "*56"
	"normal.z" "0.00"
	"normal.y" "-0.84"
	"normal.x" "-0.53"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1113.21 -1057.27 -29.00"
	"angles" "0.00 -10.00 0.00"
}
{
	"model" "*57"
	"normal.z" "0.00"
	"normal.y" "0.86"
	"normal.x" "-0.49"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-10493.49 2558.49 30.00"
	"angles" "0.00 90.00 0.00"
}
; --- Survivor ladders into dumpster
{
	"model" "*38"
	"normal.z" "0.00"
	"normal.y" "0.92"
	"normal.x" "0.38"
	"team" "0"
	"classname" "func_simpleladder"
	"origin" "1842.69 -3292.42 137.00"
	"angles" "0.00 25.00 0.00"
}
{
	"model" "*38"
	"normal.z" "0.00"
	"normal.y" "0.92"
	"normal.x" "0.38"
	"team" "0"
	"classname" "func_simpleladder"
	"origin" "1577.69 -3202.42 137.00"
	"angles" "0.00 25.00 0.00"
}
; --- Infected ladder onto dumpster
{
	"model" "*30"
	"normal.z" "0.00"
	"normal.y" "-0.32"
	"normal.x" "0.94"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-4123.79 -7869.13 -3.18"
	"angles" "0.00 218.00 0.00"
}
; --- Shed near dumpster
{
	"model" "*30"
	"normal.z" "0.00"
	"normal.y" "0.84"
	"normal.x" "0.52"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-244.43 -8711.60 18.00"
	"angles" "0.00 295.00 0.00"
}
; --- End side cliff
{
	"model" "*62"
	"normal.z" "0.25"
	"normal.y" "-0.87"
	"normal.x" "-0.40"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1556.34 -5241.91 -321.65"
	"angles" "0.00 -10.00 -15.00"
}
{
	"model" "*62"
	"normal.z" "0.25"
	"normal.y" "-0.93"
	"normal.x" "-0.24"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2653.00 -5590.87 -301.65"
	"angles" "0.00 0.00 -15.00"
}
; --- End shed
{
	"model" "*42"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7836.50 -6191.50 0.00"
	"angles" "0.00 270.00 0.00"
}
; --- End saferoom
{
	"model" "*68"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "550.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*42"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1024.00 -1124.00 16.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*42"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2360.00 -15469.00 10.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*41"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "186.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*50"
	"normal.z" "0.00"
	"normal.y" "-0.84"
	"normal.x" "-0.52"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2623.00 -2385.00 -2.00"
	"angles" "0.00 0.00 0.00"
}
; --- Fix infected clip removal stuck spot at end
add:
{
	"model" "*77"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-564.00 0.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Remove some wrong ways
filter:
; --- Above end saferoom
{
	"hammerid" "1069532"
}
; --- Behind end saferoom
{
	"hammerid" "1068908"
}
; --- Random Horde Scripts
{
	"targetname" "Trigger_Script_Forest"
}
{
	"targetname" "Trigger_Script_Forest_Bis"
}
;----- Make sure it's the same path on both sides (Non-Barricaded)
;modify:
;{
;	match:
;	{
;		"targetname" "director"
;	}
;	delete:
;	{
;		"OnGameplayStart" "barricade_casePickRandom0-1"
;	}
;	insert:
;	{
;		"OnGameplayStart" "barricade_navblockerUnblockNav0-1"
;	}
;}

;----- Get rid of Minigun at end Saferoom
;filter:
;{
;	"hammerid" "464763"
;}
