;---- Prevent Dynamic Pathing - Leave it open for both Sides.
modify:
{
	match:
	{
		"hammerid" "99293"
	}
	delete:
	{
		"OnGameplayStart" "barricade_casePickRandom0-1"
	}
	insert:
	{
		"OnGameplayStart" "barricade_navblockerUnblockNav0-1"
	}
}
; --- Remove crow event
filter:
{
	"hammerid" "6145498"
}
add:
; --- Extra ladders onto train tunnel
{
	"model" "*209"
	"normal.z" "0.00"
	"normal.y" "-0.73"
	"normal.x" "-0.67"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "421.00 -432.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*208"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2.00 -621.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder over train in tunnel
{
	"model" "*231"
	"normal.z" "0.00"
	"normal.y" "0.97"
	"normal.x" "-0.21"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-776.00 -1371.00 -74.00"
	"angles" "0.00 0.00 0.00"
}
; --- Prop in train tunnel
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-8774 -6904 -256"
	"angles" "0 120 0"
	"model" "models/props_rooftop/train_signalbox_01.mdl"
	"classname" "prop_dynamic"
}
; --- Ladders over white walls on train
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-31.00 -1528.00 -16.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-12600.00 -11648.00 -16.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*217"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2611.00 -11834.00 -164.00"
	"angles" "0.00 270.00 0.00"
}
; --- Ladders over fences at train side
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-11402.50 -148.50 18.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-9414.50 -148.50 18.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*208"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1213.00 -691.00 -399.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "794.50 -13241.50 18.00"
	"angles" "0.00 270.00 0.00"
}
; --- Extra train cliff ladders
{
	"model" "*236"
	"normal.z" "0.00"
	"normal.y" "-0.98"
	"normal.x" "-0.17"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1153.42 -138.14 55.99"
	"angles" "0.00 -10.00 0.00"
}
{
	"model" "*240"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "116.00 0.00 -148.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*217"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "900.00 361.00 -81.00"
	"angles" "0.00 0.00 0.00"
}
; --- Prop in train path
{
	"solid" "6"
	"disableshadows" "1"
	"origin" "-2636 -6680 -257"
	"angles" "0 180 0"
	"model" "models/props_rooftop/train_signalbox_01.mdl"
	"classname" "prop_dynamic"
}
; --- Extra ladders onto/around yellow road building
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-12832.00 -10179.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "143.00 -9.00 -24.00"
	"angles" "0.00 0.00 0.00"
}
; --- Extra ladders around blue tarped road building
{
	"model" "*214"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5430.00 5645.00 -337.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*215"
	"normal.z" "0.16"
	"normal.y" "0.98"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5430.00 5645.00 -337.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1196.00 -11585.00 166.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-8663.00 997.00 144.00"
	"angles" "0.00 90.00 0.00"
}
; --- Extra ladder onto cliff on train route
{
	"model" "*209"
	"normal.z" "0.00"
	"normal.y" "-0.67"
	"normal.x" "0.73"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-8844.00 3933.00 -100.00"
	"angles" "0.00 90.00 0.00"
}
; --- Clipping for above ladder
{
	"origin" "-1400 -5827 220"
	"mins" "-70 -20 -1"
	"maxs" "0 40 0"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- train route train ladder
{
	"model" "*216"
	"normal.z" "0.00"
	"normal.y" "-0.14"
	"normal.x" "-0.98"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-8793.48 2044.55 -49.00"
	"angles" "0.00 100.00 0.00"
}
; --- Ladder onto walkway in log warehouse
{
	"model" "*266"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-502.00 -2559.00 -26.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder onto army tents
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-7428.00 -6886.00 -32.00"
	"angles" "0.00 180.00 0.00"
}
; --- fix army tent stuck spots
{
	"origin" "-1300 -1320 -146"
	"mins" "0 -100 -100"
	"maxs" "140 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-1649 -1674 -212"
	"mins" "0 -140 -60"
	"maxs" "20 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-1654 -1216 -212"
	"mins" "0 -130 -60"
	"maxs" "20 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-1654 -977 -212"
	"mins" "0 -130 -60"
	"maxs" "20 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- army tent warehouse ladder
{
	"model" "*208"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5343.00 -8286.00 -297.00"
	"angles" "0.00 270.00 0.00"
}
; --- Ladders onto yellow old-crow shack
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3763.00 -8895.50 0.00"
	"angles" "0.00 630.00 0.00"
}
{
	"model" "*232"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-6073.50 3841.50 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- Fences at warehouse entrance
{
	"model" "*277"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5.00 600.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- Warehouse log roof
{
	"model" "*208"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "8478.00 6068.00 -64.00"
	"angles" "0.00 0.00 0.00"
}
