;---- Remove the Miniguns
filter:
{
	"classname" "prop_minigun_l4d1"
}
add:
; --- Add ammo pile to flared middle area
{
	"classname" "weapon_ammo_spawn"
	"origin" "3788 2379 392"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
