; --- Buff subway
add:
{
	"solid" "6"
	"angles" "0 270 0"
	"origin" "2648 4848 -240"
	"disableshadows" "1"
	"model" "models/props_equipment/ticketmachine.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"angles" "0 270 0"
	"origin" "3240 3555 -200"
	"disableshadows" "1"
	"model" "models/props_debris/barricade_tall01a.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"skin" "1"
	"angles" "0 160 0"
	"origin" "2860 3260 -240"
	"disableshadows" "1"
	"model" "models/props/cs_office/vending_machine.mdl"
	"classname" "prop_dynamic"
}
{
	"solid" "6"
	"skin" "1"
	"angles" "0 270 0"
	"origin" "3290 3210 -240"
	"disableshadows" "1"
	"model" "models/props/cs_office/vending_machine.mdl"
	"classname" "prop_dynamic"
}
