add:
; --- first hit buff
{
	"model" "*241"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "11101.00 6049.00 246.00"
	"angles" "0.00 180.00 0.00"
}
{
	"solid" "6"
	"angles" "0 180 90"
	"origin" "3066 3021 -12"
	"disableshadows" "1"
	"model" "models/props_unique/zombiebreakwallinterior01_concrete_dm_part04.mdl"
	"classname" "prop_dynamic_override"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_update/concrete_128.mdl"
	"solid" "6"
	"origin" "3006 3021 11.9"
}
filter:
{
	"hammerid" "10114891"
}
add:
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_interiors/concretepillar01.mdl"
	"solid" "6"
	"origin" "3280 3012 80"
	"minhealthdmg" "999999"
}
{
	"classname" "prop_dynamic"
	"angles" "180 0 0"
	"disableshadows" "1"
	"model" "models/props_interiors/concretepillar01.mdl"
	"solid" "6"
	"origin" "3280 3012 208.5"
	"minhealthdmg" "999999"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_interiors/concretepillar01.mdl"
	"solid" "6"
	"origin" "3280 3012 337"
	"minhealthdmg" "999999"
}
; --- Ladder in event pipe room
{
	"model" "*275"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-134.00 -748.00 -11.00"
	"angles" "0.00 0.00 0.00"
}
; --- Force survivors to press train after hitting button
modify:
{
	match:
	{
		"targetname" "relay_power_on"
	}
	delete:
	{
		"OnTrigger" "relay_panic_train_moveTrigger2-1"
		"OnTrigger" "directorPanicEvent4-1"
	}
	insert:
	{
		"OnTrigger" "panic_trainStartGlowing0.5-1"
		"OnTrigger" "new_event_buttonUnlock0.5-1"
	}
}
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "new_event_button,AddOutput,maxs 150 120 140,0,-1"
	"OnMapSpawn" "new_event_button,AddOutput,solid 2,0,-1"
}
{
	"targetname" "new_event_button"
	"use_time" "3"
	"use_string" "Push that thing!"
	"use_sub_string" "Push that thing!"
	"spawnflags" "2048"
	"origin" "7397 2798 -336"
	"classname" "func_button_timed"
	"OnTimeUp" "relay_panic_train_moveTrigger0.5-1"
	"OnTimeUp" "directorPanicEvent2-1"
	"OnTimeUp" "new_event_buttonKill0-1"
	"OnTimeUp" "panic_trainStopGlowing0.5-1"
}
; --- Buff event holdout
filter:
{
	"hammerid" "11635807"
}
{
	"hammerid" "11635802"
}
{
	"hammerid" "10857188"
}
add:
{
	"classname" "prop_dynamic"
	"angles" "270 0 0"
	"disableshadows" "1"
	"model" "models/props_pipes/destroyedpipes01b.mdl"
	"solid" "0"
	"origin" "8294 2990 -20"
}
{
	"classname" "prop_dynamic"
	"angles" "90 0 0"
	"disableshadows" "1"
	"model" "models/props_pipes/destroyedpipes01c.mdl"
	"solid" "0"
	"origin" "8294 2982.5 -174"
}
{
	"origin" "8296 2966 -152"
	"mins" "-23 0 0"
	"maxs" "0 58 50"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "8280 2966 -82"
	"mins" "0 0 0"
	"maxs" "32 58 68"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"classname" "prop_dynamic"
	"angles" "270 0 0"
	"disableshadows" "1"
	"model" "models/props/de_nuke/crate_extralarge.mdl"
	"solid" "6"
	"origin" "8500 3044 -104"
}