; Undead Zone 4
; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; --- Run nav fixes script
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "director,RunScriptFile,nav_fixes/uz_bunker_navfixes,20,-1"
}
; --- remove orange color correction
filter:
{
	"hammerid" "593676"
}
; --- filter misleading ladders that don't work
{
	"hammerid" "778381"
}
{
	"hammerid" "778389"
}
{
	"hammerid" "778435"
}
{
	"hammerid" "778455"
}
; --- Remove early pill spawns
filter:
{
	"hammerid" "777492"
}
{
	"hammerid" "777494"
}
{
	"hammerid" "777512"
}
{
	"hammerid" "777514"
}
{
	"hammerid" "777524"
}
{
	"hammerid" "777526"
}
{
	"hammerid" "777532"
}
{
	"hammerid" "777534"
}
{
	"hammerid" "777548"
}
{
	"hammerid" "777550"
}
{
	"hammerid" "777556"
}
{
	"hammerid" "777558"
}
{
	"hammerid" "777564"
}
{
	"hammerid" "777566"
}
{
	"hammerid" "777576"
}
{
	"hammerid" "777578"
}
{
	"hammerid" "777851"
}
; --- Side Area pills
{
	"hammerid" "777732"
}
{
	"hammerid" "777738"
}
{
	"hammerid" "777740"
}
; --- End pills
{
	"hammerid" "777767"
}
{
	"hammerid" "777769"
}
{
	"hammerid" "777775"
}
modify:
{
	match:
	{
		"classname" "info_map_parameters_versus"
	}
	replace:
	{
		"PainPillDensity" "12"
	}
}
add:
; --- Add a pill spawn to forklift room
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "0"
	"origin" "-2346 -1858 484"
	"angles" "0 0 0"
}
; --- Add a pill spawn to closet before spiral staircase
{
	"classname" "weapon_pain_pills_spawn"
	"origin" "-1186 -1429 448"
	"angles" "0 -90 0"
}
; --- Add a pill spawn to end of water
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "0"
	"origin" "-1312 -480 0"
	"angles" "0 1315 0"
}
; --- Add a pill to top of elevator
{
	"classname" "weapon_pain_pills_spawn"
	"spawnflags" "0"
	"origin" "-717 629 1154"
	"angles" "0 270 0"
}
; --- Add ammo spawn to top of ladder in water room
add:
{
	"classname" "weapon_ammo_spawn"
	"origin" "-2262 -1246 0"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Make the vents use l4d2_slowdown_control to increase crouch speed
add:
{
	"targetname" "filter_infected"
	"Negated" "Allow entities that match criteria"
	"filterteam" "3"
	"classname" "filter_activator_team"
}
{
	"model" "*92"
	"classname" "trigger_multiple"
	"origin" "-4016 -1160 496"
	"targetname" "l4d2_slowdown_crouch_speed"
	"spawnflags" "1"
	"allowghost" "1"
	"filtername" "filter_infected"
}
{
	"model" "*68"
	"classname" "trigger_multiple"
	"origin" "80 824 80"
	"targetname" "l4d2_slowdown_crouch_speed"
	"spawnflags" "1"
	"allowghost" "1"
	"filtername" "filter_infected"
}
; --- Ladder over rubble before silo cyllinder
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-5781.00 -2093.00 -794.00"
	"angles" "0.00 0.00 0.00"
}
; --- Move fortress weapons to outside of it
modify:
{
	match:
	{
		"hammerid" "148981"
	}
	replace:
	{
		"origin" "-4855 -1470 448"
		"angles" "0 250 90"
	}
}
{
	match:
	{
		"hammerid" "148983"
	}
	replace:
	{
		"origin" "-4855 -1410 448"
		"angles" "0 275 90"
	}
}
add:
; --- Silo ladder
{
	"model" "*23"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-2078.10 -2088.00 -486.00"
	"angles" "0.00 90.00 0.00"
}
{
	"origin" "-3968 -2112 448"
	"mins" "-8.2 0 0"
	"maxs" "0 128 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- silo yesdraw
{
	"classname" "prop_dynamic"
	"origin" "-4252.5 -1915.5 1132"
	"angles" "0 -75 0"
	"solid" "0"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-4036 -1857.5 1132.1"
	"angles" "0 -75 0"
	"solid" "0"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"targetname" "silo_light_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "-3847.9 -1984 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-4472.1 -1984 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-3847.9 -2240 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-4472.1 -2240 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-3847.9 -1728 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-4472.1 -1728 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-4224.1 -1728 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-3968.1 -1728 1116.1"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-3968 -2286 1116.1"
	"angles" "0 45 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-4352 -2286 1116.1"
	"angles" "0 45 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
{
	"classname" "prop_dynamic"
	"origin" "-4160 -2360.1 1116"
	"angles" "0 0 0"
	"solid" "6"
	"model" "models/props_update/concrete_256.mdl"
	"disableshadows" "1"
	"lightingorigin" "silo_light_fix"
	"rendercolor" "200 158 67"
}
; --- Clip body bags in hall before forklifts
{
	"origin" "-3616 -2047 448"
	"mins" "0 0 0"
	"maxs" "100 100 16"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- clip off body bags in forklift room to make movement on it cleaner
{
	"origin" "-2698 -1761 416"
	"mins" "-9 -145 -0.1"
	"maxs" "133 0.1 13"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- block survivors from getting onto pipes in forklift room
{
	"origin" "-2425 -2304 587"
	"mins" "-280 0 -0.1"
	"maxs" "0 143 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- ladder for easy access up spiral staircase
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "0.98"
	"normal.x" "0.17"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-910.85 -683.89 -967.65"
	"angles" "0.00 170.00 0.00"
}
; --- clipping for staircase ladder for survivors
{
	"origin" "-1093 -1906 393"
	"mins" "-135 0 -240"
	"maxs" "0 0.1 0.1"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- ladders for better movement in pipe/water area
{
	"model" "*30"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3223.62 -2693.05 -1399.23"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*30"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3167.03 -2477.05 -1215.21"
	"angles" "0.00 90.00 0.00"
}
; --- clipping for new pipe ladder
{
	"origin" "-2483 -1265 -72"
	"mins" "-0.1 -222 -0.1"
	"maxs" "50 0.1 0.1"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- block some pipes in pipe room from survivors (CI pathing issues)
{
	"origin" "-2082 -2014 -85"
	"mins" "-21 -35 -200"
	"maxs" "0.1 0.1 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "-2639.5 -1642 -100"
	"mins" "-49 -0.1 -200"
	"maxs" "0.1 74 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "-2400 -1494 10"
	"mins" "-293 -106 -40"
	"maxs" "0.1 0.1 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "-2688 -1323 -40"
	"mins" "-0.1 -71 -0.1"
	"maxs" "13 0.1 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "-2540.5 -935 -45"
	"mins" "-116 -0.1 -0.1"
	"maxs" "0.1 41 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "-2689 -1000 -45"
	"mins" "-0.1 -0.1 -0.1"
	"maxs" "34 250 300"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "-1446 -1175 100"
	"mins" "-0.1 -13 -200"
	"maxs" "310 0.1 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Clipping for hallway in pipe room
{
	"origin" "-2702 -1112 0"
	"mins" "-216 0 0"
	"maxs" "0 64 17"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-2697 -1074 44"
	"mins" "-182 0 0"
	"maxs" "0 20 66"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- give infected access to tunnel before decontamination
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1460.35 -1515.03 -1271.98"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*72"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "489.03 -164.11 -1271.98"
	"angles" "0.00 90.00 0.00"
}
; --- block survivors from jumping into tunnel
{
	"origin" "-670 -39 0"
	"mins" "-95 -0 -0"
	"maxs" "0 39 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- props to help show that a grate isn't able to be boomed or smoked through
{
	"classname" "prop_dynamic"
	"origin" "-220 -385 126"
	"angles" "0 90 0"
	"solid" "0"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-292 -385 126"
	"angles" "0 90 0"
	"solid" "0"
	"rendercolor" "255 255 255"
	"model" "models/props_urban/metal_plate001.mdl"
	"disableshadows" "1"
}
; --- block survivors from getting onto thin pipes in decontamination
{
	"origin" "-167 45 150"
	"mins" "-68 -0.1 -0.1"
	"maxs" "0.1 80 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- block survivors from jumping onto pipes before the elevator
{
	"origin" "-246 736 136"
	"mins" "-143 -17 -0.1"
	"maxs" "0.1 0.1 200"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- add extra spawn to elevator bottom
;{
;	"classname" "prop_dynamic"
;	"angles" "0 0 0"
;	"disableshadows" "1"
;	"model" "models/props/de_nuke/crate_small.mdl"
;	"solid" "6"
;	"origin" "0 635 0"
;}
;{
;	"classname" "prop_dynamic"
;	"angles" "0 0 0"
;	"disableshadows" "1"
;	"model" "models/props/de_nuke/crate_small.mdl"
;	"solid" "6"
;	"origin" "0 635 64"
;}
; --- fix elevator trigger being too generous for survivors
modify:
{
	match:
	{
		"hammerid" "49281"
	}
	replace:
	{
		"origin" "-128 857 68"
	}
}
;--- ladder fixing outside
{
	match:
	{
		"hammerid" "447758"
	}
	insert:
	{
		"origin" "-6.00 1.00 27.00"
	}
}
{
	match:
	{
		"hammerid" "447527"
	}
	insert:
	{
		"origin" "7.00 -3.00 0.00"
	}
}
{
	match:
	{
		"hammerid" "447535"
	}
	insert:
	{
		"origin" "-10.00 -25.00 3.84"
	}
}
{
	match:
	{
		"hammerid" "571015"
	}
	insert:
	{
		"origin" "-14.00 0.00 0.00"
	}
}
{
	match:
	{
		"hammerid" "571025"
	}
	insert:
	{
		"origin" "14.00 0.00 2.00"
	}
}
{
	match:
	{
		"hammerid" "489013"
	}
	insert:
	{
		"origin" "-5.00 0.00 17.00"
	}
}
; --- Prop for ladders
add:
{
	"classname" "prop_dynamic"
	"angles" "90 0 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-1410 -258 40"
}
{
	"classname" "prop_dynamic"
	"angles" "90 90 0"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset02d_128_001a_fixednormals.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-766 -113 40"
}
{
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_rooftop/gutter_pipe_256.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "37 1264 1360"
}
; --- Fix surf spots between rocks to right after elevator
{
	"origin" "386 1216 1220"
	"mins" "0 0 -64"
	"maxs" "124 52 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "596 1056 1216"
	"mins" "-60 0 -64"
	"maxs" "20 100 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Fix getting stuck on tent to right of elevator end
{
	"classname" "prop_dynamic"
	"origin" "962 719 1156"
	"angles" "0 20 4"
	"model" "models/props_exteriors/sandbags_straight_nobump.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Fix surf spot between rock and fence near above tent
{
	"origin" "1092 256 1190"
	"mins" "0 0 -32"
	"maxs" "20 30 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- prevent death smoke after openable fence
{
	"origin" "-428 1190 1160"
	"mins" "-284 -2 0"
	"maxs" "0 0 36"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "-557 1156 1160"
	"mins" "0 0 0"
	"maxs" "63 34 36"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Ammo pile at truck after elevator
{
	"classname" "weapon_ammo_spawn"
	"origin" "-805 804 1154"
	"angles" "0 45 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
; --- Fix dumb accidental ledges on front of truck
{
	"classname" "prop_dynamic"
	"origin" "-1100 1086 1145"
	"angles" "0 90 5"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Further patch up death fall on pipe bridge
{
	"classname" "prop_dynamic"
	"origin" "-1440 1490 915"
	"angles" "0 90 -5"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "-1380 1490 920"
	"angles" "0 90 -5"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"origin" "-1463 1534 928"
	"mins" "0 -100 -1"
	"maxs" "130 0 1"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- fix stuck spot at rock at bridge
{
	"origin" "-1388.5 746.5 1190"
	"mins" "-1 -33 -5"
	"maxs" "15 64 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- ladder to escape stuck spot at very end saferoom
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-6428.43 2687.03 -13.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*49"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-574.03 -45.19 -39.96"
	"angles" "0.00 0.00 0.00"
}
; =====================================================
; Remove circular path with computer button event - no distance points rewarded
modify:
{
	match:
	{
		"targetname" "computer_front_button"
	}
	delete:
	{
		"OnPressed" "directorForcePanicEvent4-1"
	}
}
{
	match:
	{
		"hammerid" "49208"
	}
	delete:
	{
		"OnReachedTop" "computer_front_button_propStartGlowing0-1"
	}
}
{
	match:
	{
		"targetname" "relay_datataken"
	}
	delete:
	{
		"OnTrigger" "finale_gate_doorOpen0-1"
	}
}
{
	match:
	{
		"targetname" "func_elevator"
	}
	insert:
	{
		"OnReachedTop" "finale_gate_doorOpen0-1"
	}
}
{
	match:
	{
		"targetname" "finale_gate_door"
	}
	replace:
	{
		"speed" "25"
	}
}

; Block death charges
add:
{
	"classname" "prop_dynamic"
	"origin" "-1523 1353 939"
	"angles" "0 90 -180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_512_001a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1523 1033 939"
	"angles" "0 90 180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_mill/pipeset08d_128_001a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1526 981 930"
	"angles" "0 359.5 -180"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_lab/powerbox01a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-957 1921 1072"
	"angles" "-5.24309 18.4325 19.9462"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_swamp/boardwalk_rail_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1055 2112 1138"
	"angles" "0 48 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_swamp/boardwalk_rail_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-984 1729 954"
	"angles" "1.84733 342.911 28.0548"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_swamp/boardwalk_rail_256.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1026 1561 950"
	"angles" "0 41.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_pipes/pipeset08d_128_001a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-979 1613 952"
	"angles" "0 138.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_lab/powerbox01a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1086 1512 951"
	"angles" "0 130.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_lab/powerbox01a.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-405 1192 1156.2"
	"angles" "0 180 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_crates/static_crate_40.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-931 3951 1148"
	"angles" "0 175.5 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/guardrail001_128.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1006 3958 1148"
	"angles" "0 171 0"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/guardrail001_corner.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-859 3946 1149"
	"angles" "-0.759596 175.527 -2.36701"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/guardrail002_corner.mdl"
}
{
	"classname" "prop_dynamic"
	"origin" "-1632 837 950"
	"angles" "0.907835 153.014 1.78216"
	"solid" "6"
	"rendercolor" "255 255 255"
	"disableshadows" "1"
	"model" "models/props_urban/fence003_128.mdl"
}
; --- Map 5 consistency
{
	"classname" "prop_dynamic"
	"origin" "-2148 3870 1152"
	"angles" "0 90 0"
	"model" "models/props_vehicles/army_truck.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Lighting FPS Fix
modify:
{
	match:
	{
		"hammerid" "21971"
	}
	replace:
	{
		"pattern" "z"
	}
}
modify:
{
	match:
	{
		"hammerid" "25940"
	}
	replace:
	{
		"pattern" "z"
	}
}
