; Open Road 5
; =====================================================
; ================  RL4D2L ADDITIONS  =================
; =====================================================
; By Wicket and Gofu
; --- Run nav fixes script
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "director,RunScriptFile,nav_fixes/x1m5_salvation_navfixes,20,-1"
}
; --- Fix props disappearing by toggling shadows on map start / round change
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "_props_shadow_fix,EnableShadow,,30,-1"
	"OnMapSpawn" "_props_shadow_fix,DisableShadow,,31,-1"	
}
; --- remove crouch trigger above barn
filter:
{
	"hammerid" "592389"
}
; --- make HDR less BRIGHT
modify:
{
	match:
	{
		"hammerid" "563059"
	}
	delete:
	{
		"OnMapSpawn" "tonemap_globalSetAutoExposureMax60-1"
		"OnMapSpawn" "tonemap_global_infectedSetAutoExposureMax60-1"
		"OnMapSpawn" "tonemap_global_infectedSetAutoExposureMin10-1"
		"OnMapSpawn" "tonemap_global_ghostSetAutoExposureMax60-1"
		"OnMapSpawn" "tonemap_global_ghostSetAutoExposureMin10-1"
		"OnMapSpawn" "tonemap_globalSetAutoExposureMin10-1"
	}
	insert:
	{
		"OnMapSpawn" "tonemap_globalSetAutoExposureMax1.50-1"
		"OnMapSpawn" "tonemap_global_infectedSetAutoExposureMax1.50-1"
		"OnMapSpawn" "tonemap_global_infectedSetAutoExposureMin10-1"
		"OnMapSpawn" "tonemap_global_ghostSetAutoExposureMax1.50-1"
		"OnMapSpawn" "tonemap_global_ghostSetAutoExposureMin10-1"
		"OnMapSpawn" "tonemap_globalSetAutoExposureMin10-1"
	}
}
; --- Turn on flares with button press
{
	match:
	{
		"hammerid" "584982"
	}
	insert:
	{
		"OnPressed" "flarelight_1TurnOn5-1"
		"OnPressed" "flarelight_2TurnOn5-1"
		"OnPressed" "flarelight_3TurnOn5-1"
		"OnPressed" "flarelight_4TurnOn5-1"
		"OnPressed" "flarelight_5TurnOn5-1"
	}
}
add:
; --- Extra ladders onto house
{
	"model" "*2"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "8120.50 -356.50 -149.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*2"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7981.50 -475.50 -27.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*2"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-354.50 -6707.50 -27.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*2"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-187.50 -7412.50 -236.00"
	"angles" "0.00 90.00 0.00"
}
; --- Add extra ladders to hedge at beginning
{
	"model" "*34"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7500.00 -8874.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*34"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 300.00 7.00"
	"angles" "0.00 0.00 0.00"
}
; --- Ladder into a place with a former infected clip in corn field - not very useful
{
	"model" "*2"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "670.00 -8244.00 -211.00"
	"angles" "0.00 90.00 0.00"
}
; --- extra spawns to corn field
{
	"classname" "prop_dynamic"
	"origin" "4058 -2664 -1081"
	"angles" "0 90 0"
	"model" "models/props_foliage/urban_tree_giant01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "4336 -1987 -1074"
	"angles" "0 45 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5281 -2200 -1082"
	"angles" "0 0 0"
	"model" "models/props_foliage/urban_tree_giant01_small.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5180 -2975 -1120"
	"angles" "0 60 0"
	"model" "models/props_foliage/urban_hedge_128_64_high.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5180 -2975 -1069"
	"angles" "0 60 0"
	"model" "models/props_foliage/urban_hedge_128_64_high.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5396 -3149 -1080"
	"angles" "0 0 0"
	"model" "models/props_unique/haybails_single.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5602 -3008 -1084"
	"angles" "0 90 0"
	"model" "models/props_foliage/urban_tree_giant01_small.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5202 -3641 -1087"
	"angles" "0 135 0"
	"model" "models/props/de_inferno/hay_bail_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5243 -3259 -1087"
	"angles" "0 160 0"
	"model" "models/props_foliage/urban_hedge_128_64_high.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "4910 -2983 -1050"
	"angles" "0 0 90"
	"model" "models/props_unique/haybails_single.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "5390 -3933 -1095"
	"angles" "0 180 0"
	"model" "models/props_foliage/urban_tree_giant01_small.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- prevent survivors from jumping from hay onto irrigators (lazy clipping)
{
	"origin" "5053 -3624 -916"
	"mins" "-20 -20 0"
	"maxs" "20 20 800"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "5080 -3666 -916"
	"mins" "-20 -20 0"
	"maxs" "20 20 800"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
{
	"origin" "5103 -3702 -916"
	"mins" "-20 -20 0"
	"maxs" "20 20 800"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Ladders onto non-barn buildings
{
	"model" "*26"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "12619.00 -5649.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*42"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10100.00 2568.00 0.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*42"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2425.00 -10248.00 0.00"
	"angles" "0.00 90.00 0.00"
}
; --- extra ladder onto barn
{
	"model" "*32"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3482.00 -11178.00 99.00"
	"angles" "0.00 90.00 0.00"
}
; --- Ladders onto top of barn
{
	"model" "*32"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3360.00 -11177.00 243.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*32"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3360.00 -11806.00 243.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*32"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10784.00 2963.00 243.00"
	"angles" "0.00 270.00 0.00"
}
{
	"model" "*32"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10784.00 3543.00 243.00"
	"angles" "0.00 270.00 0.00"
}
; --- ladders onto a train car near hill holdout spot
{
	"model" "*29"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5027.00 -9738.00 137.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*26"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1161.00 964.00 281.00"
	"angles" "0.00 0.00 0.00"
}
; --- ladders onto train near barn
{
	"model" "*26"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "1255.00 -830.99 279.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*26"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "13995.00 -6781.00 279.00"
	"angles" "0.00 180.00 0.00"
}
; --- Clipping for train to step onto the truck-carrying carts
{
	"origin" "7648 -2334 -800"
	"mins" "-146 -2342 0"
	"maxs" "4 4 8"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Ladders over escape fence
{
	"model" "*33"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3897.00 -10682.00 -18.50"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*33"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "11484.00 4180.00 -18.50"
	"angles" "0.00 270.00 0.00"
}
; --- Extra ladders onto overpass
{
	"model" "*37"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -698.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 167.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 557.00 0.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "0.00 -1337.00 0.00"
	"angles" "0.00 0.00 0.00"
}
; --- block above promod bushes
{
	"origin" "6381 -2073 -871"
	"mins" "-210 0 0"
	"maxs" "100 600 1000"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Add upper area to barn at end
{
	"model" "*37"
	"normal.z" "0.00"
	"normal.y" "1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "11207.00 2944.00 29.00"
	"angles" "0.00 270.00 0.00"
}
; --- props for above ladder
{
	"classname" "prop_dynamic"
	"origin" "7156 -4513 -918"
	"angles" "0 0 90"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7156 -4513 -1046"
	"angles" "0 0 90"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7007.9 -4406 -849.9"
	"angles" "0 90 0"
	"model" "models/props_update/wood_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7135.9 -4406 -849.9"
	"angles" "0 90 0"
	"model" "models/props_update/wood_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7170 -4348 -846"
	"angles" "0 90 0"
	"model" "models/props_fairgrounds/amp_stack_small.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "6974 -4348 -846"
	"angles" "0 90 0"
	"model" "models/props_fairgrounds/amp_stack_small.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7072.1 -3736 -849.9"
	"angles" "0 90 0"
	"model" "models/props_update/wood_256.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7138 -3563 -845"
	"angles" "0 0 0"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7106 -3563 -845"
	"angles" "0 0 0"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"model" "*37"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3116.00 -10960.00 -44.00"
	"angles" "0.00 90.00 0.00"
}
; --- props for above ladder
{
	"classname" "prop_dynamic"
	"origin" "7167 -3503 -918"
	"angles" "0 0 90"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "7167 -3503 -1046"
	"angles" "0 0 90"
	"model" "models/lighthouse/props/wood_plank_128.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Let players walk up onto one hay bale stack
{
	"classname" "prop_dynamic"
	"origin" "7282 -4268 -1118"
	"angles" "0 0 0"
	"model" "models/props/de_inferno/hay_bail_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"lightingorigin" "hay_lighting"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "info_target"
	"origin" "7282 -4268 -1000"
	"targetname" "hay_lighting"
}
{
	"origin" "7248 -4272 -1038"
	"mins" "0 -148 -32"
	"maxs" "72 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "7248 -4404 -1052"
	"mins" "-2 -20 -32"
	"maxs" "72 0 0"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- Block off "area that causes finale to pause"
{
	"classname" "prop_dynamic"
	"origin" "6023 -1591 -1083"
	"angles" "0 0 0"
	"model" "models/props_urban/wood_fence002_256.mdl"
	"solid" "6"
	"rendercolor" "255 225 196"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "6023 -1335 -1083"
	"angles" "0 0 0"
	"model" "models/props_urban/wood_fence002_256.mdl"
	"solid" "6"
	"rendercolor" "255 225 196"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"origin" "6027 -1727 -1083"
	"mins" "-1228 0 0"
	"maxs" "0 600 1063"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- Ladders over white fences to get into blocked-off area
{
	"model" "*11"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "10932.00 -3432.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*11"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "11335.00 -3434.00 0.00"
	"angles" "0.00 180.00 0.00"
}
{
	"model" "*11"
	"normal.z" "0.00"
	"normal.y" "-0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4312.00 -7028.00 0.00"
	"angles" "0.00 90.00 0.00"
}
{
	"model" "*11"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "7733.00 3854.00 0.00"
	"angles" "0.00 270.00 0.00"
}
; --- Props to help with spawns on hill
{
	"classname" "prop_dynamic"
	"origin" "6679 -2754 -919"
	"angles" "0 90 0"
	"model" "models/props_lab/powerbox01a.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
{
	"classname" "prop_dynamic"
	"origin" "6536 -1854 -1020"
	"angles" "0 35 0"
	"model" "models/props_foliage/urban_tree_giant01.mdl"
	"solid" "6"
	"disableshadows" "1"
	"targetname" "_props_shadow_fix"
}
; --- Physics blockers where infected clips are deleted (and need help)
{
	; --- near spawn
	"origin" "5043 -4655 -923"
	"mins" "0 -277 0"
	"maxs" "1 0 903"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
;{
;	; --- near barn
;	"origin" "7054 -4802 -920"
;	"mins" "-1 -631 0"
;	"maxs" "0 0 900"
;	"initialstate" "1"
;	"BlockType" "2"
;	"classname" "env_physics_blocker"
;}
{
	; --- near left train
	"origin" "7462 -1952 -800"
	"mins" "0 0 0"
	"maxs" "52 210 137"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- Bush solidifying
{
	"classname" "prop_dynamic"
	"origin" "3753 -4251 -1097"
	"angles" "0 90 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "3757 -4501 -1101"
	"angles" "0 90 0"
	"model" "models/props_foliage/urban_hedge_256_128_high.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
{
	"classname" "prop_dynamic"
	"origin" "6867.2 -4210 -1035.4"
	"angles" "0 270.5 0"
	"model" "models/props_unique/haybails_single.mdl"
	"solid" "6"
	"disableshadows" "1"
	"rendermode" "10"
}
; =====================================================
; --- Remove all random health spawns
filter:
{
	"classname" "weapon_item_spawn"
	"item4" "1"
}
{
	"classname" "weapon_first_aid_kit_spawn"
}
{
	"hammerid" "617331"
}

; Add our own pill spawns
add:
{
	"origin" "7148 -2875 -1047"
	"angles" "0 90 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "7158 -2875 -1047"
	"angles" "0 220 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "7148 -2865 -1047"
	"angles" "0 40 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}
{
	"origin" "7158 -2865 -1047"
	"angles" "0 23 0"
	"classname" "weapon_item_spawn"
	"spawnflags" "2"
	"item1" "0"
	"item2" "0"
	"item3" "0"
	"item4" "1"
	"item5" "0"
	"item6" "0"
	"item7" "0"
	"item8" "0"
	"item11" "0"
	"item12" "0"
	"item13" "0"
	"item16" "0"
	"item17" "0"
	"item18" "0"
}